/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Ubuntu', sans-serif;
  color: #5E6164;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Russo One', sans-serif;
  color: #23293B;
}
h2 {
  font-size: 3.2rem;
}
h3 {
  font-size: 2.8rem;
}
p {
  font-size: 1.6rem;
  line-height: 1.4;
}
.container {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}
nav {
  display: flex;
  flex-flow: wrap;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  background: lightgrey;
}
nav .header-title {
  font-size: 3em;
}
nav .nav-elements {
  height: 40px;
  flex-flow: row;
  margin-top: 15px;
}
nav .nav-elements a {
  font-size: 2em;
  text-decoration: none;
  color: black;
  background: lightgrey;
  border: none;
  border-radius: 0px;
  margin: 0px 0px 0px 20px;
  padding: 0px;
}
nav .nav-elements a:hover {
  color: white;
  background: lightgray;
}
footer {
  color: #22283B;
  background: #f4f4f4;
  padding: 20px 0;
  border: 1px double #e0e0e0;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
body,
html {
  margin: 0 auto;
  width: 1000px;
}
.home .intro {
  font-size: 2.7em;
  width: 800px;
}
.home .intro .header-image {
  background-image: url("../img/main-header.png");
  width: 800px;
  height: 200px;
  background-repeat: no-repeat;
}
.home .intro h2 {
  padding: 15px;
}
.home .intro p {
  padding: 0 15px;
  font-size: 0.6em;
}
.home .space-images {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.home .space-images img {
  width: 28%;
  margin: 20px 2.5%;
  border-radius: 20px;
  height: 100%;
}
.home .visit-planets {
  width: 800px;
  padding: 15px;
}
.home .visit-planets h3 {
  margin-top: 11px;
}
.home .visit-planets p {
  margin-top: 13px;
}
.home .walk {
  margin-top: 60px;
  border-top: 1px solid #dee2e6;
  padding: 50px 60px;
  display: flex;
  justify-content: center;
}
.home .walk .walk-text {
  width: 50%;
}
.home .walk .walk-text h3 {
  margin-bottom: 10px;
}
.home .walk .walk-text p {
  margin-bottom: 26px;
  font-size: 1.7em;
}
.home .walk .walk-text .btn {
  text-align: center;
  width: 100px;
  font-size: 1.2em;
  text-decoration: none;
  color: white;
  background: #566573;
  border: none;
  border-radius: 10px;
  margin: 0px;
  padding: 10px 15px 10px 15px;
}
.home .walk .walk-img {
  width: 46%;
  margin-left: 4%;
}
.home .walk .walk-img img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}
@media (max-width: 500px) {
  .home .header-image {
    width: 450px;
  }
  .home .sky,
  .home .launch {
    display: none;
  }
  .home .blast {
    background-size: contain;
  }
  .home .walk {
    flex-direction: column;
  }
}
