/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Ubuntu', sans-serif;
  color: #5E6164;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Russo One', sans-serif;
  color: #23293B;
}
h2 {
  font-size: 3.2rem;
}
h3 {
  font-size: 2.8rem;
}
p {
  font-size: 1.6rem;
  line-height: 1.4;
}
.container {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}
header nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15px;
  font: #454A59;
  background-color: #F6F6F6;
}
header nav h1 {
  font-size: 35px;
  margin: 5px;
}
header nav .links {
  width: 450px;
  display: flex;
  justify-content: space-around;
}
header nav a {
  text-decoration: none;
  font-size: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
  justify-content: space-between;
  color: #23293B;
  padding-bottom: 10px;
}
footer {
  color: #22283B;
  background: #f4f4f4;
  padding: 10px 0;
  border: 1px double #e0e0e0;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 500px) {
  footer {
    display: flex;
    justify-content: center;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 30px;
    width: 430px;
    height: 50px;
  }
}
.home .intro .top-image {
  width: 100%;
  border-radius: none;
  display: flex;
  justify-content: center;
}
.home .intro h2 {
  padding: 15px;
}
.home .intro p {
  padding: 0 15px;
}
@media (max-width: 500px) {
  .home .intro p {
    width: 500px;
  }
}
.home .space-images {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.home .space-images .blast,
.home .space-images .sky,
.home .space-images .launch {
  margin: 20px 2.5%;
  border-radius: 20px;
  width: 28%;
  height: 100%;
}
@media (max-width: 500px) {
  .home .space-images .sky,
  .home .space-images .launch {
    display: none;
  }
}
@media (max-width: 500px) {
  .home .space-images .blast {
    width: 100%;
  }
}
.visit-planets {
  padding: 15px;
}
.visit-planets h3 {
  margin-top: 11px;
}
.visit-planets p {
  margin-top: 13px;
}
.walk {
  margin-top: 60px;
  border-top: 1px solid #dee2e6;
  padding: 50px 60px;
  display: flex;
  justify-content: center;
}
@media (max-width: 500px) {
  .walk {
    width: 93%;
    flex-direction: column-reverse;
    padding: 0;
    margin: 20px 2.5%;
  }
}
.walk .walk-text {
  width: 50%;
}
@media (max-width: 500px) {
  .walk .walk-text {
    width: 100%;
  }
}
.walk .walk-text h3 {
  margin-bottom: 10px;
}
.walk .walk-text p {
  margin-bottom: 26px;
}
@media (max-width: 500px) {
  .walk .walk-text div.btn {
    display: flex;
    justify-content: center;
  }
}
.walk .walk-text button {
  background-color: #23293B;
  color: #F1F1F1;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
  height: 15%;
  border-radius: 10px;
}
.walk .walk-text button:hover {
  background-color: orange;
  color: #23293B;
}
@media (max-width: 500px) {
  .walk .walk-text button {
    padding-right: 20px;
    margin-bottom: 40px;
    width: 100%;
    height: 55px;
  }
}
img.walk-img {
  border-radius: 20px;
}
@media (max-width: 500px) {
  img.walk-img {
    padding: 0;
    width: 100%;
    height: 100%;
    margin: 20px 2.5%;
  }
}
