.btn {
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 40px;
  background-color: black;
  color: white;
  font-size: 1.8rem;
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Ubuntu', sans-serif;
  color: #5E6164;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Russo One', sans-serif;
  color: #23293B;
}
h2 {
  font-size: 3.2rem;
}
h3 {
  font-size: 2.8rem;
}
p {
  font-size: 1.6rem;
  line-height: 1.4;
}
.container {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}
.main-navigation {
  width: 100%;
  display: flex;
  background: #F6F6F6;
  height: 90px;
  font-family: #454A59;
  margin: 0 auto;
}
.main-navigation .nav-bar {
  width: 100%;
  max-width: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
  font-size: 2rem;
  justify-content: space-between;
  animation: pulse 5s infinite;
}
@keyframes pulse {
  0% {
    background-color: aquamarine;
  }
  100% {
    background-color: #F6F6F6;
  }
}
@media (max-width: 500px) {
  .main-navigation .nav-bar {
    font-size: 1.6rem;
  }
}
.main-navigation .nav-bar .space {
  margin-top: 15px;
  font-size: 4rem;
}
.main-navigation .nav-bar .nav {
  display: flex;
  justify-content: space-between;
}
.main-navigation .nav-bar .nav a {
  margin: 0 10px;
  text-decoration: none;
  color: #454A59;
  white-space: nowrap;
}
@media (max-width: 500px) {
  .main-navigation .nav-bar .nav a {
    margin: 0 20p;
    white-space: nowrap;
  }
}
.stretch {
  border-bottom: 2px solid aquamarine;
  background: #F6F6F6;
  width: 100%;
  height: 90px;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.stretch nav {
  margin-top: 20px;
}
.stretch nav a {
  text-decoration: none;
  color: black;
  font-style: italic;
  margin: 30px;
}
.stretch nav a:hover {
  text-decoration: underline;
  opacity: 0.5;
}
footer {
  color: #22283B;
  background: #f4f4f4;
  padding: 20px 0;
  border: 1px double #e0e0e0;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.home .header-img {
  width: 100%;
  max-width: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  margin-top: 10px;
}
@media (max-width: 500px) {
  .home .header-img {
    height: 130px;
  }
}
.home .intro h2 {
  padding: 15px;
}
.home .intro p {
  padding: 0 15px;
}
.home .space-images {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
}
@media (max-width: 500px) {
  .home .space-images {
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
  }
  .home .space-images .launch {
    display: none;
  }
  .home .space-images .sky {
    display: none;
  }
}
.home .space-images img {
  width: 28%;
  margin: 20px 2.5%;
  border-radius: 20px;
  height: 100%;
}
@media (max-width: 500px) {
  .home .space-images img {
    width: 90%;
  }
}
.home .visit-planets {
  padding: 15px;
}
.home .visit-planets h3 {
  margin-top: 11px;
}
.home .visit-planets p {
  margin-top: 13px;
}
.home .walk {
  margin-top: 60px;
  border-top: 1px solid #dee2e6;
  padding: 50px 60px;
  display: flex;
  justify-content: center;
}
@media (max-width: 500px) {
  .home .walk {
    border-top: 2px solid #dee2e6;
    flex-direction: column-reverse;
    flex-wrap: wrap;
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    margin-right: 10px;
    padding: 0;
  }
}
.home .walk .walk-text {
  width: 50%;
}
@media (max-width: 500px) {
  .home .walk .walk-text {
    width: 90%;
    max-width: 500px;
    margin-left: 4%;
    margin-top: 10px;
  }
}
.home .walk .walk-text h3 {
  margin-bottom: 10px;
}
.home .walk .walk-text p {
  margin-bottom: 26px;
}
.home .walk .walk-text .btn {
  cursor: pointer;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 40px;
  background-color: black;
  color: white;
  font-size: 1.8rem;
}
@media (max-width: 500px) {
  .home .walk .walk-text .btn {
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 450px;
    height: 70px;
    background-color: #22283A;
    color: white;
    font-size: 1.8rem;
    margin-bottom: 20px;
  }
}
.home .walk .walk-text .btn:hover {
  background: white;
  color: black;
}
@media (max-width: 500px) {
  .home .walk .walk-text .btn:hover {
    border: 1px solid #22283A;
  }
}
.home .walk .walk-img {
  width: 46%;
  margin-left: 4%;
}
@media (max-width: 500px) {
  .home .walk .walk-img {
    width: 90%;
    max-width: 500px;
    justify-content: center;
    align-items: center;
    display: flex;
    margin: 0;
    margin-left: 4%;
    margin-top: 20px;
  }
}
.home .walk .walk-img img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}
@media (max-width: 500px) {
  .home .walk .walk-img img {
    max-width: 500px;
  }
}
footer {
  color: #81848E;
}
@media (max-width: 500px) {
  footer {
    color: #22283A;
    font-weight: bold;
  }
}
.astro {
  display: flex;
}
.astro section {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-top: 20px;
}
.astro img {
  width: 400px;
  height: auto;
  border-radius: 50%;
}
.astro p {
  width: 350px;
  margin-left: 20px;
}
