/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Ubuntu', sans-serif;
  color: #5E6164;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Russo One', sans-serif;
  color: #23293B;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3.2rem;
}
h3 {
  font-size: 2.8rem;
}
p {
  font-size: 1.6rem;
  line-height: 1.4;
}
.container {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}
header {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 2.5%;
  align-items: center;
  background: rgba(241, 241, 241, 0.9);
  position: fixed;
  width: 100%;
  top: 0;
}
header nav {
  padding-top: 15px;
}
header nav a {
  font-size: 1.8rem;
  text-decoration: none;
  padding-right: 15px;
  color: #23293B;
}
header nav a:hover {
  color: #db6220;
}
footer {
  color: #22283B;
  background: #f4f4f4;
  padding: 20px 0;
  border: 1px double #e0e0e0;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.home {
  margin-top: 113px;
}
.home .intro img {
  border-radius: 5px;
}
@media (max-width: 500px) {
  .home .intro img {
    width: 100%;
  }
}
.home .intro h2 {
  padding: 15px;
}
.home .intro p {
  padding: 0 15px;
}
.home .space-images {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.home .space-images img {
  width: 28%;
  margin: 20px 2.5%;
  border-radius: 20px;
  height: 100%;
}
@media (max-width: 500px) {
  .home .space-images .sky {
    display: none;
  }
  .home .space-images .launch {
    display: none;
  }
  .home .space-images .blast {
    width: 95%;
  }
}
.home .visit-planets {
  padding: 15px;
}
.home .visit-planets h3 {
  margin-top: 11px;
}
.home .visit-planets p {
  margin-top: 13px;
}
.home .walk {
  margin-top: 60px;
  border-top: 1px solid #dee2e6;
  padding: 50px 60px;
  display: flex;
  justify-content: center;
}
.home .walk .walk-text {
  width: 50%;
}
.home .walk .walk-text h3 {
  margin-bottom: 10px;
}
.home .walk .walk-text p {
  margin-bottom: 26px;
}
.home .walk .walk-text .btn {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #F1F1F1;
  background: #23293B;
  width: 100px;
  height: 35px;
  font-size: 2rem;
  border-radius: 5px;
  font-size: 1.8rem;
}
.home .walk .walk-text .btn:hover {
  background-color: #F1F1F1;
  color: #23293B;
  border: 1px solid #23293B;
  cursor: pointer;
}
@media (max-width: 500px) {
  .home .walk .walk-text .btn {
    width: 100%;
    height: 50px;
  }
}
@media (max-width: 500px) {
  .home .walk .walk-text {
    width: 100%;
  }
}
.home .walk .walk-img {
  width: 46%;
  margin-left: 4%;
}
.home .walk .walk-img img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}
@media (max-width: 500px) {
  .home .walk .walk-img {
    width: 100%;
    order: -1;
    padding-bottom: 10px;
    margin: 0 auto;
  }
}
@media (max-width: 500px) {
  .home .walk {
    flex-direction: column;
    margin: 0 auto;
    padding: 50px 2.5%;
  }
}
.home .header {
  display: flex;
  flex-direction: column;
  padding-top: 60px;
  padding-bottom: 30px;
}
.home .header h1 {
  padding: 20px 0;
}
.home .forms {
  display: flex;
  flex-direction: column;
  font-size: 1.3rem;
}
.home .forms .form-content {
  display: flex;
  flex-direction: column;
}
.home .forms .form-content label {
  font-size: 2rem;
  padding-bottom: 10px;
}
.home .forms .form-content input {
  width: 60%;
  padding: 10px;
  margin-bottom: 30px;
  font-size: 1.6rem;
  color: #81848E;
  opacity: 0.7;
}
