@-webkit-keyframes bounceIn {
  0% {
    transform: scale(0.1);
    opacity: 0;
  }
  60% {
    transform: scale(1.2);
    opacity: 1;
  }
  100% {
    transform: scale(1);
  }
}
@-moz-keyframes bounceIn {
  0% {
    transform: scale(0.1);
    opacity: 0;
  }
  60% {
    transform: scale(1.2);
    opacity: 1;
  }
  100% {
    transform: scale(1);
  }
}
@-ms-keyframes bounceIn {
  0% {
    transform: scale(0.1);
    opacity: 0;
  }
  60% {
    transform: scale(1.2);
    opacity: 1;
  }
  100% {
    transform: scale(1);
  }
}
@-o-keyframes bounceIn {
  0% {
    transform: scale(0.1);
    opacity: 0;
  }
  60% {
    transform: scale(1.2);
    opacity: 1;
  }
  100% {
    transform: scale(1);
  }
}
@keyframes bounceIn {
  0% {
    transform: scale(0.1);
    opacity: 0;
  }
  60% {
    transform: scale(1.2);
    opacity: 1;
  }
  100% {
    transform: scale(1);
  }
}
.bounce {
  animation: bounceIn 2s;
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Ubuntu', sans-serif;
  background-color: #FFFFFF;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Russo One', sans-serif;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3.2rem;
  padding-bottom: 10px;
}
h4 {
  font-size: 2.5rem;
  padding-bottom: 10px;
}
p {
  line-height: 1.5;
  font-size: 1.6rem;
  padding-bottom: 10px;
  color: #5E6164;
}
img {
  max-width: 100%;
  height: auto;
}
.container {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
}
.main-navigation {
  width: 100%;
  height: 90px;
  background: #F6F6F6;
  border-bottom: 3px solid #F1F1F1;
  position: fixed;
  top: 0;
  color: #454A59;
}
.main-navigation .nav-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.main-navigation .nav-container .nav {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  padding-top: 10px;
}
.main-navigation .nav-container .nav a {
  font-size: 1.6rem;
  text-decoration: none;
  color: #454A59;
  animation: bounceIn 2s;
}
.main-navigation .nav-container .nav a:hover {
  color: gray;
}
@media (max-width: 500px) {
  .main-navigation .nav-container {
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 10px;
  }
  .main-navigation .nav-container .logo-heading {
    font-size: 3rem;
  }
  .main-navigation .nav-container .nav {
    width: 100%;
    justify-content: space-around;
  }
}
.home .intro {
  padding: 90px 0 10px;
}
.home .intro img {
  width: 100%;
  height: auto;
  animation: bounceIn 2s;
}
.home .intro h2 {
  margin-top: 20px;
  color: #23293B;
}
@media ( max-width: 500px ) {
  .home {
    width: 100%;
    padding-right: 20px;
    padding-left: 20px;
  }
}
.home .content-section {
  margin: 30px 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  color: #23293B;
  border: 1px solid #F6F7F8;
}
@media ( max-width: 500px ) {
  .home .content-section {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}
@media ( max-width: 500px ) {
  .home .content-section .img-2,
  .home .content-section .img-3 {
    display: none;
  }
}
.home .content-section .text-content {
  width: 100%;
  padding-right: 1%;
  padding-top: 40px;
}
@media ( max-width: 500px ) {
  .home .content-section .text-content {
    width: 100%;
  }
}
.home .content-section-bottom {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  width: 75%;
  padding-top: 50px;
  border-top: 3px solid #F1F1F1;
  color: #23293B;
}
@media ( max-width: 500px ) {
  .home .content-section-bottom {
    display: flex;
    flex-direction: column;
    width: 80%;
  }
}
.home .content-section-bottom .text-content {
  padding-right: 1%;
}
.home .content-section-bottom .text-content .btn {
  margin: 20px 0;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 45px;
  background-color: #23293B;
  color: white;
  border: 1px solid teal;
  cursor: pointer;
  font-size: 1.5rem;
}
.home .content-section-bottom .text-content .btn:hover {
  background-color: white;
  color: #23293B;
  transition-duration: 2s;
}
@media ( max-width: 500px ) {
  .home .content-section-bottom .text-content .btn {
    width: 100%;
    margin: 0 auto 30px;
  }
}
.home .img-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
@media ( max-width: 500px ) {
  .home .img-content {
    width: 100%;
  }
}
.home .img-content img {
  border-radius: 10px;
  width: 30%;
  height: 100%;
}
@media ( max-width: 500px ) {
  .home .img-content img {
    width: 100%;
  }
}
.home .img-content-bottom {
  margin: 0 auto 30px;
  width: 100%;
}
@media ( max-width: 500px ) {
  .home .img-content-bottom {
    width: 100%;
  }
}
.home .img-content-bottom img {
  border-radius: 10px;
}
.home footer {
  background-color: #F4F4F4;
  margin-top: 40px;
  height: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
}
