@keyframes slide {
  0% {
    margin-left: 100%;
    width: 300%;
  }
  50% {
    margin-left: -30%;
  }
  100% {
    margin-left: 0%;
    width: 100%;
  }
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Ubuntu', sans-serif;
  color: #5E6164;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Russo One', sans-serif;
  color: #23293B;
}
h2 {
  font-size: 3.2rem;
}
h3 {
  font-size: 2.8rem;
}
p {
  font-size: 1.6rem;
  line-height: 1.4;
}
.container {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}
.nav-container {
  width: 100%;
  text-align: center;
  padding: 20px;
  background-color: rgba(244, 244, 244, 0.8);
  position: fixed;
}
.nav-container h1 {
  font-size: 4rem;
  animation: slide 1s;
}
.nav-container nav {
  margin-top: 20px;
}
.nav-container nav a {
  text-decoration: none;
  color: #23293B;
  padding: 0 2%;
  font-size: 1.6rem;
}
footer {
  color: #22283B;
  background: #f4f4f4;
  padding: 20px 0;
  border: 1px double #e0e0e0;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.home .intro .header-img {
  width: 100%;
  padding-top: 116px;
}
.home .intro .header-img img {
  border-radius: 10px;
  width: 100%;
}
.home .intro h2 {
  padding: 15px;
}
.home .intro p {
  padding: 0 15px;
}
.home .space-images {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.home .space-images img {
  width: 28%;
  margin: 20px 2.5%;
  border-radius: 20px;
  height: 100%;
}
@media (max-width: 500px) {
  .home .space-images .hide-for-mobile {
    display: none;
  }
  .home .space-images img {
    width: 90%;
    margin: 20px auto;
  }
}
.home .visit-planets {
  padding: 15px;
}
.home .visit-planets h3 {
  margin-top: 11px;
}
.home .visit-planets p {
  margin-top: 13px;
}
.home .walk {
  margin-top: 60px;
  border-top: 1px solid #dee2e6;
  padding: 50px 60px;
  display: flex;
  justify-content: center;
}
@media (max-width: 500px) {
  .home .walk {
    margin-top: 20px;
    display: flex;
    flex-direction: column-reverse;
    padding: 15px;
  }
}
.home .walk .walk-text {
  width: 50%;
}
@media (max-width: 500px) {
  .home .walk .walk-text {
    width: 100%;
  }
}
.home .walk .walk-text h3 {
  margin-bottom: 10px;
}
.home .walk .walk-text p {
  margin-bottom: 26px;
}
.home .walk .walk-text .btn {
  color: #ffffff;
  background: #23293B;
  width: 28%;
  text-align: center;
  padding: 5px 3%;
  border-radius: 5px;
  font-size: 1.6rem;
  border: 1px solid #23293B;
}
@media (max-width: 500px) {
  .home .walk .walk-text .btn {
    width: 100%;
    padding: 25px 0;
  }
}
.home .walk .walk-text .btn:hover {
  color: #23293B;
  background: #ffffff;
  width: 28%;
  text-align: center;
  padding: 5px 3%;
  border-radius: 5px;
  font-size: 1.6rem;
  border: 1px solid #23293B;
}
.home .walk .walk-img {
  width: 46%;
  margin-left: 4%;
}
@media (max-width: 500px) {
  .home .walk .walk-img {
    width: 100%;
    margin: 10px auto 20px auto;
  }
}
.home .walk .walk-img img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}
.home .contact-form {
  width: 100%;
  max-width: 50%;
  margin: 0 auto;
}
.home .contact-form form {
  font-size: 1.6rem;
}
.home .contact-form form div {
  padding: 5px 0;
}
.about header {
  margin-bottom: 30px;
}
.about header h2 {
  text-align: center;
}
.history {
  display: flex;
  flex-direction: row;
  align-items: center;
}
@media (max-width: 500px) {
  .history {
    flex-direction: column;
  }
}
.history div {
  padding: 2%;
}
.history .history-text {
  width: 60%;
}
@media (max-width: 500px) {
  .history .history-text {
    width: 100%;
  }
}
.history .history-img {
  width: 40%;
}
@media (max-width: 500px) {
  .history .history-img {
    width: 100%;
  }
}
.history .history-img img {
  max-width: 100%;
  border-radius: 10px;
}
.philosophy {
  display: flex;
  flex-direction: row;
  align-items: center;
}
@media (max-width: 500px) {
  .philosophy {
    flex-direction: column;
  }
}
.philosophy div {
  padding: 2%;
}
.philosophy .philosophy-text {
  width: 60%;
}
@media (max-width: 500px) {
  .philosophy .philosophy-text {
    width: 100%;
  }
}
.philosophy .philosophy-img {
  width: 40%;
}
@media (max-width: 500px) {
  .philosophy .philosophy-img {
    width: 100%;
  }
}
.philosophy .philosophy-img img {
  max-width: 100%;
  border-radius: 10px;
}
.mission {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 20px;
}
@media (max-width: 500px) {
  .mission {
    flex-direction: column-reverse;
  }
}
.mission div {
  padding: 2%;
}
.mission .mission-text {
  width: 40%;
}
@media (max-width: 500px) {
  .mission .mission-text {
    width: 100%;
  }
}
.mission .mission-img {
  width: 60%;
}
@media (max-width: 500px) {
  .mission .mission-img {
    width: 100%;
  }
}
.mission .mission-img img {
  max-width: 100%;
  border-radius: 10px;
}
