.flex-space-between {
  display: flex;
  justify-content: space-between;
}
.flex-column-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  color: #22283A;
}
html,
body {
  font-family: 'Ubuntu', sans-serif;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Russo One', sans-serif;
}
h1 {
  font-size: 4.5rem;
}
h2 {
  font-size: 3.5rem;
}
h3 {
  font-size: 3.2rem;
}
header {
  width: 100%;
  color: #444958;
  padding: 15px 0;
  background: #f6f6f6;
  border-bottom: 2px solid #e5e5e5;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 520px) {
  header {
    border-bottom: none;
  }
}
@media (max-width: 520px) {
  header h1 {
    font-size: 4rem;
  }
}
header nav {
  max-width: 420px;
  width: 95%;
  color: inherit;
  margin-top: 17px;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 520px) {
  header nav {
    max-width: 375px;
    margin-top: 15px;
  }
}
header nav a {
  color: inherit;
  text-decoration: none;
  font-size: 1.8rem;
}
@media (max-width: 520px) {
  header nav a {
    font-size: 1.6rem;
  }
}
footer {
  width: 100%;
  padding: 20px 0 30px 0;
  text-align: center;
  background: #f6f6f6;
  border: 1px solid #e5e5e5;
  border-radius: 5px;
}
img {
  width: 100%;
}
p {
  font-size: 1.8rem;
  line-height: 2.8rem;
  margin-bottom: 10px;
}
.content-large {
  width: 100%;
}
.content-medium {
  width: 48%;
}
.content-small {
  width: 31%;
}
.container {
  max-width: 900px;
  width: 100%;
  margin: 0px auto;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
main .home-image {
  margin-bottom: 20px;
}
main .home-image img {
  height: 225px;
}
main .text-container {
  width: 95%;
}
main .text-container h2,
main .text-container h3 {
  margin-bottom: 10px;
}
main .image-container {
  width: 95%;
  display: flex;
  justify-content: space-between;
  margin-top: 7px;
  margin-bottom: 53px;
}
main .image-container img {
  border-radius: 20px;
}
main .call-to-action {
  margin: 65px 0 20px 0;
  padding: 55px 0;
  border-top: 1px solid #dee2e6;
  border-bottom: 1px solid #dee2e6;
  display: flex;
  flex-direction: column;
  align-items: center;
}
main .call-to-action .content-inset {
  width: 85%;
  display: flex;
  justify-content: space-between;
}
main .call-to-action .content-inset .blurb h3 {
  margin-bottom: 10px;
}
main .call-to-action .content-inset .blurb a.button {
  margin-top: 10px;
  display: inline-block;
  text-decoration: none;
  font-size: 1.8em;
  color: #ffffff;
  padding: 11px 15px;
  background: #22283A;
  border: 1px solid #ffffff;
  border-radius: 5px;
}
main .call-to-action .content-inset .blurb a.button:hover {
  display: inline-block;
  text-decoration: none;
  font-size: 1.8em;
  color: #22283A;
  padding: 11px 15px;
  background: #ffffff;
  border: 1px solid #22283A;
  border-radius: 5px;
}
main .call-to-action .content-inset img {
  border-radius: 10px;
}
