.go {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border-top: 1px solid #e0e0e0;
  border-bottom: 1px solid #e0e0e0;
}
@media (max-width: 500px) {
  .go .sky {
    display: none;
  }
  .go .launch {
    display: none;
  }
}
.go img {
  width: 30%;
  height: 200px;
  border-radius: 13px;
}
@media (max-width: 500px) {
  .go img {
    width: 90%;
    height: 295px;
    margin: 30px 70px 40px 40px;
  }
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html,
body {
  font-family: 'Ubuntu', sans-serif;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Russo One', sans-serif;
}
nav {
  display: flex;
  justify-content: space-around;
  width: 40%;
  margin-top: 1%;
}
nav a {
  color: black;
  text-decoration: none;
  font-size: 1.6rem;
  margin-bottom: 3%;
}
.foot {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-top: 20px;
  background-color: #f4f4f4;
  width: 69.75%;
  height: 100px;
}
.foot footer {
  font-size: 1.2rem;
}
html {
  font-size: 62.5%;
}
@media (max-width: 500px) {
  body .container {
    width: 100%;
    max-width: 500px;
  }
}
header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f4f4f4;
}
@media (max-width: 500px) {
  header {
    background-color: white;
  }
}
header h1 {
  margin-top: 1%;
  font-size: 3rem;
}
h2 {
  font-size: 2.5rem;
}
p {
  font-size: 1.6rem;
  line-height: 1.5;
}
.second-container {
  width: 69.75%;
  margin: 0 auto;
}
@media (max-width: 500px) {
  .second-container {
    width: 99%;
  }
}
.second-container .header-img {
  width: 100%;
  height: 250px;
}
@media (max-width: 500px) {
  .second-container .header-img {
    height: 200px;
    border: 1px #e0e0e0;
    margin-bottom: 10px;
  }
}
@media (max-width: 500px) {
  .lift {
    width: 100%;
    margin: 0 auto;
  }
}
.lift h2 {
  font-size: 2.5rem;
  margin: 2%;
}
@media (max-width: 500px) {
  .lift h2 {
    font-size: 3.3rem;
    font-weight: bold;
  }
}
.lift p {
  font-size: 1.6rem;
  line-height: 1.5;
  margin: 2%;
}
@media (max-width: 500px) {
  .lift p {
    font-weight: bold;
  }
}
.img {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
@media (max-width: 500px) {
  .img .sky {
    display: none;
  }
  .img .launch {
    display: none;
  }
}
.img img {
  width: 30%;
  height: 200px;
  border-radius: 13px;
}
@media (max-width: 500px) {
  .img img {
    width: 90%;
    height: 295px;
    margin: 30px 70px 40px 40px;
  }
}
.visit {
  margin: 2%;
  margin-bottom: 7%;
}
@media (max-width: 500px) {
  .visit {
    width: 95%;
    margin: 0 auto;
    margin-bottom: 60px;
  }
}
.visit h2 {
  font-size: 2.5rem;
}
@media (max-width: 500px) {
  .visit h2 {
    font-size: 3rem;
  }
}
.visit p {
  font-size: 1.6rem;
  line-height: 1.5;
}
@media (max-width: 500px) {
  .visit p {
    font-weight: bold;
  }
}
.go {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border-top: 1px solid #e0e0e0;
  border-bottom: 1px solid #e0e0e0;
}
@media (max-width: 500px) {
  .go .sky {
    display: none;
  }
  .go .launch {
    display: none;
  }
}
.go img {
  width: 30%;
  height: 200px;
  border-radius: 13px;
}
@media (max-width: 500px) {
  .go img {
    width: 90%;
    height: 295px;
    margin: 30px 70px 40px 40px;
  }
}
div {
  margin-top: 40px;
  margin-bottom: 30px;
}
div .img-box .space-walk {
  border-radius: 8px;
  width: 100%;
  height: 250px;
}
div .box {
  width: 35%;
  height: 300px;
}
div .box btn {
  margin-top: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.6rem;
  width: 80px;
  height: 40px;
  background-color: #22283B;
  color: #f4f4f4;
  border-radius: 5px;
}
div .box btn:hover {
  color: #22283B;
  background: #f4f4f4;
}
