.desktop-width-settings {
  width: 100%;
  max-width: 880px;
  margin: 0 auto;
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html,
body {
  font-family: 'Ubuntu', sans-serif;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Russo One', sans-serif;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  width: 100%;
  background: #e0e0e0;
  color: #22283B;
  padding: 10px 0;
  height: 80px;
}
.header h1 {
  font-size: 2rem;
  margin-bottom: 20px;
}
.header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width: 35%;
}
@media (max-width:500px) {
  .header nav {
    width: 80%;
  }
}
.header nav a {
  text-decoration: none;
  color: #22283B;
}
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100%;
  max-width: 880px;
  margin: 0 auto;
  height: 50px;
  background: #f4f4f4;
  color: #22283B;
  padding: 25px;
}
@media (max-width:500px) {
  .noMobile {
    display: none;
  }
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  max-width: 880px;
  margin: 0 auto;
  padding: 0 1.13% 20px 1.13%;
  color: #22283B;
}
h2 {
  margin-bottom: 20px;
  font-size: 1.6rem;
}
.top-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
.top-content img {
  width: 100%;
  height: 225px;
  margin-bottom: 20px;
}
.top-content .img-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width: 90%;
}
.middle-img {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  margin-bottom: 40px;
}
.middle-img img {
  width: 30%;
  border-radius: 10px;
}
@media (max-width:500px) {
  .middle-img img {
    width: 100%;
  }
}
.text-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  margin-bottom: 20px;
}
.bottom-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  border-top: 1px solid lightgrey;
  border-bottom: 1px solid lightgrey;
  margin-top: 30px;
  padding: 50px 5.7%;
}
@media (max-width:500px) {
  .bottom-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
  }
}
.bottom-content img {
  border-radius: 5px;
  width: 100%;
  max-width: 400px;
}
.bottom-content .sign-up {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  width: 40%;
}
@media (max-width:500px) {
  .bottom-content .sign-up {
    width: 100%;
    max-width: 400px;
  }
}
.bottom-content .sign-up p {
  margin-bottom: 10px;
}
.bottom-content .button {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 90px;
  height: 25px;
  border-radius: 0;
  background-color: #22283B;
  color: #f4f4f4;
  font-size: 1rem;
  margin: 20px 0;
  border: 1px solid blue;
}
@media (max-width:500px) {
  .bottom-content .button {
    width: 400px;
    height: 50px;
    border-radius: 0;
    background-color: #22283B;
    color: #f4f4f4;
    font-size: 1rem;
    width: 100%;
    max-width: 400px;
  }
}
