/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Ubuntu', sans-serif;
  color: #5E6164;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Russo One', sans-serif;
  color: #23293B;
}
h1 {
  font-size: 4rem;
}
@media (max-width: 500px) {
  h1 {
    font-size: 2.5em;
  }
}
h2 {
  font-size: 3.2rem;
}
@media (max-width: 500px) {
  h2 {
    font-size: 2.25em;
  }
}
h3 {
  font-size: 2.8rem;
}
@media (max-width: 500px) {
  h3 {
    font-size: 1.8em;
  }
}
p {
  font-size: 1.6rem;
  line-height: 1.4;
}
@media (max-width: 500px) {
  p {
    font-size: 1.2em;
  }
}
img {
  width: 100%;
  height: auto;
}
.container {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
  margin-top: 100px;
}
@media (max-width: 800px) {
  .container {
    width: 95%;
  }
}
@media (max-width: 500px) {
  .container {
    margin-top: 65px;
  }
}
.nav-area {
  background-color: #FFFFFF;
  text-align: center;
  width: 100%;
  padding-bottom: 20px;
  margin: auto;
  position: fixed;
  top: 0;
  z-index: 1;
  overflow: hidden;
}
.nav-area h1 {
  margin-bottom: 20px;
}
@media (max-width: 500px) {
  .nav-area h1 {
    margin-bottom: 10px;
  }
}
.nav-area h1 a {
  color: black;
  text-decoration: none;
}
.nav-area h1 a:active {
  padding: 5px;
  border: 2px dotted #23293B;
  margin-left: -1px;
  margin-bottom: -4px;
}
.nav-area nav a {
  color: black;
  text-decoration: none;
  font-size: 1.6rem;
  font-weight: bold;
  padding: 10px 2%;
}
@media (max-width: 500px) {
  .nav-area nav a {
    font-size: 1.2rem;
    font-weight: normal;
    padding: 2.5px 3%;
    margin-top: 5px;
  }
}
.nav-area nav a:hover {
  background-color: #cccccc;
  color: #F6F6F6;
  font-weight: bold;
  -webkit-transition-duration: 500ms;
  -moz-transition-duration: 500ms;
  -o-transition-duration: 500ms;
  -ms-transition-duration: 500ms;
  transition-duration: 500ms;
  -webkit-transition-delay: 0;
  -moz-transition-delay: 0;
  -o-transition-delay: 0;
  -ms-transition-delay: 0;
  transition-delay: 0;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  -ms-transition-property: all;
  transition-property: all;
}
.nav-area nav a:active {
  border: 2px dotted snow;
  margin-left: -1px;
  margin-bottom: -4px;
}
footer {
  color: #22283B;
  background: #f4f4f4;
  padding: 20px 0;
  border: 1px double #e0e0e0;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.home .intro h2 {
  padding: 15px;
}
.home .intro p {
  padding: 0 15px;
}
.home .space-images {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
}
@media (max-width: 500px) {
  .home .space-images {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
  }
}
.home .space-images img {
  width: 28%;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -o-border-radius: 20px;
  -ms-border-radius: 20px;
  border-radius: 20px;
  margin: 10px 2.5% 0;
}
@media (max-width: 500px) {
  .home .space-images img {
    display: none;
    width: 87.5%;
  }
  .home .space-images img:first-child {
    display: inline;
  }
}
.home .visit-planets {
  padding: 15px;
}
.home .visit-planets h3 {
  margin-top: 11px;
}
.home .visit-planets p {
  margin-top: 13px;
}
.home .walk {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  padding: 50px 60px;
  border-top: 1px solid #dee2e6;
  margin-top: 60px;
}
@media (max-width: 800px) {
  .home .walk {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 10px 0 0;
  }
}
.home .walk .walk-text {
  width: 50%;
}
@media (max-width: 800px) {
  .home .walk .walk-text {
    width: 100%;
    margin: 0;
  }
}
.home .walk .walk-text h3 {
  margin-bottom: 10px;
}
@media (max-width: 800px) {
  .home .walk .walk-text h3 {
    padding: 10px 15px;
    margin: 0;
  }
}
.home .walk .walk-text p {
  margin-bottom: 26px;
}
@media (max-width: 800px) {
  .home .walk .walk-text p {
    padding: 0 15px;
  }
}
.home .walk .walk-text .btn {
  display: inline-block;
  background-color: #22283A;
  color: #FAFFFD;
  cursor: pointer;
  font-size: 1.6rem;
  font-weight: bold;
  padding: 20px 7.5%;
  -webkit-border-radius: 7.5px;
  -moz-border-radius: 7.5px;
  -o-border-radius: 7.5px;
  -ms-border-radius: 7.5px;
  border-radius: 7.5px;
  margin: 10px;
  margin-bottom: 20px;
}
@media (max-width: 500px) {
  .home .walk .walk-text .btn {
    display: block;
    text-align: center;
  }
}
.home .walk .walk-text .btn:hover {
  background-color: #FAFFFD;
  color: #22283A;
  border: 1px dashed #23293B;
  -webkit-transition-duration: 200ms;
  -moz-transition-duration: 200ms;
  -o-transition-duration: 200ms;
  -ms-transition-duration: 200ms;
  transition-duration: 200ms;
  -webkit-transition-delay: 0;
  -moz-transition-delay: 0;
  -o-transition-delay: 0;
  -ms-transition-delay: 0;
  transition-delay: 0;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  -ms-transition-property: all;
  transition-property: all;
}
.home .walk .walk-text .btn:active {
  font-weight: normal;
  border: 1px dotted #23293B;
}
.home .walk .walk-img {
  width: 46%;
  margin-left: 4%;
}
@media (max-width: 500px) {
  .home .walk .walk-img {
    width: 100%;
    margin: 0;
  }
}
.home .walk .walk-img img {
  width: 100%;
  height: auto;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -o-border-radius: 20px;
  -ms-border-radius: 20px;
  border-radius: 20px;
}
@media (max-width: 800px) {
  .home .walk .walk-img {
    order: -1;
    width: 35%;
  }
}
@media (max-width: 800px) and (max-width: 500px) {
  .home .walk .walk-img {
    width: 87.5%;
  }
}
.home .subscription {
  padding-top: 20px;
  margin-bottom: 20px;
}
.home .subscription form {
  margin-top: 15px;
}
.home .subscription form label {
  display: block;
  font-size: 1.8rem;
  font-family: "Russo One";
}
.home .subscription form input[type="text"],
.home .subscription form input[type="email"],
.home .subscription form select {
  width: 100%;
  padding: 10px 20px;
  border: 1px solid #5E6164;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  margin: 10px 0 20px;
}
.home .subscription form textarea {
  display: block;
  font-family: Roboto;
  width: 90%;
  height: 100px;
  padding: 10px 20px;
  margin: 10px 0 20px;
}
.home .subscription form input[type="submit"] {
  background-color: #81848E;
  display: inline-block;
  color: snow;
  font-family: Roboto;
  font-size: 1.5rem;
  font-weight: bold;
  cursor: pointer;
  padding: 10px 25px;
  border: 1px solid #23293B;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: inset 0px -3px 7px 0px #5E6164;
  -moz-box-shadow: inset 0px -3px 7px 0px #5E6164;
  -o-box-shadow: inset 0px -3px 7px 0px #5E6164;
  -ms-box-shadow: inset 0px -3px 7px 0px #5E6164;
  margin-left: 1%;
}
.home .subscription form input[type="submit"]:hover {
  background-color: #5E6164;
  -webkit-transition-duration: 500ms;
  -moz-transition-duration: 500ms;
  -o-transition-duration: 500ms;
  -ms-transition-duration: 500ms;
  transition-duration: 500ms;
  -webkit-transition-delay: 0;
  -moz-transition-delay: 0;
  -o-transition-delay: 0;
  -ms-transition-delay: 0;
  transition-delay: 0;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  -ms-transition-property: all;
  transition-property: all;
}
.home .subscription form input[type="submit"]:active {
  position: relative;
  top: 1px;
}
