/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Ubuntu', sans-serif;
  color: #5E6164;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Russo One', sans-serif;
  color: #23293B;
}
h1 {
  font-size: 4.1rem;
}
h2 {
  font-size: 3.2rem;
}
h3 {
  font-size: 2.8rem;
}
p {
  font-size: 1.6rem;
  line-height: 1.4;
}
.container {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
  padding-top: 100px;
}
.title {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  background-color: #F6F6F6;
  border-bottom: 1px solid #F1F1F1;
  padding: 10px 0 10px 0;
}
.title nav {
  color: #454A59;
  width: 100%;
  max-width: 800px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 20px 0 0 0;
}
.title nav a {
  color: #454A59;
  text-decoration: none;
  font-size: 1.6rem;
  margin: 0 2% 0 2%;
}
footer {
  color: #22283B;
  background: #f4f4f4;
  padding: 20px 0;
  border: 1px double #e0e0e0;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.home .intro .head {
  border-radius: 5px;
  width: 100%;
}
.home .intro h2 {
  padding: 15px;
}
.home .intro p {
  padding: 0 15px;
}
.home .space-images {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.home .space-images img {
  width: 28%;
  margin: 20px 2.5%;
  border-radius: 20px;
  height: 100%;
}
@media (max-width:500px) {
  .home .space-images .blast {
    width: 100%;
  }
  .home .space-images .sky {
    display: none;
  }
  .home .space-images .launch {
    display: none;
  }
}
.home .visit-planets {
  padding: 15px;
}
.home .visit-planets h3 {
  margin-top: 11px;
}
.home .visit-planets p {
  margin-top: 13px;
}
@media (max-width:500px) {
  .home .visit-planets {
    padding-bottom: 10px;
  }
}
.home .walk {
  margin-top: 60px;
  border-top: 1px solid #dee2e6;
  padding: 50px 60px;
  display: flex;
  justify-content: center;
}
@media (max-width:500px) {
  .home .walk {
    display: flex;
    flex-direction: column-reverse;
    padding: 20px 0 0 0;
    margin-top: 30px;
    margin-bottom: 30px;
  }
}
.home .walk .walk-text {
  width: 50%;
}
@media (max-width:500px) {
  .home .walk .walk-text {
    width: 90%;
    margin: 0 5% 0 5%;
  }
}
.home .walk .walk-text h3 {
  margin-bottom: 10px;
}
.home .walk .walk-text p {
  margin-bottom: 26px;
}
.home .walk .walk-text .btn {
  padding: 2% 5% 2% 5%;
  border-radius: 5px;
  background-color: #23293B;
  color: white;
  font-size: 2rem;
  font-weight: bold;
  display: inline-block;
  text-align: center;
  transition: 0.5s;
}
@media (max-width:500px) {
  .home .walk .walk-text .btn {
    border-radius: 5px;
    background-color: #23293B;
    color: white;
    font-size: 2rem;
    font-weight: bold;
    width: 100%;
    padding: 15px 2.5% 15px 2.5%;
    text-align: center;
  }
}
.home .walk .walk-text .btn:hover {
  padding: 2% 5% 2% 5%;
  border-radius: 5px;
  background-color: white;
  color: #23293B;
  font-size: 2rem;
  font-weight: bold;
  display: inline-block;
  text-align: center;
}
@media (max-width:500px) {
  .home .walk .walk-text .btn:hover {
    border-radius: 5px;
    background-color: white;
    color: #23293B;
    font-size: 2rem;
    font-weight: bold;
    width: 100%;
    padding: 15px 2.5% 15px 2.5%;
    text-align: center;
  }
}
.home .walk .walk-img {
  width: 46%;
  margin-left: 4%;
}
@media (max-width:500px) {
  .home .walk .walk-img {
    width: 90%;
    margin: 0 5% 20px 5%;
  }
}
.home .walk .walk-img img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}
.login {
  -webkit-animation: slide-in-elliptic-top-fwd 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-in-elliptic-top-fwd 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  width: 90%;
  margin: 20px 5% 20px 5%;
}
.login .words {
  margin: 0 0 40px 0;
  padding: 0;
}
.login .words h2 {
  padding: 10px 0 10px 0px;
}
.login .words p {
  padding: 0px;
}
.login .btn {
  padding: 2% 5% 2% 5%;
  border-radius: 5px;
  background-color: #23293B;
  color: white;
  font-size: 2rem;
  font-weight: bold;
  display: inline-block;
  text-align: center;
  transition: 0.5s;
}
@media (max-width:500px) {
  .login .btn {
    border-radius: 5px;
    background-color: #23293B;
    color: white;
    font-size: 2rem;
    font-weight: bold;
    width: 100%;
    padding: 15px 2.5% 15px 2.5%;
    text-align: center;
  }
}
.login .btn:hover {
  padding: 2% 5% 2% 5%;
  border-radius: 5px;
  background-color: white;
  color: #23293B;
  font-size: 2rem;
  font-weight: bold;
  display: inline-block;
  text-align: center;
}
@media (max-width:500px) {
  .login .btn:hover {
    border-radius: 5px;
    background-color: white;
    color: #23293B;
    font-size: 2rem;
    font-weight: bold;
    width: 100%;
    padding: 15px 2.5% 15px 2.5%;
    text-align: center;
  }
}
@-webkit-keyframes slide-in-elliptic-top-fwd {
  0% {
    -webkit-transform: translateY(-600px) rotateX(-30deg) scale(0);
    transform: translateY(-600px) rotateX(-30deg) scale(0);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) rotateX(0) scale(1);
    transform: translateY(0) rotateX(0) scale(1);
    -webkit-transform-origin: 50% 1400px;
    transform-origin: 50% 1400px;
    opacity: 1;
  }
}
@keyframes slide-in-elliptic-top-fwd {
  0% {
    -webkit-transform: translateY(-600px) rotateX(-30deg) scale(0);
    transform: translateY(-600px) rotateX(-30deg) scale(0);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) rotateX(0) scale(1);
    transform: translateY(0) rotateX(0) scale(1);
    -webkit-transform-origin: 50% 1400px;
    transform-origin: 50% 1400px;
    opacity: 1;
  }
}
