.h2-styling {
  font-size: 2rem;
  font-weight: bold;
  color: #22283B;
}
@media (max-width: 500px) {
  .h2-styling {
    font-size: 3rem;
  }
}
.p-styling {
  font-size: 1.4rem;
  line-height: 1.5;
  color: #22283B;
}
@media (max-width: 500px) {
  .p-styling {
    font-size: 1.6rem;
  }
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html,
body {
  font-family: 'Ubuntu', sans-serif;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Russo One', sans-serif;
}
.header {
  background-color: #f4f4f4;
  border-bottom: 1px solid #e0e0e0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 15px;
  padding-bottom: 10px;
}
.header h1 {
  font-size: 3.4rem;
  color: #22283B;
}
@media (max-width: 500px) {
  .header h1 {
    font-size: 4rem;
  }
}
.header nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 35%;
  padding-top: 15px;
  font-size: 1.2rem;
  font-weight: bold;
}
@media (max-width: 500px) {
  .header nav {
    width: 80%;
    font-size: 1.6rem;
  }
}
.header nav a {
  text-decoration: none;
  color: #22283B;
  opacity: 0.6;
}
.header nav a:hover {
  opacity: 1;
}
footer {
  background-color: #f4f4f4;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 80%;
  height: 60px;
  color: #22283B;
  font-size: 1.2rem;
  margin: 0 auto;
  text-align: center;
  border: 1px solid #e0e0e0;
  border-radius: 4px;
}
@media (max-width: 500px) {
  footer {
    width: 100%;
    font-size: 1.6rem;
    height: 80px;
    padding-bottom: 20px;
  }
}
footer p {
  align-self: center;
}
.main-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;
  margin: 0 auto;
  align-items: center;
}
@media (max-width: 500px) {
  .main-content {
    width: 100%;
  }
}
.main-content h2 {
  font-size: 2rem;
  font-weight: bold;
  color: #22283B;
  letter-spacing: 2px;
  padding: 10px 0%;
}
@media (max-width: 500px) {
  .main-content h2 {
    font-size: 3rem;
  }
}
@media (max-width: 500px) {
  .main-content h2 {
    padding-top: 15px;
  }
}
.main-content p {
  font-size: 1.4rem;
  color: #22283B;
  line-height: 1.5;
  padding-bottom: 10px;
}
@media (max-width: 500px) {
  .main-content p {
    font-size: 1.6rem;
  }
}
.main-content img {
  width: 100%;
  height: 170px;
}
@media (max-width: 500px) {
  .main-content img {
    height: 200px;
  }
}
.main-content .text-section {
  width: 95%;
}
@media (max-width: 500px) {
  .main-content .text-section {
    width: 92%;
  }
}
.main-content .trio-of-pictures {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 95%;
  height: 160px;
  margin-top: 5px;
  margin-bottom: 15px;
}
@media (max-width: 500px) {
  .main-content .trio-of-pictures {
    display: flex;
    height: 320px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 85%;
  }
  .main-content .trio-of-pictures img:nth-of-type(2) {
    display: none;
  }
  .main-content .trio-of-pictures img:nth-of-type(3) {
    display: none;
  }
}
.main-content .trio-of-pictures img {
  width: 30%;
  border-radius: 10px;
}
@media (max-width: 500px) {
  .main-content .trio-of-pictures img {
    width: 100%;
    height: 300px;
    align-self: center;
    margin-top: 10px;
    margin-bottom: 15px;
  }
}
.main-content .lower-text {
  margin-top: 20px;
}
@media (max-width: 500px) {
  .main-content .lower-text {
    height: 300px;
  }
  .main-content .lower-text h2 {
    font-size: 2.8rem;
  }
}
.bottom-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 80%;
  margin: 0 auto;
  height: 300px;
  border-top: 1px solid #ABC6CF;
  border-bottom: 1px solid #ABC6CF;
  padding: 30px 0%;
  margin-top: 50px;
  margin-bottom: 10px;
}
@media (max-width: 500px) {
  .bottom-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 0%;
    height: 730px;
    margin-bottom: 20px;
  }
}
.bottom-content .bottom-text {
  width: 50%;
  padding-left: 5%;
}
@media (max-width: 500px) {
  .bottom-content .bottom-text {
    width: 90%;
  }
}
.bottom-content .bottom-text h2 {
  font-size: 2rem;
  font-weight: bold;
  color: #22283B;
  padding-bottom: 10px;
  letter-spacing: 2px;
}
@media (max-width: 500px) {
  .bottom-content .bottom-text h2 {
    font-size: 3rem;
  }
}
@media (max-width: 500px) {
  .bottom-content .bottom-text h2 {
    padding-bottom: 15px;
    letter-spacing: 1px;
    font-size: 2.8rem;
  }
}
.bottom-content .bottom-text p {
  font-size: 1.4rem;
  line-height: 1.5;
  color: #22283B;
  padding-bottom: 5px;
  width: 85%;
}
@media (max-width: 500px) {
  .bottom-content .bottom-text p {
    font-size: 1.6rem;
  }
}
@media (max-width: 500px) {
  .bottom-content .bottom-text p {
    padding-bottom: 20px;
    width: 88%;
  }
}
.bottom-content .bottom-text .button {
  height: 25px;
  width: 20%;
  background-color: #22283B;
  border: 1px solid #ABC6CF;
  border-radius: 4px;
  color: #f4f4f4;
  text-align: center;
  font-size: 1.1rem;
  padding-top: 7px;
}
@media (max-width: 500px) {
  .bottom-content .bottom-text .button {
    font-size: 1.6rem;
    padding-top: 14px;
    border: 2px solid #ABC6CF;
  }
}
@media (max-width: 500px) {
  .bottom-content .bottom-text .button {
    height: 50px;
    width: 88%;
    background-color: #22283B;
    border: 1px solid #ABC6CF;
    border-radius: 4px;
    color: #f4f4f4;
    text-align: center;
    font-size: 1.1rem;
    padding-top: 7px;
    margin-top: 15px;
  }
}
@media (max-width: 500px) and (max-width: 500px) {
  .bottom-content .bottom-text .button {
    font-size: 1.6rem;
    padding-top: 14px;
    border: 2px solid #ABC6CF;
  }
}
.bottom-content img {
  height: 180px;
  padding-right: 5%;
}
@media (max-width: 500px) {
  .bottom-content img {
    align-self: flex-start;
    width: 75%;
    margin-left: 10%;
    margin-top: 20px;
    height: 300px;
    padding-right: 0%;
    border-radius: 5px;
  }
}
.main-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.contact-text {
  margin: 0 auto;
  width: 90%;
  padding-bottom: 40px;
  padding-top: 25px;
}
form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
label {
  margin-left: 100px;
}
input {
  width: 200px;
  padding: 12px;
  border: 1px solid grey;
  border-radius: 4px;
  margin-top: 6px;
  margin-bottom: 16px;
  margin-left: 186px;
}
input[type=submit] {
  background-color: #22283B;
  color: #f4f4f4;
  width: 150px;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  align-self: center;
}
#fname {
  margin-left: 33px;
}
#lname {
  margin-left: 33px;
}
#email {
  margin-left: 35px;
}
#message {
  margin-left: 19px;
  width: 500px;
  height: 100px;
  text-align: left;
}
input[type=submit]:hover {
  background-color: darkblue;
}
html {
  font-size: 62.5%;
}
body {
  width: 100%;
  max-width: 880px;
  margin: 0 auto;
}
