/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html,
body {
  font-family: 'Ubuntu', sans-serif;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Russo One', sans-serif;
}
.container {
  background: #FFFFFF;
}
.container header {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background: #F6F6F6;
  padding-top: 14px;
  color: #454A59;
  border-bottom: 2px solid #F1F1F1;
}
.container header h1 {
  width: 100%;
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 15px;
}
.container header .main-nav {
  display: flex;
  justify-content: space-between;
  width: 28%;
  margin-bottom: 13px;
  font-weight: bold;
}
@media ( max-width: 500px ) {
  .container header .main-nav {
    width: 80%;
  }
}
footer {
  width: 91%;
  background: #F4F4F4;
  border: 2px solid #F1F1F1;
  color: #81848E;
  text-align: center;
  margin: 0 auto;
  margin-top: 14px;
  padding-top: 25px;
  padding-bottom: 38px;
}
.container .home-page {
  max-width: 880px;
  margin: 0 auto;
}
.container .home-page p {
  color: #5E6164;
}
.container .home-page .main-header-img-div {
  text-align: center;
  height: 200px;
  margin-bottom: 18px;
}
.container .home-page .main-header-img-div img {
  width: 91%;
  height: 100%;
}
@media ( max-width: 500px ) {
  .container .home-page .main-header-img-div img {
    width: 100%;
  }
}
.container .home-page .lift-off-section {
  margin: 0 55px 18px 55px;
}
@media ( max-width: 500px ) {
  .container .home-page .lift-off-section {
    margin: 0 12px 18px 12px;
  }
}
.container .home-page .lift-off-section h2 {
  font-size: 2rem;
  color: #23293B;
  margin-bottom: 15px;
}
.container .home-page .lift-off-section p {
  line-height: 140%;
}
.container .home-page .mid-img-div {
  margin: 0 55px 48px 55px;
  height: 178px;
  display: flex;
  justify-content: space-between;
}
@media ( max-width: 500px ) {
  .container .home-page .mid-img-div {
    width: 85%;
    margin: 40px auto 48px auto;
    height: auto;
  }
}
.container .home-page .mid-img-div img {
  width: 30.8%;
  border-radius: 5%;
}
@media ( max-width: 500px ) {
  .container .home-page .mid-img-div img {
    width: 100%;
  }
  .container .home-page .mid-img-div img:nth-child(n+2) {
    display: none;
  }
}
.container .home-page .can-we-visit-planets-section {
  margin: 0 55px 18px 55px;
  padding-bottom: 52px;
}
@media ( max-width: 500px ) {
  .container .home-page .can-we-visit-planets-section {
    margin: 0 12px 18px 12px;
  }
}
.container .home-page .can-we-visit-planets-section h2 {
  font-size: 1.75rem;
  color: #23293B;
  margin-bottom: 15px;
}
.container .home-page .can-we-visit-planets-section p {
  line-height: 140%;
}
.container .home-page hr {
  width: 91%;
}
@media ( max-width: 500px ) {
  .container .home-page hr {
    width: 100%;
  }
}
.container .home-page .lets-go-for-a-walk-section {
  margin: 48px 104px 49px 104px;
  display: flex;
  justify-content: space-between;
}
@media ( max-width: 500px ) {
  .container .home-page .lets-go-for-a-walk-section {
    margin: 48px;
    flex-wrap: wrap;
  }
}
.container .home-page .lets-go-for-a-walk-section div {
  width: 46%;
}
@media ( max-width: 500px ) {
  .container .home-page .lets-go-for-a-walk-section div {
    width: 100%;
    margin-bottom: 18px;
  }
}
.container .home-page .lets-go-for-a-walk-section div h2 {
  font-size: 1.75rem;
  color: #23293B;
  margin-bottom: 15px;
}
.container .home-page .lets-go-for-a-walk-section div p {
  line-height: 140%;
}
.container .home-page .lets-go-for-a-walk-section div .second-walk-p {
  margin-top: 10px;
  margin-bottom: 20px;
}
.container .home-page .lets-go-for-a-walk-section div img {
  width: 104%;
  border-radius: 2%;
  margin-left: -10px;
}
.container .home-page .lets-go-for-a-walk-section div .sign-up-btn {
  background-color: #23293B;
  color: white;
  width: 26%;
  padding: 10px;
  border-radius: 2px;
  text-align: center;
}
@media ( max-width: 500px ) {
  .container .home-page .lets-go-for-a-walk-section div .sign-up-btn {
    background-color: #23293B;
    color: white;
    width: 100%;
    padding: 15px;
    border-radius: 5px;
    text-align: center;
  }
}
