@media (max-width: 500px) {
  display: flex;
  max-width: 500px;
  margin: 0 auto;
}
@media (max-width: 500px) {
  flex-direction: column;
  justify-content: space-evenly;
  align-content: center;
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Ubuntu', sans-serif;
  color: #5E6164;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Russo One', sans-serif;
  color: #23293B;
}
h2 {
  font-size: 3.2rem;
}
h3 {
  font-size: 2.8rem;
}
p {
  font-size: 1.6rem;
  line-height: 1.4;
}
.container {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}
@keyframes flashAnim {
  0% {
    opacity: 1;
  }
  28% {
    opacity: 0;
  }
  50% {
    opacity: 0.91;
  }
  74% {
    opacity: 0.18;
  }
  100% {
    opacity: 1;
  }
}
.main-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 770px;
  margin: 0 auto;
  margin-top: 13px;
}
@media (max-width: 500px) {
  .main-nav {
    display: flex;
    max-width: 500px;
    margin: 0 auto;
    margin-top: 10px;
  }
}
.main-nav h1 {
  font-size: 4rem;
  text-align: center;
}
.main-nav nav {
  display: flex;
  align-content: center;
  justify-content: space-around;
  margin-top: 11px;
  width: 414px;
}
@media (max-width: 500px) {
  .main-nav nav {
    max-width: 500px;
    width: 414px;
    padding: 12px 0px;
  }
}
@media (max-width: 400px) {
  .main-nav nav {
    width: 100%;
  }
}
@media (max-width: 360px) {
  .main-nav nav {
    flex-direction: column;
    height: 220px;
    width: 100%;
    padding: 15px 30px;
    justify-content: space-between;
  }
}
.main-nav nav a {
  font-size: 1.6rem;
  text-decoration: none;
  color: black;
  padding: 9px 6px;
  border-radius: 10px;
  margin-bottom: 2px;
}
@media (max-width: 360px) {
  .main-nav nav a {
    text-align: center;
    padding: 10px;
  }
}
.main-nav nav a:hover {
  background-color: #186BA1;
  animation-name: flashAnim;
  animation-duration: 2s;
}
@media (max-width: 800.1px) {
  .sky-blue {
    width: 100%;
  }
}
footer {
  color: #22283B;
  background: #f4f4f4;
  padding: 20px 0;
  border: 1px double #e0e0e0;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@keyframes turbineAnim {
  0% {
    transform: rotate(360deg);
  }
  50% {
    transform: rotate(1080deg);
  }
  100% {
    transform: rotate(2520deg);
  }
}
@media (max-width: 500px) {
  .home {
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 500px) {
  .home .intro {
    order: 0;
    padding: 5px 0;
  }
}
.home .intro h2 {
  padding: 15px;
}
.home .intro p {
  padding: 0 15px;
}
@media (max-width: 500px) {
  .home .space-images .blast {
    order: 0;
    height: 90%;
    width: 90%;
  }
}
@media (max-width: 500px) {
  .home .space-images .sky {
    order: 0;
    display: none;
  }
}
@media (max-width: 500px) {
  .home .space-images .launch {
    order: 0;
    display: none;
  }
}
.home .space-images {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
@media (max-width: 500px) {
  .home .space-images {
    justify-content: center;
    align-content: center;
  }
}
.home .space-images img {
  width: 28%;
  margin: 20px 2.5%;
  border-radius: 20px;
  height: 100%;
}
@media (max-width: 500px) {
  .home .space-images img {
    display: flex;
    max-width: 500px;
    margin: 0 auto;
  }
}
.home .visit-planets {
  padding: 15px;
}
.home .visit-planets h3 {
  margin-top: 11px;
}
.home .visit-planets p {
  margin-top: 13px;
}
.home .walk {
  margin-top: 60px;
  border-top: 1px solid #dee2e6;
  padding: 50px 60px;
  display: flex;
  justify-content: center;
}
@media (max-width: 500px) {
  .home .walk {
    display: flex;
    max-width: 500px;
    margin: 0 auto;
    padding: 15px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
.home .walk .walk-text {
  width: 50%;
}
@media (max-width: 500px) {
  .home .walk .walk-text {
    margin-top: 15px;
    order: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
  }
}
.home .walk .walk-text h3 {
  margin-bottom: 10px;
}
.home .walk .walk-text p {
  margin-bottom: 26px;
}
.home .walk .walk-text .btn {
  max-width: 100px;
  padding: 8px;
  text-decoration: none;
  font-size: 20px;
  display: flex;
  justify-content: center;
  background-color: #22283A;
  color: white;
  border-radius: 5px;
}
.home .walk .walk-text .btn:hover {
  background: white;
  border: 1px solid #22283A;
  color: #22283A;
  animation-name: turbineAnim;
  animation-duration: 5s;
}
@media (max-width: 500px) {
  .home .walk .walk-text .btn {
    max-width: 100%;
    padding: 8px;
    text-decoration: none;
    font-size: 20px;
    display: flex;
    justify-content: center;
    background-color: #22283A;
    color: white;
    border-radius: 5px;
  }
  .home .walk .walk-text .btn:hover {
    background: white;
    border: 1px solid #22283A;
    color: #22283A;
    animation-name: turbineAnim;
    animation-duration: 5s;
  }
}
.home .walk .walk-img {
  width: 46%;
  margin-left: 4%;
}
@media (max-width: 500px) {
  .home .walk .walk-img {
    order: 0;
    width: 90%;
    height: 90%;
    margin-left: 0%;
  }
}
.home .walk .walk-img img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}
.body-login {
  margin: 0;
  padding: 0;
  background: url(login-spacebg.jpg);
  background-size: cover;
  background-position: center;
  font-family: 'Ubuntu', sans-serif;
}
.loginbox {
  width: 420px;
  height: 520px;
  background: #000;
  color: #fff;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
}
