/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html,
body {
  font-family: 'Ubuntu', sans-serif;
  font-size: 62.5%;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Russo One', sans-serif;
}
img {
  height: auto;
  max-width: 100%;
}
.container {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  max-width: 800px;
  width: 100%;
}
@media (max-width: 500px) {
  .container {
    flex-direction: column;
    max-width: 500px;
  }
}
nav {
  display: flex;
  justify-content: space-between;
}
nav a {
  color: #444958;
  font-size: 1.4rem;
  font-weight: bold;
  text-decoration: none;
  margin-right: 30px;
}
footer {
  background-color: #f6f6f6;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80px;
  border-radius: 4px;
  border-top: 1px solid #e5e5e5;
  border-left: 1px solid #e5e5e5;
  border-right: 1px solid #e5e5e5;
}
footer p {
  font-size: 1.6rem;
}
.top-nav {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px 0;
}
header {
  display: flex;
  background-color: #f6f6f6;
  border-bottom: 2px solid #e5e5e5;
}
header h1 {
  color: #444958;
  font-size: 3.6rem;
  margin-bottom: 10px;
}
.container .img-content {
  height: 100%;
  width: 100%;
}
.container .img-content img {
  width: 100%;
  max-height: 200px;
}
.container .content-lift {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.container .content-lift .text-content {
  font-size: 1.6rem;
  padding: 20px 2.5%;
}
.container .content-lift .text-content h2 {
  color: #22283a;
  font-size: 2.6rem;
}
.container .content-lift .text-content p {
  line-height: 1.5;
  margin: 10px 0;
}
.container .content-lift .img-content {
  padding: 0 1.25%;
  height: 100%;
  width: 33%;
}
@media (max-width: 500px) {
  .container .content-lift .img-content {
    width: 100%;
  }
}
.container .content-lift .img-content img {
  border-radius: 15px;
  width: 100%;
}
@media (max-width: 500px) {
  .container .content-lift .sky {
    display: none;
  }
}
@media (max-width: 500px) {
  .container .content-lift .launch {
    display: none;
  }
}
.container .content-visit .text-content {
  font-size: 1.6rem;
  padding: 20px 2.5%;
  margin-bottom: 20px;
}
.container .content-visit .text-content h2 {
  color: #22283a;
  font-size: 2.6rem;
}
.container .content-visit .text-content p {
  line-height: 1.5;
  margin: 10px 0;
}
.container .content-walk {
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
  display: flex;
  justify-content: space-around;
  padding: 40px 10%;
}
@media (max-width: 500px) {
  .container .content-walk {
    flex-direction: column;
  }
}
.container .content-walk .text-content {
  font-size: 1.6rem;
  width: 50%;
}
@media (max-width: 500px) {
  .container .content-walk .text-content {
    width: 100%;
  }
}
.container .content-walk .text-content h2 {
  color: #22283a;
  font-size: 2.6rem;
}
.container .content-walk .text-content p {
  line-height: 1.5;
  margin: 10px 0;
}
.container .content-walk .text-content .btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #22283b;
  border: 1px solid #147ffb;
  border-radius: 4px;
  color: white;
  font-size: 1.8rem;
  height: 40px;
  width: 25%;
}
@media (max-width: 500px) {
  .container .content-walk .text-content .btn {
    margin: 20px 0;
    width: 100%;
  }
}
.container .content-walk .text-content .btn a {
  color: white;
  text-decoration: none;
}
.container .content-walk .img-content {
  height: 100%;
  width: 45%;
}
@media (max-width: 500px) {
  .container .content-walk .img-content {
    width: 100%;
  }
}
.container .content-walk .img-content img {
  border-radius: 4px;
  width: 100%;
}
