/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html,
body {
  font-family: 'Ubuntu', sans-serif;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Russo One', sans-serif;
}
.nav-border {
  border-bottom: 3px dotted lightgrey;
  width: 100%;
  background-color: #e0e0e0;
  display: block;
  padding: 1rem;
  position: fixed;
  top: 0;
}
.nav-border h1 {
  font-size: 1.6rem;
}
.nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.nav li {
  padding: 2px;
  display: inline-block;
}
.nav li a {
  text-decoration: none;
  color: grey;
}
footer {
  display: flex;
  justify-content: center;
}
footer .footer {
  background-color: #e0e0e0;
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  width: 100%;
  max-width: 880px;
  margin: 0 auto;
  font-size: 62.5%;
}
@media (max-width:500px) {
  .container {
    padding: 10px;
  }
}
.container h2 {
  font-size: 2rem;
}
.container p {
  font-size: 1rem;
  padding: 5px;
}
.container .walk-section {
  padding-top: 50px;
  display: flex;
  width: 70%;
  justify-content: center;
  margin: 0 auto;
}
@media (max-width:500px) {
  .container .walk-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
@media (max-width:500px) {
  .container .walk-section .text-section {
    width: 100%;
  }
}
.container .walk-section .img-content {
  width: 49%;
}
.container .walk-section img {
  height: 200px;
  width: 200px;
}
@media (max-width:500px) {
  .container .walk-section img {
    width: 250px;
    justify-content: center;
  }
}
.container .button {
  border: darkcyan 4px solid;
  font-size: 1.2rem;
  margin: 10px;
  width: 100px;
  height: 40px;
  background-color: darkcyan;
  color: white;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width:500px) {
  .container .button {
    width: 200px;
    justify-content: center;
  }
}
@media (max-width:500px) {
  .container .button {
    width: 90%;
  }
}
.header-image {
  padding-top: 78px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-image img {
  width: 100%;
  height: 200px;
}
.top-section {
  display: flex;
  flex-direction: column;
  max-width: 90%;
  margin: 0 auto;
  margin-bottom: 20px;
}
.top-section .top-section-images {
  max-width: 100%;
  display: flex;
  height: 180px;
  justify-content: space-between;
  align-items: center;
}
@media (max-width:500px) {
  .top-section .top-section-images .disappearing-mobile-images {
    display: none;
  }
}
@media (max-width:500px) {
  .top-section .top-section-images {
    display: flex;
    justify-content: center;
    height: auto;
  }
}
.top-section img {
  margin-top: 10px;
  display: inline-flex;
  max-width: 30%;
  flex-wrap: nowrap;
  border-radius: 10%;
}
@media (max-width:500px) {
  .top-section img {
    max-width: 80%;
    width: 500px;
    height: auto;
    margin-top: 30px;
    padding-bottom: 30px;
  }
}
.top-section .text-content {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.top-section .text-content h1 {
  justify-content: flex-start;
}
