.center {
  display: flex;
  justify-content: center;
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html,
body {
  font-family: 'Ubuntu', sans-serif;
  font-size: 62.5%;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Russo One', sans-serif;
}
h1 {
  font-size: 2rem;
}
h2 {
  font-size: 3.2rem;
}
p {
  font-size: 1.6rem;
}
.container {
  max-width: 800px;
  margin: 0 auto;
}
.container nav {
  position: fixed;
  top: 0;
  width: 100%;
  margin: 0 auto;
  opacity: 0.9;
  max-width: 800px;
  height: 105px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: #F6F6F6;
}
.container nav h1 {
  width: 100%;
  margin-top: 15px;
  font-size: 4rem;
  color: #454A59;
  display: flex;
  justify-content: center;
}
.container nav .navigation {
  width: 67%;
  display: flex;
  justify-content: center;
}
@media (max-width: 500px) {
  .container nav .navigation {
    width: 100%;
  }
}
.container nav .navigation a {
  font-size: 1.6rem;
  padding: 0 3%;
  color: #454A59;
  text-decoration-line: none;
}
@media (max-width: 500px) {
  .container nav .navigation a {
    padding: 0 2%;
  }
}
footer {
  height: 60px;
  background-color: #F4F4F4;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
}
footer p {
  color: #81848E;
}
.container .header {
  margin-top: 105px;
}
.container .header img {
  width: 100%;
  height: 200px;
}
.container .header h2 {
  width: 96%;
  margin: 17px auto 0 auto;
  color: #23293B;
}
.container .header p {
  width: 96%;
  margin: 11px auto 15px auto;
  line-height: 1.5;
  color: #5E6164;
}
.container .main-content {
  border-bottom: 1px solid lightgray;
  margin-bottom: 35px;
}
.container .main-content .three-images {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.container .main-content .three-images img {
  width: 30%;
  height: 175px;
  border-radius: 15px;
}
@media (max-width: 500px) {
  .container .main-content .three-images img {
    width: 90%;
    height: 350px;
  }
}
@media (max-width: 500px) {
  .container .main-content .three-images .img2 {
    display: none;
  }
}
@media (max-width: 500px) {
  .container .main-content .three-images .img3 {
    display: none;
  }
}
.container .main-content h2 {
  margin: 50px 2% 10px 2%;
  font-size: 2.8rem;
  color: #23293B;
}
.container .main-content p {
  margin: 5px 2% 15px 2%;
  line-height: 1.5;
  color: #5E6164;
}
.container .other-planets {
  padding-bottom: 70px;
  border-bottom: 1px solid lightgray;
}
.container .bottom-content {
  display: flex;
  height: auto;
  justify-content: space-between;
  align-items: flex-start;
  margin: 35px 8% 0 8%;
  padding-bottom: 20px;
}
@media (max-width: 500px) {
  .container .bottom-content {
    flex-direction: column;
  }
}
.container .bottom-text {
  width: 47%;
  display: flex;
  flex-wrap: wrap;
}
@media (max-width: 500px) {
  .container .bottom-text {
    width: 100%;
  }
}
.container .bottom-text h2 {
  width: 100%;
  color: #23293B;
  font-size: 2.6rem;
  margin: 0 2%;
}
.container .bottom-text p {
  width: 100%;
  margin: 10px 2%;
  color: #5E6164;
}
.container .bottom-text .btn {
  color: white;
  font-size: 2rem;
  width: 170px;
  height: 40px;
  border-radius: 5px;
  background-color: #22283b;
  text-decoration-line: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 500px) {
  .container .bottom-text .btn {
    width: 100%;
  }
}
.container img {
  width: 48%;
  height: 50%;
}
@media (max-width: 500px) {
  .container img {
    width: 100%;
    margin-top: 20px;
  }
}
.container {
  height: 500px;
}
.container .contact-header {
  margin-top: 105px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.container .contact-header img {
  width: 50%;
}
.container .contact-header .spaceman2 {
  height: 320px;
}
.container .contact-header .header-split {
  width: 48%;
  padding: 15px 0;
}
.container .contact-header .header-split p {
  padding: 30px 0;
  font-size: 2rem;
}
.container .contact-header .form {
  width: 48%;
  text-align: center;
  margin-top: 10px;
  line-height: 1.5;
}
.container .contact-header .form span {
  width: 100%;
  margin: 0 auto;
  font-size: 2rem;
}
.container .contact-header .form #text {
  width: 250px;
}
.container .contact-header .form .radio {
  margin-bottom: 20px;
}
.container .contact-header .form #number {
  margin-bottom: 20px;
}
