/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html,
body {
  font-family: 'Ubuntu', sans-serif;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Russo One', sans-serif;
}
nav {
  display: flex;
  justify-content: space-around;
  width: 40%;
  margin-top: 1%;
}
nav a {
  color: black;
  text-decoration: none;
  font-size: 1.6rem;
  margin-bottom: 3%;
}
.foot {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-top: 20px;
  background-color: #f4f4f4;
  width: 69.75%;
  height: 100px;
}
.foot footer {
  font-size: 1.2rem;
}
html {
  font-size: 62.5%;
}
header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f4f4f4;
}
header h1 {
  margin-top: 1%;
  font-size: 3rem;
}
h2 {
  font-size: 2.5rem;
}
p {
  font-size: 1.6rem;
  line-height: 1.5;
}
.second-container {
  width: 69.75%;
  margin: 0 auto;
}
.lift img {
  width: 100%;
  height: 250px;
}
.lift h2 {
  font-size: 2.5rem;
  margin: 2%;
}
.lift p {
  font-size: 1.6rem;
  line-height: 1.5;
  margin: 2%;
}
.img {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.img img {
  width: 30%;
  height: 200px;
  border-radius: 13px;
}
.visit {
  margin: 2%;
  margin-bottom: 7%;
}
.visit h2 {
  font-size: 2.5rem;
}
.visit p {
  font-size: 1.6rem;
  line-height: 1.5;
}
.go {
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-top: 1px solid #e0e0e0;
  border-bottom: 1px solid #e0e0e0;
}
div {
  margin-top: 40px;
  margin-bottom: 30px;
}
div .img-box {
  width: 35%;
  height: 300px;
}
div .img-box img {
  border-radius: 8px;
}
div .box {
  width: 35%;
  height: 300px;
}
div .box btn {
  margin-top: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.6rem;
  width: 80px;
  height: 40px;
  background-color: #22283B;
  color: white;
  border-radius: 5px;
}
div .box btn:hover {
  color: #22283B;
  background: #f4f4f4;
}
