.rounded-edges {
  border-radius: 0.5rem;
}
@keyframes colorchange {
  from {
    background-color: cyan;
  }
  to {
    background-color: rgba(44, 93, 228, 0.89);
  }
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Ubuntu', sans-serif;
  color: #5E6164;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Russo One', sans-serif;
  color: #23293B;
}
h2 {
  font-size: 3.2rem;
}
h3 {
  font-size: 2.8rem;
}
p {
  font-size: 1.6rem;
  line-height: 1.4;
}
.container {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}
.nav1 {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #F1F1F1;
  background: #F6F6F6;
}
.nav1 nav {
  padding-bottom: 0.5rem;
}
.nav1 nav h1 {
  display: flex;
  justify-content: center;
  padding: 1rem 0.5rem 1.5rem 0rem;
  font-size: 4rem;
  animation-name: colorchange;
  animation-duration: 15s;
}
.nav1 nav a {
  align-self: center;
  font-size: 1.5rem;
  text-decoration: none;
  padding: 0rem 2rem 0rem 0.5rem;
  color: #454A59;
}
footer {
  color: #22283B;
  background: #f4f4f4;
  padding: 20px 0;
  border: 1px double #e0e0e0;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.home .intro h2 {
  padding: 15px;
}
.home .intro p {
  padding: 0 15px;
}
.home .intro img {
  border-radius: 0.5rem;
  width: 100%;
  margin: 0 auto;
}
.home .space-images {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
@media (max-width: 500px) {
  .home .space-images .sky {
    display: none;
  }
}
@media (max-width: 500px) {
  .home .space-images .launch {
    display: none;
  }
}
@media (max-width: 500px) {
  .home .space-images .blast {
    width: 100%;
    padding: 0rem 1.5rem;
  }
}
.home img {
  width: 28%;
  margin: 20px 2.5%;
  border-radius: 20px;
  height: 100%;
}
.visit-planets {
  padding: 15px;
}
.visit-planets h3 {
  margin-top: 11px;
}
.visit-planets p {
  margin-top: 13px;
}
.walk {
  margin-top: 60px;
  border-top: 1px solid #dee2e6;
  padding: 50px 60px;
  display: flex;
  justify-content: center;
}
@media (max-width: 500px) {
  .walk {
    margin: 0 auto;
    display: flex;
    flex-direction: column-reverse;
    padding: 1rem 5%;
  }
}
.walk .walk-text {
  width: 50%;
}
@media (max-width: 500px) {
  .walk .walk-text {
    width: 100%;
  }
}
.walk .walk-text h3 {
  margin-bottom: 10px;
}
@media (max-width: 500px) {
  .walk .walk-text h3 {
    padding-top: 2rem;
  }
}
.walk .walk-text p {
  margin-bottom: 26px;
}
.walk .walk-text .btn {
  border: 1px solid black;
  border-radius: 0.5rem;
  font-size: 1.8rem;
  background-color: black;
  color: white;
  padding: 0.5rem 0rem 0.5rem 0rem;
  max-width: 30%;
  text-align: center;
}
.walk .walk-text .btn:hover {
  background: white;
  color: black;
}
@media (max-width: 500px) {
  .walk .walk-text .btn {
    max-width: 100%;
    Padding: 2rem 0rem;
    margin-bottom: 1rem;
  }
}
.walk-img {
  width: 46%;
  margin-left: 4%;
}
@media (max-width: 500px) {
  .walk-img {
    width: 100%;
    margin: 0 auto;
  }
}
.walk-img img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}
@media (max-width: 500px) {
  .walk-img img {
    width: 100%;
    margin: 0 auto;
  }
}
