/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html,
body {
  font-family: 'Ubuntu', sans-serif;
  width: 1204px;
  height: 1391px;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Russo One', sans-serif;
}
* {
  font-size: 65%;
}
header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: gainsboro;
  width: 100%;
}
header h1 {
  font-size: 40px;
  margin-top: 14px;
  margin-left: -62px;
  display: flex;
  justify-content: center;
}
.navigation {
  display: flex;
  justify-content: center;
  padding-bottom: 14px;
}
.links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-content: space-evenly;
  margin-top: 15px;
  padding-right: 29%;
  padding-left: 13%;
  font-size: 17px;
  width: 77%;
  margin-left: 17%;
  text-decoration: none;
}
a {
  text-decoration: none;
  color: black;
}
footer {
  display: flex;
  justify-content: center;
  background-color: gainsboro;
}
.container {
  width: 1266px;
}
p {
  line-height: 29px;
}
h2 {
  padding-top: 2%;
  padding-bottom: 2%;
  font-size: 40px;
}
.top-image {
  width: 63%;
  height: 203px;
  padding-right: -12px;
  padding-right: -5%;
  margin-left: 16%;
}
.lift-off {
  margin-left: 214px;
  margin-top: -9px;
  font-size: 33px;
}
.first-p {
  line-height: 27px;
  width: 57%;
  margin-left: 17%;
  margin-top: -2%;
}
.top-content {
  padding-bottom: 5%;
  padding-top: 5;
}
#rockets {
  display: flex;
  justify-content: space-between;
  width: 70%;
  margin-top: -6%;
  margin-left: 15%;
}
#rockets img {
  width: 28%;
  margin: 23px 3.5%;
  border-radius: 20px;
  height: 100%;
  margin-left: -41px;
}
#first-rocket {
  margin-left: 5px;
}
.visitation {
  margin-left: 213px;
  font-size: 28px;
}
.bottom-content {
  padding-bottom: 5px;
  padding-top: 5px;
}
.spaceman {
  margin-left: 619px;
  margin-top: -223px;
  height: 250px;
  width: 320px;
}
.foot-content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-left: 35%;
}
.bottom-p {
  width: 34%;
  margin-left: -176px;
  margin-top: 45px;
  line-height: 26px;
}
.bottom-p2 {
  width: 29%;
  margin-left: -171px;
  margin-top: 30px;
}
.bottom-content {
  line-height: 27px;
  width: 57%;
  margin-left: 17%;
  margin-top: -2%;
}
.walk {
  margin-left: 21%;
  font-size: 28px;
  margin-top: 52px;
}
.sidebyside {
  display: flex;
  margin-top: -42px;
}
.button {
  background-color: lightblue;
  color: white;
  margin-top: -24px;
  margin-left: 274px;
  height: 40px;
  width: 6%;
  text-align: center;
  display: flex;
  padding-bottom: 10px;
}
@media only screen and (max-width: 500px) {
  img#middle-rocket {
    display: none;
  }
  img#last-rocket {
    display: none;
  }
  .spaceman {
    display: flex;
    justify-content: center;
  }
}
