/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Ubuntu', sans-serif;
  color: #5E6164;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Russo One', sans-serif;
  color: #23293B;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3.2rem;
}
h3 {
  font-size: 2.8rem;
}
p,
label {
  font-size: 1.6rem;
  line-height: 1.4;
}
input[type="text"],
input[type="email"],
input[type="phone"],
textarea,
select {
  font-family: "Russo One", sans-serif;
  border: none;
  font-size: 1.6rem;
  padding: 10px;
  width: 100%;
  background-color: white;
  color: #454A59;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
  margin-bottom: 30px;
}
.container {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}
.navigation {
  background-color: #F6F6F6;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  height: 100px;
}
@media (max-width: 600px) {
  .navigation h1 {
    font-size: 3.2rem;
  }
}
.navigation .nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
}
@media (max-width: 800px) {
  .navigation .nav-menu {
    width: 75%;
  }
}
@media (max-width: 600px) {
  .navigation .nav-menu {
    width: 100%;
  }
}
.navigation .nav-menu a {
  text-decoration: none;
  font-size: 1.6rem;
  color: #454A59;
  padding: 10px;
}
.navigation .nav-menu a:hover {
  text-decoration: underline;
  transform: translate(10px);
  transition: transform 300ms ease-in-out;
  background: #454A59;
  color: #F6F6F6;
  border-radius: 5px;
}
@media (max-width: 600px) {
  .navigation .nav-menu a:hover {
    transform: none;
  }
}
footer {
  color: #22283B;
  background: #f4f4f4;
  padding: 20px 0;
  border: 1px double #e0e0e0;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.home .intro .earth {
  border-radius: 5px;
  width: 100%;
}
.home .intro h2 {
  padding: 15px;
}
.home .intro p {
  padding: 0 15px;
}
.home .space-images {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.home .space-images img {
  width: 28%;
  margin: 20px 2.5%;
  border-radius: 20px;
  height: 100%;
}
@media (max-width: 600px) {
  .home .space-images .sky,
  .home .space-images .launch {
    display: none;
  }
  .home .space-images .blast {
    width: 100%;
  }
}
.home .visit-planets {
  padding: 15px;
}
.home .visit-planets h3 {
  margin-top: 11px;
}
.home .visit-planets p {
  margin-top: 13px;
}
.home .walk {
  margin-top: 60px;
  border-top: 1px solid #dee2e6;
  padding: 50px 60px;
  display: flex;
  justify-content: center;
}
@media (max-width: 600px) {
  .home .walk {
    flex-direction: column;
    padding: 15px;
  }
}
.home .walk .walk-text {
  width: 50%;
}
@media (max-width: 600px) {
  .home .walk .walk-text {
    width: 100%;
  }
}
.home .walk .walk-text h3 {
  margin-bottom: 10px;
}
@media (max-width: 600px) {
  .home .walk .walk-text h3 {
    margin-top: 20px;
  }
}
.home .walk .walk-text p {
  margin-bottom: 26px;
}
.home .walk .walk-text .btn {
  width: 100px;
  height: 40px;
  background: #23293B;
  color: #F6F6F6;
  font-size: 2rem;
  border: 1px solid #23293B;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.home .walk .walk-text .btn:hover {
  background: #F6F6F6;
  color: #23293B;
  transform: translate(10px);
  transition: transform 300ms ease-in-out;
}
@media (max-width: 600px) {
  .home .walk .walk-text .btn {
    width: 100%;
    height: 40px;
    background: #23293B;
    color: #F6F6F6;
    font-size: 2rem;
    border: 1px solid #23293B;
    border-radius: 5px;
    cursor: pointer;
  }
  .home .walk .walk-text .btn:hover {
    background: #F6F6F6;
    color: #23293B;
    transform: none;
  }
}
.home .walk .walk-img {
  width: 46%;
  margin-left: 4%;
}
@media (max-width: 600px) {
  .home .walk .walk-img {
    margin-left: 0;
    width: 100%;
    order: -1;
  }
}
.home .walk .walk-img img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}
.sign_up .intro .earth {
  border-radius: 5px;
  width: 100%;
}
.sign_up .intro h2 {
  padding: 15px;
}
.sign_up .intro p {
  padding: 0 15px;
}
.sign_up .sign-up {
  background: #F6F6F6;
  border-radius: 2.5%;
  margin: 25px auto;
  padding: 50px 5%;
  margin-bottom: 100px;
}
.sign_up .sign-up .form .btn {
  width: 50%;
  height: 40px;
  background: #23293B;
  color: #F6F6F6;
  font-size: 2rem;
  border: 1px solid #23293B;
  border-radius: 5px;
  cursor: pointer;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sign_up .sign-up .form .btn:hover {
  background: #F6F6F6;
  color: #23293B;
  transform: none;
}
@media (max-width: 600px) {
  .sign_up .sign-up .form .btn {
    width: 100%;
  }
}
