.nav-setup {
  color: #454A59;
  font-size: 1.8rem;
  text-decoration: none;
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Ubuntu', sans-serif;
  color: #5E6164;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Russo One', sans-serif;
  color: #23293B;
}
h2 {
  font-size: 3.2rem;
}
h3 {
  font-size: 2.8rem;
}
p {
  font-size: 1.6rem;
  line-height: 1.4;
}
.container {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}
body .navigation-wrapper {
  max-width: 800px;
  width: 100%;
  margin: 2% auto;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}
body .navigation-wrapper h1 {
  font-size: 3.5rem;
  margin: 2% auto;
}
body .navigation-wrapper .top-nav {
  width: 50%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
@media (max-width: 500px) {
  body .navigation-wrapper .top-nav {
    width: 75%;
  }
}
body .navigation-wrapper .top-nav a {
  color: #454A59;
  font-size: 1.8rem;
  text-decoration: none;
}
footer {
  color: #22283B;
  background: #f4f4f4;
  padding: 20px 0;
  border: 1px double #e0e0e0;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.home .intro .hero-img {
  width: 100%;
  margin: 0 auto;
  border-radius: 8px;
}
.home .intro h2 {
  padding: 15px;
}
.home .intro p {
  padding: 0 15px;
}
.home .space-images {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
@media (max-width: 500px) {
  .home .space-images .sky {
    display: none;
  }
  .home .space-images .launch {
    display: none;
  }
}
.home .space-images img {
  width: 28%;
  margin: 20px 2.5%;
  border-radius: 20px;
  height: 100%;
}
@media (max-width: 500px) {
  .home .space-images img {
    width: 100%;
  }
}
.home .visit-planets {
  padding: 15px;
}
.home .visit-planets h3 {
  margin-top: 11px;
}
.home .visit-planets p {
  margin-top: 13px;
}
.home .walk {
  margin-top: 60px;
  border-top: 1px solid #dee2e6;
  padding: 50px 60px;
  display: flex;
  justify-content: center;
}
@media (max-width: 500px) {
  .home .walk {
    flex-flow: column wrap;
    margin-top: 2%;
    padding: 15px;
  }
}
.home .walk .walk-text {
  width: 50%;
}
.home .walk .walk-text h3 {
  margin-bottom: 10px;
  margin-left: 4%;
}
.home .walk .walk-text p {
  margin-bottom: 26px;
}
.home .walk .walk-text .btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #22283A;
  color: #F6F7F8;
  height: 40px;
  width: 110px;
  border-radius: 10px;
  font-size: 1.8rem;
}
.home .walk .walk-text .btn:hover {
  background-color: #5b6b9a;
  color: black;
}
@media (max-width: 500px) {
  .home .walk .walk-text .btn {
    width: 100%;
    height: 70px;
  }
}
@media (max-width: 500px) {
  .home .walk .walk-text {
    width: 100%;
    order: 2;
  }
}
.home .walk .walk-img {
  width: 46%;
}
@media (max-width: 500px) {
  .home .walk .walk-img {
    margin: 2% auto;
    width: 100%;
    order: 1;
  }
}
.home .walk .walk-img img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}
.form-wrapper {
  background-color: rgba(60, 60, 60, 0.7);
  border: 3px solid black;
  color: white;
  margin: 0 auto;
  width: 60%;
  height: 500px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  font-size: 1.6rem;
  line-height: 2;
  box-shadow: 8px 8px 8px grey;
}
.form-wrapper h2 {
  width: 100%;
  text-align: center;
}
.form-wrapper p {
  width: 80%;
  text-align: center;
}
