/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Ubuntu', sans-serif;
  color: #5E6164;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Russo One', sans-serif;
  color: #23293B;
}
h2 {
  font-size: 3.2rem;
}
h3 {
  font-size: 2.8rem;
}
p {
  font-size: 1.6rem;
  line-height: 1.4;
}
.container {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}
.head-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #F6F6F6;
  border: 1px solid #F1F1F1;
}
.head-1 h1 {
  text-decoration: none;
  font-size: 4rem;
  color: #23293B;
  font: #5E6164;
  padding: 1.5%;
}
.head-1 nav {
  width: 60%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: center;
  font: #454A59;
  border: 1px solid #F1F1F1;
  background-color: #F6F6F6;
}
@media (max-width: 500px) {
  .head-1 nav {
    width: 85%;
    justify-content: space-around;
  }
}
.head-1 nav a {
  text-decoration: none;
  font-size: 1.6rem;
  color: #23293B;
  padding: 1.5%;
  width: 200px;
}
footer {
  color: #22283B;
  background: #f4f4f4;
  padding: 20px 0;
  border: 1px double #e0e0e0;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.home .intro h2 {
  padding: 15px;
}
.home .intro p {
  padding: 0 15px;
}
.home .space-images {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
@media (max-width: 500px) {
  .home .space-images .hideMe {
    display: none;
  }
}
@media (max-width: 500px) {
  .home .space-images {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 98%;
    padding: 2% 1.5%;
    margin: 0%;
    padding-bottom: 3%;
  }
}
.home .space-images img {
  width: 28%;
  margin: 20px 2.5%;
  border-radius: 20px;
  height: 100%;
}
@media (max-width: 500px) {
  .home .space-images img {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 98%;
    padding: 2% 1.5%;
    margin: 0%;
    padding-bottom: 3%;
  }
}
.home .visit-planets {
  padding: 15px;
}
.home .visit-planets h3 {
  margin-top: 11px;
}
.home .visit-planets p {
  margin-top: 13px;
}
.home .walk {
  margin-top: 60px;
  border-top: 1px solid #dee2e6;
  padding: 50px 60px;
  display: flex;
  justify-content: center;
}
@media (max-width: 500px) {
  .home .walk {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0%;
    padding: 50px 1%;
  }
}
.home .walk .walk-text {
  width: 50%;
}
@media (max-width: 500px) {
  .home .walk .walk-text {
    width: 98%;
    padding: 2% 1%;
  }
}
.home .walk .walk-text h3 {
  margin-bottom: 10px;
}
.home .walk .walk-text p {
  margin-bottom: 26px;
}
.home .walk .walk-text .btn {
  width: 30%;
  height: auto;
  padding: 8px;
  background: #22283A;
  color: white;
  font-size: 1.8rem;
  border-radius: 5px;
  border: 1px solid #22283A;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.home .walk .walk-text .btn:hover {
  color: #22283A;
  background: #F1F1F1;
}
@media (max-width: 500px) {
  .home .walk .walk-text .btn {
    padding: 15px;
    border-radius: 8px;
  }
}
.home .walk .walk-text .btn:hover {
  color: #22283A;
  background: #F1F1F1;
}
@media (max-width: 500px) {
  .home .walk .walk-text .btn {
    padding: 15px;
    border-radius: 8px;
  }
}
@media (max-width: 500px) {
  .home .walk .walk-text .btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 98%;
    padding: 18px 1.5%;
    margin: 0%;
    border-radius: 8px;
  }
}
.home .walk .walk-img {
  width: 46%;
  margin-left: 4%;
}
@media (max-width: 500px) {
  .home .walk .walk-img {
    order: -1;
    width: 98%;
    padding: 0.5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0%;
    padding-bottom: 3%;
  }
}
.home .walk .walk-img img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}
#bodie {
  width: 98%;
  border: 5px solid #dee2e6;
  padding: 8% 5%;
  margin: 3%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.largeOne {
  font-size: 2rem;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-color: #454A59;
  background-color: #81848E;
  border: height: 45px;
  width: 75%;
  padding: 6px;
}
.largeOne2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-color: #454A59;
  background-color: darksalmon;
  border: height: 45px;
  width: 98%;
  padding: 3%;
  margin: 2%;
}
#line {
  padding-bottom: 5px;
}
#oo {
  padding-left: 34%;
}
