/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html,
body {
  font-family: 'Ubuntu', sans-serif;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Russo One', sans-serif;
}
.container {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}
.navigation {
  width: 100%;
  background: #F6F6F6;
  padding-top: 14px;
  border-bottom: 2px solid #DEE2E6;
}
.navigation .title {
  font-size: 2.5rem;
  color: #454A59;
  text-align: center;
}
.navigation .nav {
  display: flex;
  justify-content: center;
}
.navigation .nav .nav-link {
  text-decoration: none;
  color: #454A59;
  margin: 16px 16px 12px 16px;
}
.navigation .nav .nav-link:hover {
  text-decoration: underline;
}
.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #FFFFFF;
}
.home h2 {
  font-size: 2rem;
  color: #23293B;
}
.home h3 {
  font-size: 1.8rem;
  letter-spacing: -0.03rem;
  color: #23293B;
}
.home p {
  color: #5E6164;
  line-height: 1.5;
  margin: 10px 0 16px 0;
}
.home .top-img {
  height: 200px;
  width: 100%;
}
.home .top {
  width: 96.2%;
  margin: 19px 0 50px 0;
}
.home .top .img-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}
.home .top .img-container img {
  width: 30.73%;
  align-self: flex-start;
  border-radius: 15px;
}
.home .bot {
  display: flex;
  justify-content: center;
  padding: 48px 0;
  border-top: 1px solid #DEE2E6;
  border-bottom: 1px solid #DEE2E6;
}
.home .bot .bot-container {
  display: flex;
  justify-content: space-between;
  width: 84.2%;
}
.home .bot .bot-container .text-container {
  display: flex;
  flex-direction: column;
  width: 46%;
  margin-top: 2px;
}
.home .bot .bot-container .text-container h3 {
  margin-bottom: 11px;
}
.home .bot .bot-container .text-container p {
  margin: 0 0 16px 0;
}
.home .bot .bot-container .text-container .button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 38px;
  color: #FFFFFF;
  background: #23293B;
  border: 1px solid #007BFF;
  border-radius: 4px;
  text-decoration: none;
  font-size: 1rem;
}
.home .bot .bot-container img {
  align-self: flex-start;
  width: 47.8%;
  border-radius: 4px;
}
.home .footer {
  width: 100%;
  text-align: center;
  color: #81848E;
  background: #F4F4F4;
  padding: 24px 0 40px 0;
  border: 1px solid #DEE2E6;
  border-radius: 4px;
  margin-top: 16px;
}
