.flex-column {
  margin: 0 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.headings {
  margin: 10px 0;
  align-self: flex-start;
}
.border-bottom {
  border-bottom: 2px solid #F6F7F8;
}
.mobile-width {
  width: 100%;
}
.mobile-column {
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin: 0;
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html,
body {
  font-family: 'Ubuntu', sans-serif;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Russo One', sans-serif;
}
h1 {
  font-size: 1.6rem;
  color: #23293B;
}
h2 {
  font-size: 1.4rem;
  color: #23293B;
}
p {
  line-height: 1.5;
  font-size: 0.9rem;
  padding-bottom: 10px;
  color: #5E6164;
}
@media ( max-width: 500px ) {
  p {
    font-size: 1rem;
  }
}
img {
  max-width: 100%;
  height: auto;
}
.container {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}
.main-nav {
  position: fixed;
  top: 0;
  background: #F6F6F6;
  width: 100%;
  overflow: hidden;
  border-bottom: 1px solid #F1F1F1;
}
.main-nav .nav-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin: 20px auto;
}
.main-nav .nav-container h1 {
  color: #454A59;
}
@media ( max-width: 500px ) {
  .main-nav .nav-container h1 {
    font-size: 2.4rem;
  }
}
.main-nav .nav-container .nav {
  width: 60%;
  display: flex;
  justify-content: space-around;
  padding-top: 20px;
}
@media ( max-width: 500px ) {
  .main-nav .nav-container .nav {
    width: 100%;
  }
}
.main-nav .nav-container .nav a {
  text-decoration: none;
  color: #454A59;
}
.footer {
  width: 100%;
  border-top: 2px solid #F6F7F8;
  background: #F4F4F4;
  margin-top: 20px;
}
.footer p {
  text-align: center;
  color: #81848E;
  padding: 20px;
}
.home {
  margin-top: 110px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
@media ( max-width: 500px ) {
  .home {
    margin-top: 100px;
  }
}
.home .header {
  margin: 0 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media ( max-width: 500px ) {
  .home .header {
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin: 0;
    width: 100%;
  }
}
.home .header h1 {
  margin: 10px 0;
  align-self: flex-start;
}
@media ( max-width: 500px ) {
  .home .header h1 {
    margin: 5px;
  }
}
@media ( max-width: 500px ) {
  .home .header p {
    margin: 5px;
  }
}
.home .header .middle-img-content {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 35%;
}
@media ( max-width: 500px ) {
  .home .header .middle-img-content {
    width: 100%;
  }
}
@media ( max-width: 500px ) {
  .home .header .middle-img-content .img2 {
    display: none;
  }
}
@media ( max-width: 500px ) {
  .home .header .middle-img-content .img3 {
    display: none;
  }
}
.home .header .middle-img-content img {
  width: 100%;
  height: 90%;
  padding: 10px;
  border-radius: 20px;
}
.home .top-content {
  margin: 0 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 2px solid #F6F7F8;
}
@media ( max-width: 500px ) {
  .home .top-content {
    margin: 0 10px;
  }
}
.home .top-content h2 {
  margin: 10px 0;
  align-self: flex-start;
}
.home .top-content p {
  margin-bottom: 20px;
}
.home .bottom-content {
  width: 75%;
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 2px solid #F6F7F8;
}
@media ( max-width: 500px ) {
  .home .bottom-content {
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin: 0;
  }
}
.home .bottom-content .text-content {
  width: 48%;
  padding-right: 1%;
}
@media ( max-width: 500px ) {
  .home .bottom-content .text-content {
    width: 100%;
  }
}
.home .bottom-content .text-content h2 {
  margin: 10px 0;
  align-self: flex-start;
}
.home .bottom-content .text-content .btn {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 110px;
  height: 40px;
  background-color: #23293B;
  color: #FFFFFF;
  border: 2px solid #F6F7F8;
  cursor: pointer;
  font-size: 1rem;
  margin-bottom: 20px;
}
.home .bottom-content .text-content .btn:hover {
  background-color: #FFFFFF;
  color: #23293B;
}
@media ( max-width: 500px ) {
  .home .bottom-content .text-content .btn {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 365px;
    height: 40px;
    background-color: #23293B;
    color: #FFFFFF;
    border: 2px solid #F6F7F8;
    cursor: pointer;
    font-size: 1rem;
  }
  .home .bottom-content .text-content .btn:hover {
    background-color: #FFFFFF;
    color: #23293B;
  }
}
.home .bottom-content .bottom-img-content {
  width: 48%;
  padding-left: 1%;
  align-self: center;
}
@media ( max-width: 500px ) {
  .home .bottom-content .bottom-img-content {
    width: 100%;
  }
}
.home .bottom-content .bottom-img-content img {
  border-radius: 5px;
}
