/* Extra small devices (phones, 500px and down) */
/* Medium devices (landscape tablets, 768px and up) */
/* Large devices (laptops/desktops, 992px and up) */
.desktop-h1 {
  font-size: 4.5rem;
}
.phone-h1 {
  font-size: 3rem;
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Ubuntu', sans-serif;
  color: #5E6164;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Russo One', sans-serif;
  color: #23293B;
}
h2 {
  font-size: 3.2rem;
}
h3 {
  font-size: 2.8rem;
}
p {
  font-size: 1.6rem;
  line-height: 1.4;
}
.container {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}
header {
  display: flex;
  flex-direction: column;
  text-align: center;
}
@media (max-width: 500px) {
  header {
    padding: 3% 0;
  }
}
@media (min-width: 992px) {
  header {
    padding: 1.5% 0;
  }
}
@media (min-width: 992px) {
  header .navigation-bar {
    background-color: #F6F7F8;
  }
}
header h1 {
  font-size: 4.5rem;
}
@media (max-width: 500px) {
  header h1 {
    font-size: 3rem;
  }
}
@media (max-width: 500px) {
  header nav {
    padding: 3% 0;
  }
}
@media (min-width: 992px) {
  header nav {
    padding: 4% 0;
  }
}
header a {
  text-decoration: none;
  color: #23293B;
}
@media (max-width: 500px) {
  header a {
    padding: 0 2%;
    font-size: 1.1rem;
  }
}
@media (min-width: 992px) {
  header a {
    text-decoration: none;
    padding: 0 3%;
    font-size: 1.3rem;
  }
}
@media (max-width: 500px) {
  header img {
    width: 98%;
    height: 60%;
    border-radius: 8px;
  }
}
@media (min-width: 992px) {
  header img {
    width: 80%;
  }
}
footer {
  color: #22283B;
  background: #f4f4f4;
  padding: 20px 0;
  border: 1px double #e0e0e0;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
@media (max-width: 500px) {
  footer {
    width: 90%;
    margin: 0 auto;
  }
}
@media (max-width: 500px) {
  .home .intro {
    display: flex;
    flex-direction: column;
    width: 95%;
  }
}
@media (max-width: 500px) {
  .home h2 {
    display: flex;
    padding-left: 5%;
  }
}
@media (max-width: 500px) {
  .home p {
    padding: 1% 0 0 4%;
    width: 95%;
  }
}
@media (min-width: 992px) {
  #blast {
    display: none;
  }
}
@media (max-width: 500px) {
  #blast {
    margin: 1% 10%;
    width: 80%;
  }
}
.space-images {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
@media (max-width: 500px) {
  .space-images {
    display: none;
  }
}
.space-images img {
  width: 28%;
  margin: 20px 2.5%;
  border-radius: 20px;
  height: 100%;
}
.visit-planets {
  padding: 15px;
}
.visit-planets h3 {
  margin-top: 11px;
  display: flex;
  padding-left: 5%;
}
.visit-planets p {
  margin-top: 13px;
}
@media (max-width: 500px) {
  .visit-planets p {
    padding: 1% 0 0 4%;
    width: 95%;
  }
}
.walk {
  margin-top: 60px;
  border-top: 1px solid #dee2e6;
  padding: 50px 60px;
  display: flex;
  justify-content: center;
}
@media (max-width: 500px) {
  .walk {
    flex-direction: column-reverse;
  }
}
.walk .walk-text {
  width: 50%;
}
@media (max-width: 500px) {
  .walk .walk-text {
    width: 80%;
  }
}
.walk .walk-text h3 {
  margin-bottom: 10px;
}
@media (max-width: 500px) {
  .walk .walk-text h3 {
    padding: 1% 0 0 4%;
    width: 95%;
  }
}
.walk .walk-text p {
  margin-bottom: 26px;
}
@media (max-width: 500px) {
  .walk .walk-text p {
    padding: 1% 0 0 4%;
    width: 95%;
  }
}
.walk .walk-text .btn:hover {
  background-color: #81848E;
  color: #F6F6F6;
  font-weight: bolder;
}
@media (max-width: 500px) {
  .walk .walk-text .btn {
    width: 130%;
    padding: 5%;
    background-color: #22283A;
    text-align: center;
    color: #F1F1F1;
    font-size: 1.25rem;
    margin: 0 auto;
  }
}
@media (min-width: 992px) {
  .walk .walk-text .btn {
    width: 25%;
    padding: 2%;
    background-color: #22283A;
    text-align: center;
    color: #F1F1F1;
    font-size: 1.25rem;
    margin: 0 auto;
    margin-left: 3%;
  }
}
.walk .walk-img {
  width: 46%;
  margin-left: 4%;
}
@media (max-width: 500px) {
  .walk .walk-img {
    width: 100%;
  }
}
.walk .walk-img img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}
