/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Ubuntu', sans-serif;
  color: #5E6164;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Russo One', sans-serif;
  color: #23293B;
}
h2 {
  font-size: 3.2rem;
}
h3 {
  font-size: 2.8rem;
}
p {
  font-size: 1.6rem;
  line-height: 1.4;
}
.container {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}
@media (max-width: 500px) {
  .container {
    width: 100%;
  }
}
.nav-header {
  display: flex;
  flex-direction: column;
  background: #F6F6F6;
  color: #5E6164;
  font-style: #454A59;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  border-bottom: 1px solid lightgray;
}
@media (max-width: 500px) {
  .nav-header {
    width: 100%;
    padding: 0;
  }
}
.nav-header h1 {
  font-size: 3rem;
  margin: 20px 0;
}
.nav-header a {
  text-decoration: none;
  color: #5E6164;
  padding: 0 20px;
  margin: 20px 0;
}
footer {
  color: #22283B;
  background: #f4f4f4;
  padding: 20px 0;
  border: 1px double #e0e0e0;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 500px) {
  .home .intro {
    width: 100%;
    padding: 0;
  }
}
.home .intro h2 {
  padding: 15px;
}
.home .intro p {
  padding: 0 15px;
}
.space-images {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
@media (max-width: 500px) {
  .space-images {
    width: 100%;
    padding: 0;
  }
}
.space-images img {
  width: 28%;
  margin: 20px 2.5%;
  border-radius: 20px;
  height: 100%;
}
@media (max-width: 500px) {
  .space-images img {
    width: 100%;
    padding: 0;
  }
}
@media (max-width: 500px) {
  .space-images .blast {
    width: 100%;
    padding: 0;
  }
}
@media (max-width: 500px) {
  .space-images .sky {
    display: none;
  }
}
@media (max-width: 500px) {
  .space-images .sky .launch {
    display: none;
  }
}
.space-images .visit-planets {
  padding: 15px;
}
@media (max-width: 500px) {
  .space-images .visit-planets {
    width: 100%;
    padding: 0;
  }
}
.space-images .visit-planets h3 {
  margin-top: 11px;
}
.space-images .visit-planets p {
  margin-top: 13px;
}
.space-images .walk {
  margin-top: 60px;
  border-top: 1px solid #dee2e6;
  padding: 50px 60px;
  display: flex;
  justify-content: center;
}
@media (max-width: 500px) {
  .space-images .walk {
    width: 100%;
    padding: 0;
  }
}
.space-images .walk .walk-text {
  width: 50%;
}
@media (max-width: 500px) {
  .space-images .walk .walk-text {
    width: 100%;
    padding: 0;
  }
}
.space-images .walk .walk-text h3 {
  margin-bottom: 10px;
}
.space-images .walk .walk-text p {
  margin-bottom: 26px;
}
.space-images .walk .walk-text .btn {
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 45px;
  background-color: #22283A;
  color: #F6F6F6;
  border: 1px solid #5E6164;
  cursor: pointer;
  font-size: 1.8rem;
}
.space-images .walk .walk-text .btn:hover {
  background: #F6F6F6;
  color: #22283A;
}
.space-images .walk .walk-img {
  width: 46%;
  margin-left: 4%;
}
@media (max-width: 500px) {
  .space-images .walk .walk-img {
    width: 100%;
    padding: 0;
    order: -1;
  }
}
.space-images .walk .walk-img img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}
