/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Ubuntu', sans-serif;
  color: #5E6164;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Russo One', sans-serif;
  color: #23293B;
}
h2 {
  font-size: 3.2rem;
}
h3 {
  font-size: 2.8rem;
}
p {
  font-size: 1.6rem;
  line-height: 1.4;
}
.container {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
  margin-top: 120px;
  z-index: -1;
}
.con-nav {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #F6F6F6;
  border: 1px double #F1F1F1;
  color: #454A59;
  opacity: 0.9;
}
.con-nav h1 {
  font-size: 4rem;
  padding: 20px 0px;
}
.con-nav nav {
  width: 450px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}
@media (max-width: 500px) {
  .con-nav nav {
    width: 95%;
  }
}
.con-nav nav a {
  font-size: 2rem;
  text-decoration: none;
  color: #22283B;
}
footer {
  color: #22283B;
  background: #f4f4f4;
  padding: 20px 0;
  border: 1px double #e0e0e0;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.home .intro .main-header {
  width: 100%;
  height: auto;
}
.home .intro h2 {
  padding: 15px;
}
.home .intro p {
  padding: 0 15px;
}
.home .space-images {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.home .space-images img {
  width: 28%;
  margin: 20px 2.5%;
  border-radius: 20px;
  height: 100%;
}
@media (max-width: 500px) {
  .home .space-images img {
    margin: 20px auto;
    width: 90%;
  }
}
@media (max-width: 500px) {
  .home .space-images .sky,
  .home .space-images .launch {
    display: none;
  }
}
.home .visit-planets {
  padding: 15px;
}
.home .visit-planets h3 {
  margin-top: 11px;
}
.home .visit-planets p {
  margin-top: 13px;
}
.home .walk {
  margin-top: 60px;
  border-top: 1px solid #dee2e6;
  padding: 50px 60px;
  display: flex;
  justify-content: center;
}
@media (max-width: 500px) {
  .home .walk {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 50px 0px;
    margin-top: 20px;
    padding: 20px 0px;
  }
}
.home .walk .walk-text {
  width: 50%;
}
@media (max-width: 500px) {
  .home .walk .walk-text {
    width: 90%;
    order: 1;
  }
}
.home .walk .walk-text h3 {
  margin-bottom: 10px;
}
.home .walk .walk-text p {
  margin-bottom: 26px;
}
.home .walk .walk-text .btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 14rem;
  height: 4rem;
  background-color: #22283A;
  color: white;
  font-size: 2rem;
  border: 1px solid #22283A;
  border-radius: 0.5rem;
  cursor: pointer;
}
.home .walk .walk-text .btn a {
  color: white;
  text-decoration: none;
}
.home .walk .walk-text .btn:hover {
  background-color: white;
  color: #22283A;
  border: 1px solid #22283A;
}
.home .walk .walk-text .btn:hover a {
  color: #22283A;
}
.home .walk .walk-text .btn a {
  color: white;
  text-decoration: none;
}
@media (max-width: 500px) {
  .home .walk .walk-text .btn {
    width: 100%;
  }
}
.home .walk .walk-img {
  width: 46%;
  margin-left: 4%;
}
@media (max-width: 500px) {
  .home .walk .walk-img {
    width: 90%;
    margin: 20px auto;
  }
}
.home .walk .walk-img img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}
@media (max-width: 500px) {
  .home .walk .walk-img img {
    order: -1;
  }
}
.form1 {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.form1 label,
.form1 input,
.form1 textarea {
  font-size: 2rem;
  width: 50%;
}
@media (max-width: 500px) {
  .form1 label,
  .form1 input,
  .form1 textarea {
    width: 95%;
  }
}
.form1 label {
  padding: 1.5rem 0;
}
.form1 input {
  padding: 1rem 1rem;
}
.form1 .btn-form {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 14rem;
  height: 5.5rem;
  background-color: #22283A;
  color: white;
  font-size: 2rem;
  border: 1px solid #22283A;
  border-radius: 0.5rem;
  cursor: pointer;
  width: 50%;
  margin: 20px 0;
}
.form1 .btn-form a {
  color: white;
  text-decoration: none;
}
.form1 .btn-form:hover {
  background-color: white;
  color: #22283A;
  border: 1px solid #22283A;
}
.form1 .btn-form:hover a {
  color: #22283A;
}
@media (max-width: 500px) {
  .form1 .btn-form {
    width: 95%;
  }
}
