/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html,
body {
  font-family: 'Ubuntu', sans-serif;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Russo One', sans-serif;
}
.all-header {
  width: 100%;
  margin: 0 auto;
  padding-top: 2%;
  padding-bottom: 1%;
  background-color: #F6F6F6;
  border-bottom-color: #F1F1F1;
}
.all-header .all-header-contents {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.all-header .all-header-contents .title {
  font-size: 2rem;
  flex: 2;
  padding-top: 1%;
  font-family: 'Russo One', sans-serif;
}
.all-header .all-header-contents .navigation-dests {
  flex: 1;
  width: 30%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  font-family: 'Ubuntu', sans-serif;
  padding-top: 1%;
}
.all-header .all-header-contents .navigation-dests a {
  color: #454A59;
}
.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.home .cta-banner-text {
  padding-top: 2%;
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.home .cta-banner-text h2 {
  padding-bottom: 1%;
  font-size: 1.5rem;
}
.home .cta-banner-text p {
  padding-bottom: 2%;
}
.home .images-section {
  width: 60%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.home .images-section img {
  width: 100%;
  height: auto;
  border-radius: 8%;
  padding: 3%;
}
