.navbar {
  height: 7vw;
  width: 100%;
  color: #454A59;
  background: #F6F6F6;
  border-bottom: #F1F1F1;
  font-family: "Russo One", sans-serif;
}
.navbar h1 {
  display: flex;
  justify-content: center;
  font-size: 30px;
  color: #454A59;
  position: relative;
  top: 10%;
  transition: lefttoright 2s ease;
}
.navbar nav {
  display: flex;
  justify-content: center;
  position: relative;
  top: 25%;
  bottom: auto;
}
.navbar nav a {
  text-decoration: none;
  color: grey;
  padding: 5px;
  margin-right: 20px;
  margin-top: 5px;
}
.navbar nav a:hover {
  color: black;
  background: lightgrey;
  border-radius: 10px;
}
footer {
  color: #22283b;
  background: #f4f4f4;
  padding: 20px;
  border: 1px double #e0e0e0;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
}
footer p {
  display: flex;
  justify-content: center;
  position: relative;
  top: 40%;
  bottom: auto;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Ubuntu', sans-serif;
  color: #5E6164;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Russo One', sans-serif;
  color: #23293B;
}
h2 {
  font-size: 3.2rem;
}
h3 {
  font-size: 2.8rem;
}
p {
  font-size: 1.6rem;
  line-height: 1.4;
}
.container {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}
.home {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.home h1,
.home h2,
.home h3,
.home h4,
.home h5,
.home h6 {
  font-family: "Russo One", sans-serif;
  font-size: 1.2rem;
}
.home .main-img img {
  border-radius: 5px;
}
.home .intro h2 {
  padding: 15px;
}
.home .intro p {
  padding: 0 15px;
}
.home .space-images {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.home .space-images img {
  width: 28%;
  margin: 20px 2.5%;
  border-radius: 20px;
  height: 100%;
}
.home .visit-planets {
  padding: 15px;
}
.home .visit-planets h3 {
  margin-top: 11px;
}
.home .visit-planets p {
  margin-top: 13px;
}
.home .walk {
  margin-top: 60px;
  border-top: 1px solid #dee2e6;
  padding: 50px 60px;
  display: flex;
  justify-content: center;
}
.home .walk .walk-text {
  width: 50%;
}
.home .walk .walk-text h3 {
  margin-bottom: 10px;
}
.home .walk .walk-text p {
  margin-bottom: 26px;
}
.home .walk .walk-img {
  width: 46%;
  margin-left: 4%;
}
.home .walk .walk-img img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}
.container p {
  width: 90%;
}
.container .sign-up {
  color: salmon;
  background: #23293B;
  height: 35px;
  width: 100px;
  border: none;
  border-radius: 5px;
}
.container .sign-up:hover {
  background: salmon;
  color: #23293B;
  border: 1px solid black;
}
.container .sign-up:hover {
  cursor: pointer;
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
@keyframes lefttoright {
  from {
    left: -200px;
  }
  to {
    left: 0px;
  }
}
@media screen and (max-width: 500px) {
  body {
    overflow-x: hidden;
  }
  body p {
    width: 100%;
  }
  body .navbar {
    height: 18vw;
  }
  body .navbar nav {
    border-bottom: 2px solid #F1F1F1;
  }
  body .container {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  body .container .intro {
    max-width: 100%;
  }
  body .space-images {
    display: flex;
    justify-content: center;
  }
  body .space-images .blast {
    min-width: 400px;
  }
  body .space-images .sky {
    display: none;
  }
  body .space-images .launch {
    display: none;
  }
  body .walk {
    display: flex;
    flex-direction: column-reverse;
  }
  body .walk img {
    min-width: 400px;
    margin-right: 40px;
    margin-bottom: 20px;
  }
  body .walk .walk-text {
    min-width: 400px;
  }
  body .btn {
    display: flex;
    justify-content: center;
  }
  body .btn .sign-up {
    outline: none;
    color: salmon;
    background: #23293B;
    height: 60px;
    width: 100%;
  }
  body .btn .sign-up:hover {
    background: salmon;
    color: #23293B;
    border: 1px solid black;
  }
  body footer {
    width: 100%;
    height: 60px;
  }
}
