.navigationator {
  font-size: 15px;
  font-family: #454A59;
}
.paragraphmix {
  padding: 15px;
}
.noneya {
  display: none;
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Ubuntu', sans-serif;
  color: #5E6164;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Russo One', sans-serif;
  color: #23293B;
}
h2 {
  font-size: 3.2rem;
}
h3 {
  font-size: 2.8rem;
}
p {
  font-size: 1.6rem;
  line-height: 1.4;
}
.container {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}
.intro {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  max-width: 100%px;
  margin-top: 20px;
  background-color: #F6F6F6;
}
@media (max-width: 500px) {
  .intro {
    display: flex;
    flex-direction: column;
    padding-top: 15px;
    padding-bottom: 8px;
  }
}
.intro h1 {
  font-size: 50px;
  margin-bottom: 10px;
  margin-top: 20px;
  width: auto;
}
.intro .navlinks {
  align-items: center;
  margin: 20px 0 0;
  margin-top: 20px;
  margin-bottom: 20px;
}
.intro a {
  text-decoration: none;
  font-size: 15px;
  font-family: #454A59;
  color: #23293B;
  padding-right: 20px;
}
@media (max-width: 500px) {
  .intro a {
    font-size: 15px;
    font-family: #454A59;
  }
}
footer {
  color: #22283B;
  background: #f4f4f4;
  padding: 20px 0;
  border: 1px double #e0e0e0;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.home .spaceliftoff .skysky {
  border-radius: 10px;
  width: 100%;
}
@media (max-width: 500px) {
  .home .spaceliftoff .skysky {
    width: 100%;
  }
}
.home .spaceliftoff h2 {
  padding: 15px;
}
.home .spaceliftoff p {
  padding: 15px;
}
.home .space-images {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.home .space-images img {
  width: 28%;
  margin: 20px 2.5%;
  border-radius: 20px;
  height: 100%;
}
@media (max-width: 500px) {
  .home .space-images .sky {
    display: none;
  }
  .home .space-images .launch {
    display: none;
  }
  .home .space-images .blast {
    width: 100%;
    margin: 20px 2.5%;
  }
}
.home .visit-planets {
  padding: 15px;
}
@media (max-width: 500px) {
  .home .visit-planets {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 20px 2.5%;
  }
}
.home .visit-planets h3 {
  margin-top: 11px;
}
.home p {
  margin-top: 13px;
}
.walk {
  margin-top: 60px;
  border-top: 1px solid #dee2e6;
  padding: 50px 60px;
  display: flex;
  justify-content: center;
}
@media (max-width: 500px) {
  .walk {
    flex-direction: column-reverse;
    margin-top: 15px;
    padding: 15px 5%;
  }
}
.walk .walk-text {
  width: 50%;
}
@media (max-width: 500px) {
  .walk .walk-text {
    width: 100%;
    margin-top: 15px;
  }
}
.walk .walk-text h3 {
  margin-bottom: 10px;
}
.walk .walk-text p {
  margin-bottom: 26px;
}
.walk .walk-text .btn {
  background: #23293B;
  color: white;
  font-size: 2rem;
  cursor: pointer;
  border-radius: 5px;
  padding: 5px 10px;
  width: 30%;
  text-align: center;
}
.walk .walk-text .btn:hover {
  background: white;
  color: #23293B;
  border: 1px solid #23293B;
}
@media (max-width: 500px) {
  .walk .walk-text .btn {
    width: 100%;
    padding: 20px 0;
  }
}
.walk .walk-img {
  width: 46%;
  margin-left: 4%;
}
@media (max-width: 500px) {
  .walk .walk-img {
    width: 100%;
    margin-left: 0;
  }
}
.walk .walk-img img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}
