// The cascade matters!

// Vars and Mixins
{
@import "variables";
@import "mixins";

// General Styles Here
@import "reset";
@import "general-styles";

// Components Here
{
    @import "header";
@import "t cta";
@import "main-content";
@import "contact";
@import "footer";

}