/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Ubuntu', sans-serif;
  color: #5E6164;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Russo One', sans-serif;
  color: #23293B;
}
h2 {
  font-size: 3.2rem;
}
h3 {
  font-size: 2.8rem;
}
p {
  font-size: 1.6rem;
  line-height: 1.4;
}
.container {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
  margin-top: 85px;
}
.top-bar {
  width: 100%;
  position: fixed;
  top: 0;
  opacity: 0.8;
}
.top-bar .nav-container {
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  text-align: center;
  padding-bottom: 7px;
  background-color: #F6F6F6;
  border-bottom: #F1F1F1;
}
@media ( max-width: 500px ) {
  .top-bar .nav-container {
    max-width: 500px;
  }
}
.top-bar .nav-container h1 {
  width: 100%;
  font-size: 4rem;
  padding-bottom: 1.5%;
}
@media ( max-width: 500px ) {
  .top-bar .nav-container h1 {
    margin-bottom: 10px;
  }
}
.top-bar .nav-container nav {
  width: 100%;
}
.top-bar .nav-container nav a {
  text-decoration: none;
  font-size: 1.6rem;
  line-height: 1.4;
  color: #454A59;
  font-weight: bolder;
  padding: 15px;
}
footer {
  color: #22283B;
  background: #f4f4f4;
  padding: 20px 0;
  border: 1px double #e0e0e0;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.home header img {
  border-radius: 5px;
}
@media ( max-width: 500px ) {
  .home header img {
    width: 100%;
  }
}
.home .intro h2 {
  padding: 15px;
}
.home .intro p {
  padding: 0 15px;
}
.home .space-images {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.home .space-images img {
  width: 28%;
  margin: 20px 2.5%;
  border-radius: 20px;
  height: 100%;
}
@media ( max-width: 500px ) {
  .home .space-images .blast {
    width: 100%;
    margin-left: 5%;
  }
  .home .space-images .sky {
    display: none;
  }
  .home .space-images .launch {
    display: none;
  }
}
.home .visit-planets {
  padding: 15px;
}
.home .visit-planets h3 {
  margin-top: 11px;
}
.home .visit-planets p {
  margin-top: 13px;
}
.home .walk {
  margin-top: 60px;
  border-top: 1px solid #dee2e6;
  padding: 50px 60px;
  display: flex;
  justify-content: center;
}
@media ( max-width: 500px ) {
  .home .walk {
    margin-top: 10px;
    flex-direction: column-reverse;
    padding: 20px;
  }
}
.home .walk .walk-text {
  width: 50%;
}
@media ( max-width: 500px ) {
  .home .walk .walk-text {
    width: 100%;
  }
}
.home .walk .walk-text h3 {
  margin-bottom: 10px;
}
.home .walk .walk-text p {
  margin-bottom: 26px;
}
.home .walk .walk-text .btn {
  border-radius: 5px;
  background-color: #22283A;
  width: 100px;
  padding: 10px;
  font-family: 'Ubuntu', sans-serif;
  color: #F6F7F8;
  font-size: 1.6rem;
  text-align: center;
  font-weight: bolder;
}
.home .walk .walk-text .btn:hover {
  background-color: #F6F7F8;
  color: #22283A;
}
@media ( max-width: 500px ) {
  .home .walk .walk-text .btn {
    width: 100%;
    padding: 25px;
  }
}
.home .walk .walk-img {
  width: 46%;
  margin-left: 4%;
}
@media ( max-width: 500px ) {
  .home .walk .walk-img {
    width: 100%;
    margin-left: 1%;
    margin-bottom: 20px;
  }
}
.home .walk .walk-img img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}
.home .subscription {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: 1px solid #dee2e6;
  padding: 15px;
}
@media ( max-width: 500px ) {
  .home .subscription {
    width: 90%;
  }
}
.home .subscription h3 {
  align-self: flex-start;
  margin-bottom: 10px;
}
.home .subscription p {
  align-self: flex-start;
  margin-bottom: 26px;
}
.home .subscription form {
  font-family: 'Ubuntu', sans-serif;
  font-size: 1.6rem;
  line-height: 1.4;
}
@media ( max-width: 500px ) {
  .home .subscription form {
    width: 100%;
  }
}
.home .subscription form input {
  width: 390px;
  padding: 5px;
  margin: 10px;
  border-radius: 5px;
}
.home .subscription form .state-zip {
  display: flex;
}
.home .subscription form .state-zip input {
  width: 150px;
  padding: 5px;
  margin: 10px;
  border-radius: 5px;
  justify-self: flex-start;
}
.home .subscription .btn {
  border-radius: 5px;
  background-color: #22283A;
  width: 100px;
  padding: 10px;
  font-family: 'Ubuntu', sans-serif;
  color: #F6F7F8;
  font-size: 1.6rem;
  text-align: center;
  font-weight: bolder;
  margin-top: 20px;
}
.home .subscription .btn:hover {
  background-color: #F6F7F8;
  color: #22283A;
}
