/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Ubuntu', sans-serif;
  color: #5e6164;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Russo One', sans-serif;
  color: #23293b;
}
h2 {
  font-size: 3.2rem;
}
h3 {
  font-size: 2.8rem;
}
p {
  font-size: 1.6rem;
  line-height: 1.4;
}
.container {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}
.navbar {
  width: 100%;
  max-width: 800px;
}
.navbar nav {
  font-size: 1.4rem;
  font-weight: 800;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: baseline;
  padding: 5px;
}
.navbar nav a {
  text-decoration: none;
  color: #454a59;
}
@media (max-width: 500px) {
  .navbar nav a {
    font-size: 2rem;
    padding: 5px;
  }
}
footer {
  color: #22283B;
  background: #f4f4f4;
  padding: 20px 0;
  border: 1px double #e0e0e0;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.title {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #f1f1f1;
  width: 100%;
  margin: 0 auto;
}
@media (max-width: 500px) {
  .title {
    width: 100%;
    max-widthbackground-color: #ffffff;
  }
}
.title h1 {
  font-size: 3.6rem;
  padding: 10px;
  color: #23293b;
}
@media (max-width: 500px) {
  .title h1 {
    font-size: 3.8rem;
  }
}
@media (max-width: 500px) {
  .home {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
}
.home .intro h2 {
  padding: 15px;
}
.home .intro p {
  padding: 0 15px;
}
.home .space-images {
  display: flex;
  flex-wrap: wrap;
}
@media (max-width: 500px) {
  .home .space-images .blast {
    width: 100%;
    flex-wrap: nowrap;
    overflow: hidden;
  }
}
@media (max-width: 500px) {
  .home .space-images .sky {
    width: 0;
    flex-wrap: nowrap;
    overflow: hidden;
  }
}
@media (max-width: 500px) {
  .home .space-images .launch {
    width: 0;
    flex-wrap: nowrap;
    overflow: hidden;
  }
}
.home .space-images img {
  width: 28%;
  margin: 20px 2.5%;
  border-radius: 20px;
  height: 100%;
}
.home .visit-planets {
  padding: 15px;
}
@media (max-width: 500px) {
  .home .visit-planets {
    display: flex;
    flex-direction: column;
  }
}
.home .visit-planets h3 {
  margin-top: 11px;
}
.home .visit-planets p {
  margin-top: 13px;
}
.home .walk {
  margin-top: 60px;
  border-top: 1px solid #dee2e6;
  padding: 50px 60px;
  display: flex;
  justify-content: center;
}
@media (max-width: 500px) {
  .home .walk {
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
  }
}
@media (max-width: 500px) {
  .home .walk .walk-img {
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    justify-content: stretch;
    border: 1px solid red;
  }
}
.home .walk .walk-text {
  width: 50%;
}
@media (max-width: 500px) {
  .home .walk .walk-text {
    width: 100%;
  }
}
.home .walk .walk-text h3 {
  margin-bottom: 10px;
}
.home .walk .walk-text p {
  margin-bottom: 26px;
}
.home .walk .walk-text .btn {
  background-color: #22283a;
  font-size: 1.4rem;
  color: #ffffff;
  border-radius: 5px;
  padding: 8px;
  width: 100%;
  max-width: 80px;
  text-align: center;
}
@media (max-width: 500px) {
  .home .walk .walk-text .btn {
    width: 100%;
    border: 1px solid red;
    padding: 10px 50%;
  }
}
.home .walk .walk-text .btn:hover {
  background-color: #ffffff;
  font-size: 1.4rem;
  color: #22283a;
}
.home .walk .walk-img {
  width: 46%;
  margin-left: 4%;
}
.home .walk .walk-img img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}
