/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html,
body {
  font-family: 'Ubuntu', sans-serif;
  font-size: 62.5%;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Russo One', sans-serif;
}
.navigation-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #f4f4f4;
  align-items: center;
  padding: 5px 0px 10px 0px;
  border-bottom: 2px solid #e0e0e0;
}
.navigation-container h1 {
  font-size: 2.6rem;
  color: #727272;
}
.navigation-container nav {
  flex-direction: row;
  text-align: center;
  width: 30%;
  margin-top: 5px;
}
.navigation-container nav a {
  text-decoration: none;
  color: #22283B;
  font-size: 1.2rem;
  padding: 10px 7.5px 10px 7.5px;
}
@media (max-width:500px) {
  .navigation-container {
    width: 100%;
  }
  .navigation-container nav {
    width: 100%;
    margin-top: 10px;
  }
}
footer {
  widows: 100%;
  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
}
footer p {
  font-size: 1.2rem;
}
.main-container {
  width: 100%;
  max-width: 880px;
  margin: 0px auto;
}
.middle-container {
  border-bottom: 2px solid #e0e0e0;
  padding-bottom: 40px;
}
.middle-container .top-img {
  width: 100%;
  height: 170px;
}
.middle-container .middle-content {
  width: 97%;
  margin: 0px auto;
}
.middle-container h2 {
  font-size: 2rem;
  margin-top: 10px;
  margin-bottom: 5px;
}
.middle-container p {
  font-size: 1.6rem;
}
.middle-container .middle-img-container {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
  margin-bottom: 30px;
}
.middle-container .middle-img-container .middle-img {
  width: 31.5%;
  height: 170px;
  border-radius: 15px;
}
@media (max-width:500px) {
  .middle-container .middle-img-container .middle-img {
    width: 70%;
    margin: 0px auto;
  }
}
@media (max-width:500px) {
  .middle-container .non-mobile-img {
    display: none;
  }
}
.bottom-section {
  width: 100%;
  margin: 10px auto;
  padding-left: 8%;
  padding-right: 8%;
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid #e0e0e0;
}
@media (max-width:500px) {
  .bottom-section {
    flex-direction: column;
  }
}
.bottom-section .bottom-content {
  width: 40%;
  margin-top: 20px;
}
@media (max-width:500px) {
  .bottom-section .bottom-content {
    width: 100%;
  }
}
.bottom-section img {
  width: 40%;
  height: 180px;
  margin-top: 30px;
}
@media (max-width:500px) {
  .bottom-section img {
    width: 100%;
    margin-bottom: 40px;
    margin-top: 0px;
  }
}
.bottom-section h2 {
  font-size: 2rem;
  margin-bottom: 10px;
}
.bottom-section p {
  font-size: 1.6rem;
}
.bottom-section .button {
  border: 1px solid navy;
  color: white;
  width: 80px;
  background-color: #22283B;
  border-radius: 4px;
  font-size: 1.6rem;
  text-align: center;
  padding: 7.5px 5px 7.5px 5px;
  margin-top: 20px;
  margin-bottom: 30px;
}
@media (max-width:500px) {
  .bottom-section .button {
    width: 100%;
    margin-bottom: 20px;
  }
}
