/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Ubuntu', sans-serif;
  color: #5E6164;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Russo One', sans-serif;
  color: #23293B;
}
h2 {
  font-size: 3.2rem;
}
h3 {
  font-size: 2.8rem;
}
p {
  font-size: 1.6rem;
  line-height: 1.4;
}
.container {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}
.navigation {
  display: flex;
  justify-content: center;
  flex-direction: column;
  border-bottom: 1px solid #F1F1F1;
  background-color: #F6F6F6;
  flex-wrap: wrap;
  width: 100%;
  position: fixed;
  opacity: 0.9;
}
.navigation h1 {
  font-size: 5rem;
  width: 100%;
  padding: 3% 0;
  text-align: center;
}
@media (max-width:500px) {
  .navigation h1 {
    font-size: 4rem;
  }
}
.navigation nav {
  width: 100%;
  display: flex;
  justify-content: center;
}
.navigation nav a {
  text-decoration: none;
  font-family: #454A59;
  color: black;
  font-size: 2rem;
  margin: 0px 2% 2%;
}
.navigation nav a:hover {
  color: #81848E;
  background-color: #F6F6F6;
}
@media (max-width:500px) {
  .navigation nav a {
    font-size: 1.6rem;
  }
}
footer {
  color: #22283B;
  background: #f4f4f4;
  padding: 20px 0;
  border: 1px double #e0e0e0;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.home .intro .header-img {
  padding-top: 28%;
  width: 100%;
  border-radius: 5px;
}
.home .intro h2 {
  padding: 15px;
}
.home .intro p {
  padding: 0 15px;
}
.home .space-images {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.home .space-images img {
  width: 28%;
  margin: 20px 2.5%;
  border-radius: 20px;
  height: 100%;
}
@media (max-width:500px) {
  .home .space-images .blast {
    width: 100%;
  }
}
@media (max-width:500px) {
  .home .space-images .sky {
    display: none;
  }
}
@media (max-width:500px) {
  .home .space-images .launch {
    display: none;
  }
}
.home .visit-planets {
  padding: 15px;
}
@media (max-width:500px) {
  .home .visit-planets {
    padding-bottom: 0px;
  }
}
.home .visit-planets h3 {
  margin-top: 11px;
}
.home .visit-planets p {
  margin-top: 13px;
}
.home .walk {
  margin-top: 60px;
  border-top: 1px solid #dee2e6;
  padding: 50px 60px;
  display: flex;
  justify-content: center;
}
@media (max-width:500px) {
  .home .walk {
    flex-direction: column-reverse;
    padding: 25px 0 0;
  }
}
.home .walk .walk-text {
  width: 50%;
}
@media (max-width:500px) {
  .home .walk .walk-text {
    width: 100%;
    padding-top: 20px;
  }
}
.home .walk .walk-text h3 {
  margin-bottom: 10px;
}
.home .walk .walk-text p {
  margin-bottom: 26px;
}
.home .walk .walk-text .btn {
  background-color: #22283A;
  color: white;
  border: none;
  font-size: 2rem;
  padding: 2% 5%;
  border-radius: 5px;
  font-family: 'Ubuntu', sans-serif;
}
.home .walk .walk-text .btn:hover {
  color: #22283A;
  background-color: white;
}
@media (max-width:500px) {
  .home .walk .walk-text .btn {
    width: 100%;
    height: 75px;
    font-size: 2.6rem;
  }
}
.home .walk .walk-img {
  width: 46%;
  margin-left: 4%;
}
@media (max-width:500px) {
  .home .walk .walk-img {
    width: 100%;
    margin-left: 0;
  }
}
.home .walk .walk-img img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}
.home .magazine {
  border-top: 1px solid #dee2e6;
  padding: 20px;
}
.home .magazine p {
  padding: 10px 0;
  font-size: 1.8rem;
}
.home .magazine form {
  line-height: 2;
  font-size: 1.6rem;
}
.home .magazine form input:hover {
  color: white;
  background-color: #5E6164;
}
.about-page h2 {
  padding-top: 25%;
  margin-bottom: 20px;
}
@media (max-width:500px) {
  .about-page h2 {
    font-size: 2.5rem;
  }
}
.about-page img {
  width: 80%;
}
.about-page .btn {
  background-color: #22283A;
  color: white;
  border: none;
  font-size: 2rem;
  padding: 2% 5%;
  border-radius: 5px;
  font-family: 'Ubuntu', sans-serif;
  margin-top: 20px;
}
.about-page .btn:hover {
  color: #22283A;
  background-color: white;
}
