/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Ubuntu', sans-serif;
  color: #5E6164;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Russo One', sans-serif;
  color: #23293B;
}
h2 {
  font-size: 3.2rem;
}
h3 {
  font-size: 2.8rem;
}
p {
  font-size: 1.6rem;
  line-height: 1.4;
}
.container {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}
.navigation-container {
  width: 100%;
  margin: 1.5rem 0 0 0;
  background: #F6F6F6;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border-bottom: 1px solid #F1F1F1;
}
@media ( max-width: 500px ) {
  .navigation-container {
    position: fixed;
    background: #F6F6F6;
    margin: 0;
  }
}
.navigation-container h1.home-title {
  font-size: 3.2rem;
  padding: 1.5rem 0 0.75rem 0;
}
@media ( max-width: 500px ) {
  .navigation-container h1.home-title {
    font-size: 3.5rem;
  }
}
.navigation-container nav {
  padding: 0.75rem 0 1.5rem 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 40%;
}
@media ( max-width: 500px ) {
  .navigation-container nav {
    align-items: center;
    width: 100%;
    justify-content: space-between;
    padding-left: 4rem;
    padding-right: 4rem;
  }
}
.navigation-container nav a {
  text-decoration: none;
  color: #454A59;
  font-size: 1.6rem;
}
footer {
  color: #22283B;
  background: #f4f4f4;
  padding: 20px 0;
  border: 1px double #e0e0e0;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.home .intro {
  padding: 0 4rem 0 4rem;
}
@media ( max-width: 500px ) {
  .home .intro {
    padding-left: 0;
    padding-right: 0;
  }
}
.home .intro .intro-image img {
  border-radius: 0.5rem;
  width: 100%;
  height: auto;
}
@media ( max-width: 500px ) {
  .home .intro .intro-image img {
    width: 100%;
    height: 100%;
    padding: 9.5rem 0 0 0 !important;
  }
}
.home .intro .intro-text-content {
  color: #5E6164;
}
@media ( max-width: 500px ) {
  .home .intro .intro-text-content {
    padding-left: 0.2rem;
    padding-right: 0.2rem;
  }
}
.home .intro .intro-text-content h2 {
  padding: 15px;
  color: #23293B;
}
.home .intro .intro-text-content p {
  padding: 0 15px;
}
.home .space-images {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.home .space-images img {
  width: 28%;
  margin: 20px 2.5%;
  border-radius: 20px;
  height: 100%;
}
@media ( max-width: 500px ) {
  .home .space-images .space-image1 {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    width: 100%;
    height: 100%;
  }
}
@media ( max-width: 500px ) {
  .home .space-images .space-image2 {
    display: none;
  }
}
@media ( max-width: 500px ) {
  .home .space-images .space-image3 {
    display: none;
  }
}
.home .visit-planets {
  padding: 15px;
  color: #5E6164;
}
.home .visit-planets h3 {
  margin-top: 11px;
}
.home .visit-planets p {
  margin-top: 13px;
}
.home .walk {
  margin-top: 60px;
  border-top: 1px solid #dee2e6;
  padding: 50px 60px;
  display: flex;
  justify-content: center;
  color: #5E6164;
}
@media ( max-width: 500px ) {
  .home .walk {
    margin-top: 2rem;
    flex-direction: column-reverse;
    width: 100%;
    padding-left: 0;
    padding-right: 0;
    padding-top: 2rem;
  }
}
.home .walk .walk-text {
  width: 50%;
}
@media ( max-width: 500px ) {
  .home .walk .walk-text {
    width: 100%;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    margin-top: 2rem;
  }
}
.home .walk .walk-text h3 {
  margin-bottom: 10px;
}
.home .walk .walk-text p {
  margin-bottom: 26px;
}
.home .walk .walk-text .btn {
  border-radius: 0.5rem;
  padding: 0.8rem 0 0.8rem 0;
  font-size: 1.4rem;
  width: 25%;
  text-align: center;
  background: #22283A;
  color: white;
  cursor: pointer;
  border: 1px solid #22283A;
}
.home .walk .walk-text .btn:hover {
  background-color: white;
  color: #22283A;
}
@media ( max-width: 500px ) {
  .home .walk .walk-text .btn {
    width: 100%;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
}
.home .walk .walk-img {
  width: 46%;
  margin-left: 4%;
}
.home .walk .walk-img img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}
@media ( max-width: 500px ) {
  .home .walk .walk-img {
    width: 100%;
    height: 100%;
    padding-right: 3rem;
  }
}
