/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Ubuntu', sans-serif;
  color: #5E6164;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Russo One', sans-serif;
  color: #23293B;
}
h2 {
  font-size: 3.2rem;
}
h3 {
  font-size: 2.8rem;
}
p {
  font-size: 1.6rem;
  line-height: 1.4;
}
.container {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}
.site-header {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: normal;
  align-items: center;
  background: #F6F6F6;
  border-bottom: 2px solid #F1F1F1;
  top: 0;
  position: fixed;
  z-index: 2;
  opacity: 0.9;
}
.site-header .logo {
  font-size: 4.2rem;
  margin: 15px auto;
}
@media (max-width: 500px) {
  .site-header .logo {
    font-size: 4rem;
  }
}
.site-header nav {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: normal;
  margin-bottom: 10px;
}
.site-header nav a {
  margin: 0 1.39vw;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: semi-bold;
  color: #454A59;
  white-space: nowrap;
}
.site-header nav a:hover {
  color: #F6F6F6;
  background: #454A59;
  border: 1px solid #454A59;
  transform: scale(1.5);
  background: #5b6276;
}
@media (max-width: 500px) {
  .site-header nav a {
    margin: 0 2.78vw;
  }
}
footer {
  color: #22283B;
  background: #f4f4f4;
  padding: 20px 0;
  border: 1px double #e0e0e0;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.home .intro {
  margin-top: 100px;
}
.home .intro h2 {
  padding: 15px;
}
.home .intro p {
  padding: 0 15px;
}
.home .intro .hero-image-wrapper img {
  width: 100%;
  height: auto;
}
@media (max-width: 500px) {
  .home .intro .hero-image-wrapper img {
    border-radius: 5px;
  }
}
@media (max-width: 500px) {
  .home .intro .hero-image-wrapper {
    height: 30%;
  }
}
.home .space-images {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.home .space-images img {
  width: 28%;
  margin: 20px 2.5%;
  border-radius: 20px;
  height: 100%;
}
@media (max-width: 500px) {
  .home .space-images img:first-child {
    width: 90%;
    margin: 20px auto;
  }
}
@media (max-width: 500px) {
  .home .space-images img:nth-child(n+2) {
    display: none;
  }
}
.home .visit-planets {
  padding: 15px;
}
.home .visit-planets h3 {
  margin-top: 11px;
}
.home .visit-planets p {
  margin-top: 13px;
}
.home .walk {
  margin-top: 60px;
  border-top: 1px solid #dee2e6;
  padding: 50px 60px;
  display: flex;
  justify-content: center;
}
@media (max-width: 500px) {
  .home .walk {
    display: flex;
    flex-direction: column-reverse;
    justify-content: normal;
    align-items: normal;
    padding: 15px;
  }
}
.home .walk .walk-text {
  width: 50%;
}
@media (max-width: 500px) {
  .home .walk .walk-text {
    width: 100%;
  }
}
.home .walk .walk-text h3 {
  margin-bottom: 10px;
}
.home .walk .walk-text p {
  margin-bottom: 26px;
}
.home .walk .walk-text .btn {
  width: 100px;
  height: auto;
  padding: 10px 0;
  border-radius: 5px;
  color: #F6F7F8;
  background: #22283A;
  font-size: 1.8rem;
  text-align: center;
  text-decoration: none;
  text-transform: initial;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.home .walk .walk-text .btn:hover {
  color: #F6F7F8;
  background: #22283A;
  border: 1px solid #22283A;
  transform: scale(1.5);
  background: #353e5a;
}
.home .walk .walk-text .btn a {
  color: inherit;
  text-decoration: none;
}
.home .walk .walk-text .btn:hover {
  color: #22283A;
  background: #F6F7F8;
  border: 1px solid #22283A;
}
@media (max-width: 500px) {
  .home .walk .walk-text .btn {
    width: 100%;
    padding: 20px 0;
    margin: 0 auto;
  }
}
.home .walk .walk-img {
  width: 46%;
  margin-left: 4%;
}
@media (max-width: 500px) {
  .home .walk .walk-img {
    width: 100%;
    margin: 0 auto;
    margin-bottom: 20px;
  }
}
.home .walk .walk-img img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}
.page-header {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: normal;
  align-items: center;
  background: #F6F6F6;
  border-bottom: 2px solid #F1F1F1;
}
.page-header .logo {
  font-family: 'Russo One', sans-serif;
  color: #23293B;
  font-size: 4.2rem;
  margin: 15px auto;
}
.page-header .logo a {
  color: inherit;
  text-decoration: none;
}
@media (max-width: 500px) {
  .page-header .logo {
    font-size: 4rem;
  }
}
.form-container {
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
  border: 1px solid #dee2e6;
}
@media (max-width: 500px) {
  .form-container {
    padding: 0 5px;
  }
}
.form-container .step-container {
  display: flex;
  flex-direction: column;
  justify-content: normal;
  align-items: normal;
  width: 95%;
  margin: 20px auto;
}
.form-container .step-container .step-title {
  font-family: 'Russo One', sans-serif;
  color: #23293B;
  font-size: 2rem;
  text-align: center;
}
.form-container .step-container .progress-meter-border {
  height: 20px;
  /* Can be anything */
  border: 1px solid #dee2e6;
  border-radius: 25px;
  box-shadow: inset 0 -1px 1px rgba(255, 255, 255, 0.3);
  margin: 20px 0;
}
.form-container .step-container .progress-meter-border .progress-meter-step2 {
  width: 30%;
  height: inherit;
  background: #23293B;
  border-radius: 25px;
}
.form-container .step-container .progress-meter-border .progress-meter-step3 {
  width: 60%;
  height: inherit;
  background: #23293B;
  border-radius: 25px;
}
.form-container .step-container .progress-meter-border .progress-meter-complete {
  width: 100%;
  height: inherit;
  background: #23293B;
  border-radius: 25px;
}
.purchase-confirmation-container {
  width: 95%;
  margin: 0 auto;
}
.purchase-confirmation-container .closing-title {
  font-family: 'Russo One', sans-serif;
  color: #23293B;
  font-size: 4.2rem;
  text-align: center;
}
.purchase-confirmation-container .closing-text {
  margin: 20px 0;
}
.purchase-confirmation-container .closing-text p {
  margin-bottom: 10px;
}
.purchase-confirmation-container .go-home {
  text-align: center;
  margin: 20px 0;
}
.purchase-confirmation-container .go-home a {
  font-size: 1.3rem;
  color: #22283A;
  text-decoration: none;
}
.page-footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: normal;
  align-items: center;
}
.page-footer nav {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: normal;
  width: 100%;
  margin-bottom: 50px;
}
@media (max-width: 500px) {
  .page-footer nav {
    display: flex;
    flex-direction: column;
    justify-content: normal;
    align-items: center;
  }
}
.page-footer nav a {
  margin: 0 1.39vw;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: semi-bold;
  color: #454A59;
  white-space: nowrap;
}
.page-footer nav a:hover {
  color: #F6F6F6;
  background: #454A59;
  border: 1px solid #454A59;
  transform: scale(1.5);
  background: #5b6276;
}
@media (max-width: 500px) {
  .page-footer nav a {
    width: 95%;
    padding: 20px 0;
    margin: 0 2.78vw;
    text-align: center;
    border-bottom: 1px solid #dee2e6;
  }
}
.signup-form-container {
  width: 95%;
  margin: 20px auto;
}
.signup-form-container form {
  display: flex;
  flex-direction: column;
  justify-content: normal;
  align-items: normal;
}
.signup-form-container form label {
  display: block;
  font-size: 1.5rem;
  line-height: 1.4;
}
.signup-form-container form input {
  height: 30px;
  width: 100%;
  background: #F1F1F1;
  margin-bottom: 25px;
  border: 0;
}
.signup-form-container form .btn-signup {
  width: 100%;
  height: auto;
  padding: 10px 0;
  border-radius: 5px;
  color: #F6F7F8;
  background: #22283A;
  font-size: 1.8rem;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
}
.signup-form-container form .btn-signup:hover {
  color: #F6F7F8;
  background: #22283A;
  border: 1px solid #22283A;
  transform: scale(1.5);
  background: #353e5a;
}
.signup-form-container form .btn-signup a {
  color: inherit;
  text-decoration: none;
  text-transform: uppercase;
}
.signup-form-container form .btn-signup:hover {
  color: #22283A;
  background: #F6F7F8;
  border: 1px solid #22283A;
}
.signup-form-container form .state-zip-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: normal;
}
@media (max-width: 500px) {
  .signup-form-container form .state-zip-container {
    display: flex;
    flex-direction: column;
    justify-content: normal;
    align-items: normal;
  }
}
.signup-form-container form .state-zip-container .state-zip-wrapper {
  width: 48%;
  display: flex;
  flex-direction: column;
  justify-content: normal;
  align-items: normal;
}
@media (max-width: 500px) {
  .signup-form-container form .state-zip-container .state-zip-wrapper {
    width: 100%;
  }
}
.signup-form-container form .agreement-container {
  display: flex;
  flex-direction: row;
  justify-content: normal;
  align-items: flex-start;
  margin-bottom: 20px;
}
.signup-form-container form .agreement-container input {
  width: 5%;
}
@media (max-width: 500px) {
  .signup-form-container form .agreement-container input {
    width: 20%;
  }
}
.signup-form-container form .agreement-container p {
  font-size: 1.3rem;
  width: 90%;
}
.signup-form-container form .agreement-container p a {
  text-decoration: none;
}
.signup-form-container form .keep-signin-container {
  display: flex;
  flex-direction: row;
  justify-content: normal;
  align-items: stretch;
}
.signup-form-container form .keep-signin-container input[type=checkbox] {
  width: auto;
  margin-right: 10px;
}
.signup-form-container form .previous-step,
.signup-form-container form .forgotten-password {
  text-align: center;
  margin: 20px 0;
}
.signup-form-container form .previous-step p,
.signup-form-container form .forgotten-password p {
  font-size: 1.3rem;
}
.signup-form-container form .previous-step a,
.signup-form-container form .forgotten-password a {
  font-size: 1.3rem;
  color: #22283A;
  text-decoration: none;
}
.signup-form-container form .subscribe-cta-container {
  display: flex;
  flex-direction: column;
  justify-content: normal;
  align-items: center;
  width: 100%;
  margin: 10px 0;
  border-top: 1px solid #dee2e6;
}
.signup-form-container form .subscribe-cta-container .subscribe-cta-text {
  font-size: 2rem;
  margin: 20px auto;
}
.signup-form-container form .subscribe-cta-container .btn-subscribe {
  width: 100%;
  height: auto;
  padding: 10px 0;
  border-radius: 5px;
  color: #22283A;
  background: transparent;
  font-size: 1.8rem;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
  margin-bottom: 20px;
  border: 1px solid #22283A;
}
.signup-form-container form .subscribe-cta-container .btn-subscribe:hover {
  color: #22283A;
  background: transparent;
  border: 1px solid transparent;
  transform: scale(1.5);
  background: rgba(26, 26, 26, 0);
}
.signup-form-container form .subscribe-cta-container .btn-subscribe a {
  color: inherit;
  text-decoration: none;
  text-transform: uppercase;
}
.signup-form-container form .subscribe-cta-container .btn-subscribe:hover {
  color: #F6F7F8;
  background: #22283A;
  border: 1px solid #22283A;
}
