/* COLORS */
/* PADDINGS MARGINS and TEXT SIZES */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html,
body {
  font-family: 'Ubuntu', sans-serif;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Russo One', sans-serif;
  color: #23293B;
}
.main-navigation {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column nowrap;
  padding: 0.5rem;
  color: #454A59;
  background-color: #F6F6F6;
}
.main-navigation h1 {
  font-size: 2rem;
  padding: 1rem;
}
.main-navigation .nav-links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 60%;
  padding: 1rem;
}
.main-navigation .nav-links a {
  text-decoration: none;
  color: #454A59;
}
.home {
  display: flex;
  flex-flow: column wrap;
  margin: 0 auto;
  max-width: 880px;
  width: 100%;
}
.home .top-section img {
  width: 100%;
}
.home .text-section h2 {
  padding: 1rem;
  font-size: 1.6rem;
}
.home .center-images {
  display: flex;
  width: 100%;
  flex-flow: row nowrap;
  justify-content: space-between;
}
.home .center-images img {
  padding: 0.5rem;
  width: 33%;
  height: 16rem;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
}
.home .bottom-section {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  align-self: center;
  border-top: 1px solid #F6F7F8;
}
.home .bottom-section img {
  width: 50%;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}
.home .bottom-section .text-section {
  display: flex;
  flex-direction: column;
  width: 50%;
}
.home .bottom-section .text-section .btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 50px;
  background-color: #23293B;
  color: #F6F6F6;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  padding: 1rem;
}
.home h1 {
  font-size: 2rem;
  padding: 1rem;
}
.home p {
  padding: 0 1rem 1rem 1rem;
  line-height: 1.5rem;
}
.home footer {
  width: 100%;
  text-align: center;
  padding: 2rem;
  background-color: #F4F4F4;
  color: #81848E;
}
