/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Ubuntu', sans-serif;
  color: #5E6164;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Russo One', sans-serif;
  color: #23293B;
}
h2 {
  font-size: 3.2rem;
}
h3 {
  font-size: 2.8rem;
}
p {
  font-size: 1.6rem;
  line-height: 1.4;
}
.container {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}
.nav-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
}
.nav-container h1 {
  font-size: 4rem;
}
.nav-container nav a {
  color: gray;
  font-size: 1.5rem;
  text-decoration: none;
  width: 100px;
  padding: 0 20px;
  text-align: center;
}
.nav-container nav a:hover {
  background-color: teal;
  color: white;
}
.nav-container .nav1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  flex-wrap: no-wrap;
  height: 50px;
  width: 100%;
  margin-top: 10px;
}
footer {
  color: #22283B;
  background: #f4f4f4;
  padding: 20px 0;
  border: 1px double #e0e0e0;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 500px) {
  .home .container {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
  }
}
.home .intro h2 {
  padding: 15px;
}
@media (max-width: 500px) {
  .home .intro h2 {
    margin: 0 2.5%;
  }
}
.home .intro p {
  padding: 0 15px;
}
@media (max-width: 500px) {
  .home .intro p {
    margin: 0 2.5%;
  }
}
.home .space-images {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
@media (max-width: 500px) {
  .home .space-images {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    margin: 20px 2.5%;
  }
  .home .space-images .sky {
    display: none;
  }
  .home .space-images .blast {
    display: none;
  }
  .home .space-images .inverse-contents {
    order: -1;
  }
}
.home .space-images img {
  width: 28%;
  margin: 20px 2.5%;
  border-radius: 20px;
  height: 100%;
}
@media (max-width: 500px) {
  .home .space-images img {
    width: 100%;
    height: 400px;
    margin: 0 2.5%;
  }
}
.visit-planets {
  padding: 15px;
}
.visit-planets h3 {
  margin-top: 11px;
}
@media (max-width: 500px) {
  .visit-planets h3 {
    margin: 0 2.5%;
  }
}
.visit-planets p {
  margin-top: 13px;
}
@media (max-width: 500px) {
  .visit-planets p {
    margin: 0 2.5%;
  }
}
.walk {
  margin-top: 60px;
  border-top: 1px solid #dee2e6;
  padding: 50px 60px;
  display: flex;
  justify-content: center;
}
@media (max-width: 500px) {
  .walk {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    padding: 0px;
    margin: 0px 2.5%;
  }
  .walk .inverse-contents {
    order: 1;
  }
}
.walk .walk-text {
  width: 50%;
}
@media (max-width: 500px) {
  .walk .walk-text {
    width: 100%;
  }
}
.walk .walk-text h3 {
  margin-bottom: 10px;
}
@media (max-width: 500px) {
  .walk .walk-text h3 {
    margin: 0 2.5%;
  }
}
.walk .walk-text p {
  margin-bottom: 26px;
}
@media (max-width: 500px) {
  .walk .walk-text p {
    margin: 0 2.5%;
  }
}
.walk .walk-text .btn {
  background: black;
  color: white;
  font-size: 2rem;
  padding: 10px 10px;
  width: 100px;
  border-radius: 5px;
  text-align: center;
}
@media (max-width: 500px) {
  .walk .walk-text .btn {
    background: black;
    color: white;
    font-size: 2rem;
    padding: 10px 10px;
    width: 100%;
    border-radius: 5px;
    text-align: center;
    margin-top: 15px;
  }
}
.walk .walk-img {
  width: 46%;
  margin-left: 4%;
}
@media (max-width: 500px) {
  .walk .walk-img {
    width: 100%;
    margin: 0 2.5% 15px 2.5%;
  }
}
.walk .walk-img img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}
@media (max-width: 500px) {
  .walk .walk-img img {
    margin: 0 2.5%;
  }
}
