/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
/*

	Example usage:

	.some-element {
		@media @tablet {
			width: 100%;
		}

		@media @phone {
			width: 50%;
		}
	}

*/
.center-content {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}
html,
body {
  font-size: 62.5%;
}
.container {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  color: white;
}
header {
  width: 100%;
  height: 100px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}
@media (max-width: 400px) {
  header {
    flex-flow: column-reverse;
  }
}
header nav {
  width: 80%;
  height: 100%;
  background: black;
  margin-right: 2%;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}
@media (max-width: 1100px) {
  header nav {
    background: green;
  }
}
@media (max-width: 768px) {
  header nav {
    height: 50%;
    width: 100%;
  }
}
@media (max-width: 400px) {
  header nav {
    background: orange;
  }
}
header .logo {
  width: 20%;
  height: 100%;
  background: black;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
@media (max-width: 768px) {
  header .logo {
    background: purple;
  }
}
.content {
  margin-top: 20px;
  width: 100%;
  height: 420px;
  margin-bottom: 20px;
  display: flex;
  flex-flow: wrap;
  justify-content: space-evenly;
  font-size: 1.5rem;
}
@media (max-width: 768px) {
  .content {
    height: 460px;
  }
}
.content .boxes {
  width: 45%;
  height: 200px;
  background: black;
  color: white;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}
@media (max-width: 768px) {
  .content .boxes {
    width: 100%;
    height: 100px;
    flex-flow: column;
  }
}
@media (max-width: 1100px) {
  .content .box1 {
    background: green;
  }
}
@media (max-width: 400px) {
  .content .box1 {
    background: orange;
  }
}
@media (max-width: 768px) {
  .content .box2 {
    background: purple;
  }
}
@media (max-width: 768px) {
  .content .box3 {
    background: purple;
  }
}
@media (max-width: 1100px) {
  .content .box4 {
    background: green;
  }
}
@media (max-width: 400px) {
  .content .box4 {
    background: orange;
  }
}
footer {
  width: 100%;
  height: 50px;
  background: black;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}
@media (max-width: 400px) {
  footer {
    background: orange;
  }
}
