.flex-and-wrap {
  display: flex;
  flex-wrap: wrap;
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Ubuntu', sans-serif;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Russo One', sans-serif;
}
.container {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}
.header-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0 20px 0;
  background-color: #F6F6F6;
  border-bottom: 2px solid #F1F1F1;
}
.header-container .header-logo {
  font-size: 3.5rem;
}
.header-container .nav-bar {
  display: flex;
  justify-content: space-between;
  width: 35%;
  min-width: 285px;
  margin: 20px auto 0 auto;
}
.header-container .nav-bar .nav-link {
  font-size: 1.4rem;
  text-decoration: none;
  color: #454A59;
}
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F4F4F4;
  color: #81848E;
  height: 80px;
  border: 1px solid #F1F1F1;
  border-radius: 5px;
  padding-top: 10px;
  font-size: 1.6rem;
  width: 100%;
}
.home .top-image {
  width: 100%;
  margin-bottom: 20px;
}
.home .top-image img {
  width: 100%;
}
.home .main-content {
  padding: 0 15px 0 15px;
  display: flex;
  flex-wrap: wrap;
  border-color: #F6F7F8;
}
.home .main-content .text-content {
  width: 100%;
}
.home .main-content .text-content h1 {
  font-size: 3.5rem;
  color: #23293B;
  margin-bottom: 15px;
}
.home .main-content .text-content p {
  font-size: 1.4rem;
  line-height: 2rem;
  color: #5E6164;
  margin-bottom: 20px;
}
.home .main-content .img-group {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 20px;
}
.home .main-content .img-group .middle-image {
  width: 31%;
}
@media (max-width: 500px) {
  .home .main-content .img-group .middle-image {
    width: 100%;
    margin-left: 20px;
    margin-right: 20px;
  }
}
.home .main-content .img-group img {
  border-radius: 10px;
  width: 100%;
}
@media (max-width: 500px) {
  .home .main-content .img-group .img-sky {
    display: none;
  }
  .home .main-content .img-group .img-launch {
    display: none;
  }
}
.home .cta {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  border-top: 1px solid #F1F1F1;
  border-bottom: 1px solid #F1F1F1;
  padding: 40px 35px 40px 35px;
  margin-bottom: 10px;
}
.home .cta .text-content {
  width: 40%;
}
@media (max-width: 500px) {
  .home .cta .text-content {
    width: 100%;
  }
}
.home .cta .text-content h1 {
  font-size: 3.5rem;
  color: #23293B;
  margin-bottom: 15px;
}
.home .cta .text-content p {
  font-size: 1.4rem;
  line-height: 2rem;
  color: #5E6164;
  margin-bottom: 20px;
}
.home .cta .text-content .btn {
  width: 80px;
  height: 35px;
  background-color: #191970;
  color: white;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.6rem;
}
@media (max-width: 500px) {
  .home .cta .text-content .btn {
    width: 100%;
  }
}
.home .cta .img-space-walk {
  width: 40%;
  margin-left: 30px;
}
@media (max-width: 500px) {
  .home .cta .img-space-walk {
    width: 100%;
    margin: 15px 0 0 0;
  }
}
.home .cta .img-space-walk img {
  width: 100%;
  border-radius: 5px;
}
