/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html,
body {
  font-family: 'Ubuntu', sans-serif;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Russo One', sans-serif;
}
html {
  font-size: 62.5%;
}
header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 14px;
  background-color: #f4f4f4;
  border-bottom: 2px solid lightgray;
}
header h1 {
  font-size: 4rem;
}
header nav {
  padding-top: 13px;
}
header nav a {
  text-decoration: none;
  padding: 15px;
  font-size: 1.6rem;
  color: black;
}
.container {
  max-width: 880px;
  width: 100%;
  margin-left: 9%;
  margin-right: 9%;
}
.container .top-img {
  margin-left: 3.5%;
  width: 93%;
  height: 200px;
}
.container .top-content {
  margin-left: 3.5%;
}
.container .top-content h1 {
  padding-top: 20px;
  margin-left: 2%;
  font-size: 3.1rem;
}
.container .top-content p {
  margin-left: 2%;
  margin-right: 10%;
  font-size: 1.6rem;
  padding-top: 12px;
  line-height: 1.5;
}
.container .three-imgs {
  margin-left: 5.1%;
  padding-top: 15px;
}
.container .three-imgs .img {
  width: 29%;
  margin-right: 3.7%;
  height: 174.75px;
  border-radius: 20px;
}
.container .three-imgs .img:last-child {
  margin-right: 0;
}
.container .middle-content {
  margin-left: 3.5%;
  margin-bottom: 66px;
}
.container .middle-content h1 {
  padding-top: 47px;
  margin-left: 1.5%;
  font-size: 3.1rem;
}
.container .middle-content p {
  margin-left: 2%;
  margin-right: 10%;
  font-size: 1.6rem;
  padding-top: 12px;
  line-height: 1.5;
}
.container hr {
  width: 93%;
}
.container .bottom-content {
  margin-left: 10%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 500px;
  padding-top: 44px;
}
.container .bottom-content h2 {
  margin-left: 0.75%;
  font-size: 2.8rem;
}
.container .bottom-content p {
  margin-left: 0.75%;
  font-size: 1.6rem;
  padding-top: 10px;
  width: 37%;
  line-height: 1.5;
}
.container .bottom-content .img2 {
  width: 42%;
  margin-right: 3%;
  border-radius: 5px;
}
