.mobile-width {
  width: 100%;
}
.mobile-column {
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin: 0;
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html,
body {
  font-family: 'Ubuntu', sans-serif;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Russo One', sans-serif;
}
nav {
  background-color: whitesmoke;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 35%;
  right: 0px;
  left: 274px;
  top: 22px;
  margin-bottom: 10px;
}
@media (max-width: 500px) {
  nav {
    width: 100%;
    align-items: center;
    left: 42px;
  }
}
nav a {
  position: relative;
  font-size: 1rem;
  color: #212529;
  text-decoration: none;
  margin-bottom: 10px;
  border-bottom: 2px solid #F6F7F8;
}
@media (max-width: 500px) {
  nav a {
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: flex-start;
  }
}
nav a:hover {
  text-decoration: underline;
  color: gray;
}
@media (max-width: 500px) {
  nav a:hover {
    width: 100%;
    align-items: center;
    float: left;
  }
}
.logo {
  position: relative;
  top: 19px;
  left: 314px;
  font-size: 2rem;
  display: flex;
  justify-content: baseline;
  margin-bottom: 10px;
}
@media (max-width: 500px) {
  .logo {
    width: 100%;
    left: 137px;
  }
}
.footer {
  width: 100%;
  border-top: 2px solid #F6F7F8;
  background: #F4F4F4;
  margin-top: 20px;
  font-size: 1.2rem;
}
.footer p {
  text-align: center;
  color: black;
  padding: 20px;
}
body {
  font-size: 62.5%;
  width: 100%;
  max-width: 880px;
  margin: 0 auto;
  background: #f4f4f4;
}
@media (max-width: 500px) {
  body {
    width: 100%;
  }
}
.header-img {
  margin-top: 20px;
  width: 80%;
  border-top: 1px solid #f4f4f4;
  z-index: 1;
}
@media (max-width: 500px) {
  .header-img {
    width: 100%;
  }
}
.middle {
  font-size: 1rem;
  margin-top: 20px;
  margin-bottom: 20px;
}
.middle h2 {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
}
.top {
  font-size: 1rem;
  margin-top: 20px;
  margin-bottom: 20px;
}
.top h1 {
  font-size: 2rem;
  margin-bottom: 10px;
}
.top img {
  width: 25%;
  padding: 10px;
  margin-top: 20px;
  display: inline-block;
  flex-direction: column;
  margin: 0 auto;
}
.bottom {
  width: 65%;
  margin-top: 50px;
  flex-direction: row;
  justify-content: space-between;
  font-size: 1rem;
  position: relative;
  align-items: center;
  border-top: 4px solid #e0e0e0;
}
h2 {
  width: 30%;
  position: relative;
  font-size: 1.5rem;
  margin-bottom: 28px;
  margin-top: 10px;
  bottom: 6px;
  top: 21px;
  display: flex;
  justify-content: space-between;
}
h2 p {
  position: relative;
}
.astroimg {
  position: relative;
  top: -201px;
  bottom: 22px;
  left: 576px;
  width: 40%;
}
@media (max-width: 500px) {
  .astroimg {
    top: -201px;
    bottom: 22px;
    left: 576px;
    width: 40%;
  }
}
.btn {
  font-size: 1rem;
  text-align: center;
  width: 20%;
  padding: 8px;
  border-radius: 12%;
  background: #22283B;
  color: white;
  align-items: center;
  margin-top: 20px;
  position: relative;
  display: flex;
  justify-content: center;
  top: 5px;
  right: 3px;
}
.btn:hover {
  border: 2px solid  aqua;
  background-color: darkcyan;
  color: whitesmoke;
  cursor: pointer;
}
@media (max-width: 500px) {
  .btn {
    width: 100%;
  }
}
