.flexbox {
  max-width: 880px;
  width: 100%;
  height: 200px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 170px;
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html,
body {
  font-family: 'Ubuntu', sans-serif;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Russo One', sans-serif;
}
div.navigation {
  max-width: 880px;
  width: 100%;
  height: 130px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  background-color: lightgray;
  padding-bottom: 15px;
  border-bottom: 1px solid lightgray;
}
div.navigation h1 {
  font-size: 3.1rem;
  padding: 15px;
  color: #0f1020;
}
div.navigation a {
  font-size: 1.3rem;
  text-decoration: none;
  margin-bottom: 15px;
  padding: 10px 10px;
  color: #0f1020;
}
div.main-header {
  max-width: 880px;
  width: 100%;
  height: 200px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 170px;
}
div.main-header .main-header-img img {
  max-width: 84%;
  width: 100%;
  margin-left: 7%;
  margin-bottom: 20px;
}
div.main-header h2 {
  font-size: 3.3rem;
  width: 82%;
  margin-left: 9%;
  margin-bottom: 15px;
}
div.main-header p {
  font-size: 1.7rem;
  word-spacing: 2px;
  width: 82%;
  margin-left: 9%;
  margin-bottom: 20px;
}
section.middle-content {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 880px;
  width: 100%;
  height: 220px;
  margin: 50px 0;
}
section.middle-content .middle-images {
  max-width: 880px;
  width: 100%;
  border-radius: 10px;
  margin-top: 50px;
}
section.middle-content .middle-images img {
  width: 24.3%;
  padding-left: 1.3%;
  border-radius: 25px;
  margin-left: 5.7%;
}
html {
  font-size: 62.5%;
}
.container {
  margin: 0 auto;
}
