/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html,
body {
  font-family: 'Ubuntu', sans-serif;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Russo One', sans-serif;
}
.top-bar {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: gainsboro;
}
.top-bar h1 {
  font-size: 2.5rem;
  margin: 10px 0;
}
.top-bar .navigation {
  width: 30%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 8px 0;
}
.container {
  margin: 0 auto;
  width: 880px;
}
.home img {
  width: 100%;
  height: 220px;
}
.home h2 {
  font-size: 1.7rem;
  margin: 15px 0;
}
.home .top-section {
  margin-bottom: 10px;
}
.home .text-content {
  margin: 15px 0;
}
.home .image-content {
  display: flex;
  justify-content: space-between;
}
.home .image-box {
  height: 190px;
  width: 30%;
  border-radius: 25px;
}
.home .plant-content {
  margin: 10px 0;
}
.home .plant-content p {
  padding-bottom: 10px;
}
.home .walk-content {
  display: flex;
  width: 100%;
  margin: 15px 0;
  border-top: 1px solid lightgrey;
  border-bottom: 1px solid lightgrey;
}
.home .walk-content .inner-box-content {
  margin: 0 auto 30px;
  display: flex;
  flex-direction: row;
  width: 80%;
  align-items: center;
  justify-content: space-around;
}
.home .walk-content .image-content {
  width: 40%;
}
.home .walk-content .text-content {
  width: 40%;
}
.home footer {
  width: 100%;
  background-color: lightgrey;
}
.home footer p {
  text-align: center;
  padding: 20px;
}
