/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html,
body {
  font-family: 'Ubuntu', sans-serif;
  font-size: 62.5%;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Russo One', sans-serif;
}
.container {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
}
@media ((max-width: 500px)) {
  .container {
    max-width: 500px;
  }
}
.navigation {
  display: flex;
  flex-direction: column;
}
.navigation h1 {
  font-size: 4rem;
  align-self: center;
  margin: 15px 0.1% 1px 0.1%;
}
.navigation .nav {
  font-size: 1.73rem;
  width: 80%;
  display: flex;
  flex-direction: row;
  align-self: center;
  justify-content: flex-start;
  margin: 14px 0.1% 1px 0.2%;
  padding: 0 20%;
}
@media (max-width: 600px) {
  .navigation .nav {
    display: flex;
    width: 100%;
  }
  .navigation a {
    padding: 0 2%;
  }
}
.copyright {
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  margin: 46px 0.1% 1px 0;
}
.header-pic {
  width: 80%;
  height: 202px;
  margin: 12px 0.1% 1px 10%;
  align-self: center;
}
.liftoff h2 {
  font-size: 3.2rem;
  margin: 15px 0.1% 1px 11.5%;
}
.liftoff p {
  font-size: 1.6rem;
  line-height: 2.4rem;
  margin: 11px 10% 1px 11.5%;
}
.liftoff .liftoff-pics {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.liftoff .liftoff-pic {
  height: 177px;
  width: 23.7%;
  margin: 15px 1.4% 1px 1.5%;
  padding: 1px 0.1% 1px 0.1%;
  border-radius: 9%;
  object-fit: fill;
}
.liftoff .liftoff-pic:hover {
  transform: scale(1.1);
  transition: all 0.5s ease-in-out;
}
.planets h2 {
  font-size: 2.8rem;
  margin: 49px 0.1% 1px 11.5%;
}
.planets .planets-para1 {
  font-size: 1.6rem;
  line-height: 2.4rem;
  margin: 11px 10% 1px 11.5%;
}
.planets .planets-para2 {
  font-size: 1.6rem;
  line-height: 2.4rem;
  margin: 16px 0.1% 1px 11.5%;
}
.walk {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.walk .astro {
  height: 242px;
  width: 32.1%;
  margin: 113px 0.1% 1px 1.6%;
}
.walk .walk-text {
  width: 50%;
}
.walk .walk-text h2 {
  font-size: 2.8rem;
  margin: 115px 0.1% 1px 32.3%;
}
.walk .walk-text .walk-p1 {
  font-size: 1.6rem;
  line-height: 2.4rem;
  margin: 11px 0.1% 1px 32.2%;
}
.walk .walk-text .walk-p2 {
  font-size: 1.6rem;
  line-height: 2.4rem;
  margin: 17px 0.1% 1px 32.2%;
}
.walk .walk-text .button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 21.9%;
  height: 37px;
  background-color: #22283B;
  color: #F4F4F4;
  border-radius: 0.5%;
  font-size: 1.6rem;
  margin: 17px 0.1% 1px 32.1%;
  border: 1px solid #6CDAE7;
}
.walk .walk-text .button:hover {
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  transform: scale(1.2);
}
@media (max-width: 600px) {
  .spacewalkers {
    color: red;
  }
  .liftoff-pic {
    display: flex;
    flex-direction: column;
  }
}
