/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Ubuntu', sans-serif;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Russo One', sans-serif;
  font-weight: 500;
}
h1 {
  font-size: 4rem;
  color: #23293B;
}
h2 {
  font-size: 3.2rem;
  padding-bottom: 10px;
  color: #23293B;
}
h4 {
  font-size: 2.5rem;
  padding-bottom: 10px;
}
p {
  line-height: 1.5;
  font-size: 1.6rem;
  padding-bottom: 10px;
  color: #5E6164;
}
img {
  max-width: 100%;
  height: auto;
}
.container {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}
.main-nav {
  width: 100%;
  height: 100px;
  background: #F6F6F6;
  border-bottom: 3px solid #F1F1F1;
  position: fixed;
}
.main-nav .nav-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main-nav .nav-container h1 {
  padding: 15px 0;
  color: #454A59;
}
.main-nav .nav-container .nav {
  width: 50%;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 500px) {
  .main-nav .nav-container .nav {
    width: 80%;
  }
}
.main-nav .nav-container .nav a {
  font-size: 1.6rem;
  text-decoration: none;
  color: #454A59;
  font-weight: 600;
}
.home {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.home .content-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.home .content-section .jumbotron {
  padding: 100px 0 10px 0;
  width: 100%;
  height: auto;
  max-height: 300px;
}
.home .content-section .top-text {
  margin: 20px 0;
  width: 95%;
}
.home .content-section .thumbnails {
  width: 95%;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 500px) {
  .home .content-section .thumbnails {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .home .content-section .thumbnails .thumb2,
  .home .content-section .thumbnails .thumb3 {
    display: none;
  }
}
.home .content-section .thumbnails img {
  width: 30%;
  height: 30%;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  margin: 10px;
}
@media (max-width: 500px) {
  .home .content-section .thumbnails img {
    width: 85%;
  }
}
.home .content-section .bot-text {
  margin: 20px 0 40px;
  width: 95%;
}
.home .content-moonwalk {
  display: flex;
  justify-content: space-between;
  width: 85%;
}
@media (max-width: 500px) {
  .home .content-moonwalk {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.home .content-moonwalk .moonwalk-text {
  width: 48%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
@media (max-width: 500px) {
  .home .content-moonwalk .moonwalk-text {
    width: 90%;
  }
}
.home .content-moonwalk .moonwalk-text .btn {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 115px;
  height: 35px;
  background-color: #23293B;
  color: #F1F1F1;
  font-size: 1.6rem;
  border: 1px solid #F6F7F8;
  cursor: pointer;
}
.home .content-moonwalk .moonwalk-text .btn:hover {
  background-color: #F1F1F1;
  color: #23293B;
}
@media (max-width: 500px) {
  .home .content-moonwalk .moonwalk-text .btn {
    width: 100%;
    height: 55px;
    margin: 15px 0;
  }
}
.home .content-moonwalk img {
  width: 48%;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
@media (max-width: 500px) {
  .home .content-moonwalk img {
    width: 90%;
  }
}
.home hr {
  margin: 30px 0;
  border: 0;
  clear: both;
  width: 100%;
  background-color: lightgrey;
  height: 1px;
}
.home .footer {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid lightgray;
  width: 100%;
  padding: 20px 0;
  text-align: center;
  background: #F4F4F4;
}
.home .footer p {
  color: #81848E;
}
