/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Ubuntu', sans-serif;
  color: #5E6164;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Russo One', sans-serif;
  color: #23293B;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3.2rem;
}
h3 {
  font-size: 2.8rem;
}
p {
  font-size: 1.6rem;
  line-height: 1.4;
}
.container {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}
@media (max-width:500px) {
  .container {
    width: 95%;
  }
}
nav a {
  text-decoration: none;
  font-size: 1.6rem;
  color: #454A59;
}
.nav {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background: #F6F6F6;
  position: sticky;
  top: 0;
  margin-bottom: 25px;
}
@media (max-width:500px) {
  .nav {
    position: static;
  }
}
.nav h1 {
  margin: 15px 0;
}
.nav nav {
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10px;
}
@media (max-width:500px) {
  .nav nav {
    width: 90%;
  }
}
footer {
  color: #22283B;
  background: #f4f4f4;
  padding: 20px 0;
  border: 1px double #e0e0e0;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.home .intro h2 {
  padding: 15px;
}
.home .intro p {
  padding: 0 15px;
}
.home .intro img {
  width: 100%;
}
.home .space-images {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.home .space-images img {
  width: 28%;
  margin: 20px 2.5%;
  border-radius: 20px;
  height: 100%;
}
@media (max-width:500px) {
  .home .space-images img {
    width: 90%;
  }
}
@media (max-width:500px) {
  .home .space-images img:nth-child(n+2) {
    display: none;
  }
}
.home .visit-planets {
  padding: 15px;
}
.home .visit-planets h3 {
  margin-top: 11px;
}
.home .visit-planets p {
  margin-top: 13px;
}
.home .walk {
  margin-top: 60px;
  border-top: 1px solid #dee2e6;
  padding: 50px 60px;
  display: flex;
  justify-content: center;
  border-top: 1px dotted #81848E;
}
@media (max-width:500px) {
  .home .walk {
    flex-wrap: wrap;
    padding: 0 5%;
  }
}
.home .walk .walk-text {
  width: 50%;
}
@media (max-width:500px) {
  .home .walk .walk-text {
    width: 100%;
  }
}
.home .walk .walk-text h3 {
  margin-bottom: 10px;
}
.home .walk .walk-text p {
  margin-bottom: 26px;
}
.home .walk .walk-text .btn {
  width: 30%;
  padding: 7px;
  color: #F1F1F1;
  background: #23293B;
  font-size: 1.8rem;
  text-align: center;
}
.home .walk .walk-text .btn:hover {
  animation-name: example;
  animation-duration: 3s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}
@keyframes example {
  to {
    background: #F1F1F1;
    color: #23293B;
  }
}
@media (max-width:500px) {
  .home .walk .walk-text .btn {
    width: 90%;
    padding: 15px;
    color: #F1F1F1;
    background: #23293B;
    font-size: 1.8rem;
    margin-bottom: 15px;
  }
  .home .walk .walk-text .btn:hover {
    animation-name: example;
    animation-duration: 3s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
  }
  @keyframes example {
    to {
      background: #F1F1F1;
      color: #23293B;
    }
  }
}
.home .walk .walk-img {
  width: 46%;
  margin-left: 4%;
}
@media (max-width:500px) {
  .home .walk .walk-img {
    width: 100%;
    order: -1;
    margin: 0 0 10px 0;
  }
}
.home .walk .walk-img img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}
