/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html,
body {
  font-family: 'Ubuntu', sans-serif;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Russo One', sans-serif;
}
body {
  margin: 0 auto;
  width: 80%;
  max-width: 88rem;
}
@media (max-wdth: 500px) {
  body {
    width: 100%;
  }
}
h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.4rem;
}
nav {
  width: 60%;
  margin: 10px auto;
  display: flex;
  justify-content: space-around;
}
@media (max-wdth: 500px) {
  nav {
    width: 100%;
  }
}
.copyright {
  text-align: center;
  margin: 30px auto;
}
h2,
h3,
p {
  margin: 1rem;
  width: 60%;
}
h2 {
  font-size: 1.8rem;
}
h3 {
  font-size: 1.6rem;
}
.topImages {
  display: flex;
  justify-content: space-between;
}
.topImg {
  width: 100%;
  margin-bottom: 1rem;
}
.imgRow {
  border-radius: 15px;
}
.inset {
  margin: 30px auto;
  width: 70%;
  display: flex;
  flex-wrap: wrap;
}
.inChild {
  width: 30%;
}
.btn {
  color: blanchedalmond;
  font-size: 1.2rem;
  padding: 5px;
  width: 40%;
  margin: 10px 20px;
  font-weight: bold;
  display: flex;
  align-content: center;
  justify-content: space-around;
  border-radius: 5px;
  background-color: #002A5D;
}
.walk {
  border-radius: 15px;
}
