.h3 {
  font-size: 2rem;
  margin-bottom: 15px;
}
.p {
  font-size: 1.8rem;
  text-align: justify;
  line-height: 1.3;
  margin-bottom: 15px;
}
.flex-centered {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html,
body {
  font-family: 'Ubuntu', sans-serif;
  font-size: 62.5%;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Russo One', sans-serif;
}
.container {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}
@media (max-width:500px) {
  .container {
    max-width: 500px;
    width: 100%;
  }
}
.header {
  display: flex;
  background-color: #f4f4f4;
  border-bottom: 1px solid lightgray;
}
.header .container header {
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header .container header h1 {
  font-size: 3.6rem;
  margin-bottom: 15px;
}
.header .container header nav a {
  text-decoration: none;
  color: #22283B;
  font-size: 1.8rem;
  padding: 25px;
}
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  border-top: 1px solid lightgray;
}
footer .container {
  margin-top: 15px;
  padding: 15px;
  background-color: #f4f4f4;
  border: 1px solid lightgray;
  border-radius: 5px;
}
footer .container p {
  font-size: 1.8rem;
  text-align: justify;
  line-height: 1.3;
  margin-bottom: 15px;
  margin-top: 15px;
  text-align: center;
}
.main-header .container img {
  max-width: 800px;
  width: 100%;
  margin-bottom: 15px;
}
.main-header .container h3 {
  font-size: 2rem;
  margin-bottom: 15px;
}
.main-header .container p {
  font-size: 1.8rem;
  text-align: justify;
  line-height: 1.3;
  margin-bottom: 15px;
}
.main .container .gallery {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 45px;
}
.main .container .gallery img {
  width: 30%;
  height: 200px;
  border-radius: 20px;
}
.main .container .main-info {
  padding-bottom: 60px;
  border-bottom: 1px solid lightgray;
}
.main .container .main-info h3 {
  font-size: 2rem;
  margin-bottom: 15px;
}
.main .container .main-info p {
  font-size: 1.8rem;
  text-align: justify;
  line-height: 1.3;
  margin-bottom: 15px;
}
.bottom .container .bottom-info {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
  padding: 52.5px 0px;
}
.bottom .container .bottom-info .first {
  width: 40%;
}
.bottom .container .bottom-info .first h3 {
  font-size: 2rem;
  margin-bottom: 15px;
}
.bottom .container .bottom-info .first p {
  font-size: 1.8rem;
  text-align: justify;
  line-height: 1.3;
  margin-bottom: 15px;
}
.bottom .container .bottom-info .first .btn {
  font-size: 1.4rem;
  width: 35%;
  height: 40px;
  margin-top: 10px;
  color: white;
  text-transform: capitalize;
  background-color: #22283B;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bottom .container .bottom-info .second img {
  border-radius: 5px;
}
