/*

	Example usage:

	.some-element {
		@media @tablet {
			width: 100%;
		}

		@media @phone {
			width: 50%;
		}
	}

*/
.center-content {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}
