/* 
nav {

  text-align: center;
  display: flex;
  justify-content: space-around;
  padding: 19px 23% 10px 25%;

  max-width: 800px;
  width: 100%;
  margin: 0 auto;
  background: #F6F6F6;
  border: 2px solid #F1F1F1;

}

h1 {

  font-size: 4rem;
  text-align: center;
  padding-top: 11px;
  padding-left: 2%;  

}

a {

  font-size: 1.6rem;
  text-decoration: none;
  font-family: #454A59, sans-serif;
  color: #23293B;


} */
.navbar {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}
.navbar h1 {
  font-size: 4rem;
  text-align: center;
  padding-top: 11px;
  padding-left: 2%;
}
@media (max-width: 500px) {
  .navbar h1 {
    padding-left: 3.5%;
  }
}
.navbar nav {
  text-align: center;
  display: flex;
  justify-content: space-around;
  padding: 19px 23% 10px 25%;
}
.navbar nav a {
  font-size: 1.6rem;
  text-decoration: none;
  font-family: #454A59, sans-serif;
  color: #23293B;
  transition: opacity .75s;
}
.navbar nav a:hover {
  opacity: 0.5;
}
