/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html,
body {
  font-family: 'Ubuntu', sans-serif;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Russo One', sans-serif;
}
.container {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
html {
  font-size: 62.5%;
}
.fixed-nav-container {
  max-width: 962px;
  margin: 0 auto;
}
.top-container {
  max-width: 962px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding-bottom: 10px;
  background-color: #f4f4f4;
  border-bottom: 2px solid #e0e0e0;
  position: fixed;
  top: 0;
  margin-left: auto;
  margin-right: auto;
  z-index: 1000;
  margin: 0 auto;
  text-align: center;
  opacity: 0.9;
}
.top-container h1 {
  width: 100%;
  text-align: center;
  padding-top: 12px;
  font-size: 3.2rem;
  padding-bottom: 12px;
}
@media (max-width: 500px) {
  .top-container {
    width: 100%;
  }
  .top-container h1 {
    font-size: 4rem;
    padding-bottom: 18px;
  }
}
nav {
  display: flex;
  justify-content: center;
  align-items: center;
}
nav a {
  font-size: 1.25rem;
  color: black;
  text-decoration: none;
  margin: 0px 13.5px;
}
nav a:hover {
  background-color: yellow;
  color: black;
}
@media (max-width: 500px) {
  nav {
    width: 75%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 2px;
  }
  nav a {
    font-size: 1.6rem;
    padding: 0px;
  }
}
footer {
  background-color: #f4f4f4;
  margin-top: 10px;
  height: 60px;
  width: 100%;
  border-top: 1px solid #e0e0e0;
  border-bottom: 1px solid #e0e0e0;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer p {
  font-size: 1.3rem;
}
.signup {
  font-size: 1.6rem;
}
.signup .form-sheet {
  margin-top: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.signup .form-sheet .content-box {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
.signup .pricing-table {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 800px;
  width: 100%;
}
.signup .pricing-table .package {
  background-color: #e8e8e8;
  border-radius: 3px;
  padding: 20px;
  margin: 50px 3%;
  font-size: 1.2rem;
  border: 5px solid green;
  width: 400px;
}
.signup .pricing-table .package h2 {
  font-size: 2.5rem;
}
.signup .pricing-table .package .pricing {
  font-size: 1.5rem;
  font-weight: bold;
}
.signup .button {
  background-color: #22283B;
  color: #f4f4f4;
  width: 150px;
  border-radius: 5px;
  margin-top: 15px;
  padding: 5px 0px;
  font-size: 1.8rem;
  text-align: center;
  border: 1px solid #157FFB;
}
@media (max-width: 500px) {
  .signup .button {
    width: 95%;
    margin-top: 25px;
    padding: 10px 0px;
  }
}
.signup .button:hover {
  background-color: orange;
  color: black;
}
.signup .button p a {
  text-decoration: none;
  color: #f4f4f4;
}
