// Mixins Here

@mixin easeOut
    transition: all 0.3s ease-Out



@mixin buttons($btn-bg, $btn-fc)
    background: $btn-bg
    color: $btn-fc
    border-radius: 5px
    padding: 1rem
    width: 25%
    font-size: 1.6rem
    text-align: center
    &:hover
        background: $btn-fc
        color: $btn-bg
        font-weight: 800px