// Mixins Here
.nav-bar-mixin() {
    text-align: center;
    padding-bottom: 13px;
}

.header-mixin() {
    margin: auto 0;
    text-align: center;
    font-size: 4em;
    padding-bottom: 20px;
}

.btn-mixin-fonts() {
    font-size: @my-font-size;
    font-weight: bolder;
    font-family: sans-serif;
}

