// Navigation code here
.header-name {
    .header-mixin();
    

}

.nav-bar {
    .nav-bar-mixin();

    a {
        padding: 0 13.9px;
        font-size: 1.6em;
        text-decoration: none;
        color: black;
    }
}

@media (max-width: 500px) {
    .header-name {
        .header-mixin();
        
    
    }
    
    .nav-bar {
        .nav-bar-mixin();
    
        a {
            padding: 0 13.9px;
            font-size: 1.6em;
            text-decoration: none;
            color: black;
        }
    }
}