.about {

    .intro {
  
      h2 {
        padding: 15px;
      }
  
      p {
        padding:0 15px;
      }
  
      img{
        border-radius: 5px;
        @media @phone {
          width: 100%;
          height: 100%;
        }
      }   
    }

    .about-section {

        .section1, .section2{
            .display;
            margin: 20px;
            img {
                border-radius: 5px;
            }
            .section-text{
                padding: 10px;
            }
        }
        
        .section2 {
            
            flex-direction: row-reverse;
        }
    }
}