.about {

    header {
        img {
            margin-bottom: 40px;
        }

        h2 {
            margin-bottom: 20px;
        }

        p {

        }
    }  
    
    .astronauts {
        .center;
        margin: 40px 10px;

        img {
            height: 20%;
            max-height: 200px;
            width: auto;
            margin: 20px;
            border-radius: 10px;
            filter: grayscale(100%);

            &:hover {
                filter: grayscale(0);
            }
            
        }
    }
}