.about-page {

    h2{
    padding-top:25%;
    margin-bottom: 20px;
    @media @phone {
        font-size:2.5rem;
    }
}
    img {
        width:80%;
    }
    
    .btn {
        .buttonize();
        margin-top: 20px;
    }
}