//Animations

@keyframes hover {
    0% { 
        transform: translate3D(0px, 0px, 0); 
        animation-timing-function: ease-in-out;
        box-shadow: 0px 1px 1px black; 
    };
    65% { 
        transform: translate3D(0px, -3px, 0);
        animation-timing-function: ease-in-out; 
        box-shadow: 1px 2px 4px black; 
     }
    100% { 
        transform: translate3D(0px, 0px, 0);
        box-shadow: 0px 1px 1px black; 
     }
}