.blog-post{
    margin:20px;
    a{
        display: flex;
         border: 2px solid gray;
        height: 200px;
        padding: 20px;
        text-decoration: none;
        color: black;
        margin-bottom: 20px;
        padding-left: 20px;
        
        &:hover{
            background-color: #DCDCDC;
        }
        .post-1{
            
           
            .blog-content{
                padding-left: 20px;
            }
        img{
                padding-right: 20px;
        }
    }
        .post-2{
            display: flex;
            border: 2px solid gray;
            height: 200px;
            padding: 20px;
            margin-top: 20px;
            .blog-content{
                margin-left: 20px;
            }
            img{
                margin-right: 20px;
            }
    }
}
}