.blog {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  .blog-content {
    margin-top: 115px;
    width: 600px;

    .top-story-container {
      margin: 10px 0 0 0;
      display: flex;
      justify-content: space-between;
    }

    .top-story-card {
      padding: 10px 0;
      margin: 10px 20px 10px 0;
      width: 220px;
    }

    .story-summary {
      /* border: 1px solid coral; */
      margin: 0 0 10px 0;
      padding: 10px 0 10px 0;
      border-top: 1px solid #d7d7d7;
    }
  }

  .advert-side-bar {
    /* border: 1px solid coral; */
    width: 75px;
    /* padding: 10px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 150px 0;

    img {
      width: 63px;
    }
  } 
}

footer {
  width: 100%;
}