body {
    font-family: Arial;
    padding: 20px;
    background: #f1f1f1;
  }
  
  /* Header */
  .header {
    padding: 30px;
    font-size: 40px;
    text-align: center;
    background: white;
  }
  
  /* Left column */
  .leftcolumn {
    float: left;
    width: 75%;
  }
  
  /* Right column */
  .rightcolumn {
    float: left;
    width: 25%;
    padding-left: 20px;
  }
  
  /* Image */
  .fakeimg {
    background-color: #aaa;
    width: 100%;
    padding: 20px;
  }
  
  .card {
    background-color: white;
    padding: 20px;
    margin-top: 20px;
  }
  
   .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  @media @phone {
    .leftcolumn, .rightcolumn {
      width: 100%;
      padding: 0;
    }
  }