.posts {
  margin: 2rem;
  section {
    border-top: 1px solid @main-border-color;
    display: flex;
    flex-direction: row;
    align-items: center;

    div {
      width: 48%;
      margin: 1%;
    }
    button {
      .create-button(100%);
    }
    p {
      padding: 1rem 0;
    }
    .img-container {
      img {
        width: 95%;
        height: 95%;
        .image-animation();
      }
    }
  }
}
