.new-btn button {
    background-color: darkslateblue;
    border-radius: 4px;
    width: 30%;
    height: 4.5rem;

    @media (max-width: 430px) {
        width: 100%;
        height: 4.5rem;
    }

}