#contact input, #contact textarea, select{
    font-family: "Roboto", Helvetica, Arial, sans-serif;
    font-size: 1.4rem
}

#contact {
	padding: 25px;
	margin: 10px 0;
	width: 100%
}

fieldset {
	margin: 0 0 10px;
}

#contact input, #contact textarea, select{
	width: 100%;
	border: 1px solid @waterloo;
	margin: 0 0 5px;
	padding: 10px;
}
#contact select{
    height: 35px;
}
#contact textarea {
	height: 100px;
}

#contact button[type="submit"]{
	cursor: pointer;
	width: 100%;
	background: @btn-bg-color;
	color: #fff;
	margin: 0 0 5px;
	padding: 10px;
    font-size: 1.5rem;
    
    &:hover{
        background-color: @river-bend;
    }
}
