.container {
    height: 500px;
    .contact-header{
        margin-top: 105px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        img{
            width: 50%
        }
        .spaceman2{
            height:320px;
        }
        .header-split{
            width: 48%;
                padding: 15px 0;
                    p{
                        padding: 30px 0;
                        font-size: 2rem;
                    }
                    
        }
        .form{
            width: 48%;
            text-align: center;
            margin-top: 10px;
            line-height: 1.5;
            span{
                width:100%;
                margin: 0 auto;
                font-size: 2rem;
            }
            #text{
                width:250px;
            }
            .radio{
                margin-bottom:20px;
            }
            #number{
                margin-bottom: 20px;
            }
        }
        
    }
}

