
.main-content{
    .display-flex(column, center);
}

.contact-text{
    margin: 0 auto;
    width: 90%;
    padding-bottom: 40px;
    padding-top: 25px;
}


form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

label {
    margin-left: 100px;
}


input {
    width: 200px;
    padding: 12px;
    border: 1px solid grey;
    border-radius: 4px;
    margin-top: 6px;
    margin-bottom: 16px;
    margin-left: 186px;
}

input[type=submit] {
    background-color: @button-bg;
    color: @main-color;
    width: 150px;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    align-self: center;
}

#fname {
    margin-left: 33px;
}

#lname {
    margin-left: 33px;
}

#email {
    margin-left: 35px;
}

#message {
    margin-left: 19px;
    width: 500px;
    height: 100px;
    text-align: left;
}

input[type=submit]:hover {
    background-color: darkblue;
}