// Footer Styles
@import "variables.less";
@import "mixins.less";


.footer {
    width: 100%;
    border-top: 2px solid @main-border-color;
    background: @footer-bg-color;
    margin-top: 20px;
  
  
    p {
      text-align: center;
      color: @footer-text-color;
      
      padding: 20px;
    }
  }