// Footer Styles
 footer {
        border: 1px solid lightgrey;
        border-radius: 5px;
        background-color: whitesmoke;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px 0 40px 0;
    }