// Footer Styles

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: purple;
    width: 100%
    height: auto;

    p {
        background-color: red;
        margin-top: 10px;
        margin-bottom: 10px;
        font-size: 2rem;
    }
}