// General Styles

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}
html, body {
  font-family: 'Ubuntu', sans-serif;
}

h1, h2, h3, h4, h5 {
  font-family: 'Russo One', sans-serif;
}

.Main {
  background-color: yellow;
  .flex(row, center,center);
  max-width: 100%;
}

.Main2 {
  background-color: aqua;
  .flex(column,center,center);
  max-width: 1000px;
  width: 100%;
}
