// Header Styles

header {
    display: flex;
    justify-content: flex-start;
    width: 900px;
    background: violet;
    nav {
        width: 704px;
        ul {
            display: flex;
            font-size: 18px;
            li {
                a {

                    padding: 0px 23px;
                    text-decoration: none;
                    color: goldenrod;
                    &:hover {
                        text-decoration: underline;
                        color: black;
                    }
                }
            }
        }
    }
    .space-logo {
        width: 20px;

    }
        
    .logo {
        background: black;
        width: 178px;
        
    }


    
}// header