//Header code here!!


.space-walkers {
    background: @main-background;
    display: flex;
    justify-content: center;
    h1 {
        color: @text-color;
        padding: 20px;
        font-size: 45px;
    }
}

