// Home Content


div.main-header {
    .flexbox;
    
    

    .main-header-img img {
        max-width: 84%;
        width: 100%;
        margin-left: 7%;
        margin-bottom: 20px;
    }

    h2{
        font-size: 3.3rem;
        width: 82%;
        margin-left: 9%;
        margin-bottom: 15px;
        
    }

    p{
        .myfontsize();
        width: 82%;
        margin-left: 9%;
        
    }

}



section.middle-content {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 880px;
    width: 100%;
    height: 220px;
    
    


.middle-images {
        
        max-width: 880px;
        width: 100%;
        border-radius: 10px;
        padding-bottom: 50px;
        
        

        img{
            width: 24.3%;
            padding-left: 1.3%;
            padding-bottom: 15px;
            border-radius: 25px;
            margin-left: 5.7%;
            
        }

}


}

.middle-section2 {
    max-width: 730px;
    width: 100%;
    height: 180px;
    border: 1px solid red;
    .myfontsize();
    margin-left: 7.8%;
    margin-bottom: 20px;

    h2{
        font-size: 2.5rem;
        margin-bottom: 20px;
        margin-left: 1%;
    }

    p {
        line-height: 20px;
        margin-left: 1%;
        margin-bottom: 20px;
    }
}


.hr {
    max-width: 720px;
    width: 100%;
    margin-left: 9%;
    color: lightgray;
    margin-top: 50px;
}


.bottom-section-content {
    display: flex;
    justify-content: flex-start;
    justify-items: flex-start;
    flex-wrap: nowrap;
    border: 1px solid blue;
    max-width: 600px;
    width: 100%;
    height: 300px;
    margin-left: 15%;
    margin-top: 50px;
    
    }

.bottom-text {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 350px;
    
}

div.bottom-text h2 {
    .myfontsize();
    margin-bottom: 15px;
    padding-left: 2%;
}

div.bottom-text p {
    font-size: @font-size;
    line-height: 20px;
    padding-left: 2%;
    margin-bottom: 25px;
}



.bottom-img {
    max-width: 200px;
    width: 100%;
    height: 300px;
}

.bottom-img img {
    width: 200px;
    height: 180px;
    border-radius: 3px;
    padding-left: 6%;
}





