.header {
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
h1 {
  display: flex;
  padding: 15px;
}
.home {
  display: flex;
  justify-content: center;
}
.home .intro h2 {
  padding: 15px;
}
.home .intro p {
  padding: 0 15px;
}
.space-images {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
.space-images img {
  display: flex;
  justify-content: center;
}
.visit-planets {
  padding: 15px;
  display: flex;
  justify-content: space-between;
  height: 1px;
}
.visit-planets h3 {
  margin-top: 11px;
}
p {
  margin-top: 13px;
  display: flex;
  justify-items: center;
  padding: 10px;
}
body {
  display: flex;
}
