// Headline
.headline {
  .headline-image {
    width: 100%;
    height: 200px;
  }

  .headline-body {
    margin: 2% 0;

    .headline-body-text {
      margin: 2% 0;
    }
  }
}

// Planets
.planets {
  border-bottom: 3px solid @mainBorderColor;
  .planets-images {
    display: flex;
    justify-content: space-between;
    margin-top: 3%;
    margin-bottom: 6%;

    > * {
      width: 30%;
      height: 30%;
      border-radius: 20px;
    }
  }

  .planets-body {
      margin: 8% 0;
  }
}

// Walk
.walk {
  margin: 5% auto;
  width: 90%;
  display: flex;
  justify-content: space-around;
  padding-bottom: 8%;
  border-bottom: 3px solid @mainBorderColor;

  .walk-body {
    width: 45%;

    .walk-body-text {
      margin-top: 3%;
    }

    .walk-body-btn {
      display: flex;
      justify-content: center;
      align-items: center;
      background: #22283B;
      color: white;
      width: 35%;
      height: 15%;
      border: 1px solid blue;
      border-radius: 5px;
      font-size: 1.5rem;
      margin-top: 3%;
    }
  }

  .walk-image {
    width: 45%;
    height: 45%;
    border-radius: 5px;
  }
}