// Home Content

.home {

  .intro {
      img {
        @media (@phone) {
          width: 100%;
        }
      }
    h2 {
      padding: 15px;
    }

    p {
      padding:0 15px;
    }
  
  }

  .space-images {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    @media (@phone) {
      .blast {
        width: 100%;
        padding-left: 2%;
      }
      .sky {
        display: none;
      }
      .launch {
        display: none;
      }
    }

    img {
      width: 28%;
      margin: 20px 2.5%;
      border-radius: 20px;
      height: 100%;
    }
  }

  .visit-planets {
    padding: 15px;
    @media (@phone) {
      padding: 0%;
    }
    h3 {
      margin-top: 11px;
    }

    p {
      margin-top: 13px;
    }
  }

  .walk {
    margin-top: 60px;
    border-top: 1px solid @main-border-color;
    padding: 50px 60px;
    display: flex;
    justify-content: center;
    @media (@phone) {
      width: 100%;
      padding: 0%; 
      .flex(column-reverse; normal; center);
      margin-top: 3%;
    }
    .walk-text {
      width: 50%;
      @media (@phone) {
        width: 100%;
      }

      h3 {
        margin-bottom: 10px;
      }

      p {
        margin-bottom: 26px;
      }

      .btn {
        .button(white; @btn-bg-color);
        border-radius: 8px;
        border: none;
        height: 13%;
        width: 30%;
        font-size: 2rem;
        font-family: inherit;
       &:hover {
          background-color: white;
          color: @btn-bg-color;
        }
        @media (@phone) {
          width: 100%;
          height: 70px;
          margin-bottom: 3%;
        }
      }
    }

    .walk-img {
      width: 46%;
      margin-left: 4%;
      @media (@phone) {
        width: 100%;
        margin-bottom: 4%;
        margin-left: 0%;
        margin-top: 4%;
      }
      
      img {
        width: 100%;
        height: auto;
        border-radius: 10px;
      }
    }
  }
}// home