.b_red {
  border: 1px solid red;
}
.b_blue {
  border: 1px solid blue;
}
.b_o {
  border: 1px solid orange;
}
.b_sg {
  border: 4px solid seagreen;
}
.b_p {
  border: 1px solid purple;
}
.flexCol {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.flexRow {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.full_width {
  width: 100%;
}
.fbtn {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  margin: 1rem;
  padding: 1rem;
  width: 8rem;
  color: #f4f4f4;
  background-color: #22283B;
  border-radius: 0.5rem;
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html,
body,
a {
  border: 4px solid seagreen;
  font-family: 'Ubuntu', sans-serif;
  font-size: 62.5%;
}
body {
  margin: 0 15%;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Russo One', sans-serif;
}
#navtop {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#navtop h1 {
  font-size: 3rem;
  padding: 2rem 0;
}
#navtop #navbar {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#navtop #navbar a {
  font-size: 1rem;
  padding: 1rem  1rem;
  text-decoration: none;
}
#navtop img {
  width: 100%;
}
footer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  background-color: #e0e0e0;
}
.main {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f4f4f4;
}
.main img {
  width: 100%;
}
.main .topIMG {
  width: 100%;
}
.main h1 {
  width: 100%;
  font-size: 2rem;
  text-align: left;
  padding: 1rem 0;
}
.main .para {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main p {
  width: 100%;
  font-size: 1.2rem;
  padding: 1rem 0;
}
.main .roundedIMGs {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main .roundedIMGs img {
  border: 1px solid orange;
  width: 30%;
  border-radius: 2rem;
  margin: 1rem;
}
@media (max-width:500px) {
  .main #rocket {
    width: 100%;
    padding: 0 0.5rem;
  }
  .main #space {
    display: none;
  }
  .main #launching {
    display: none;
  }
}
.bottom {
  border: 4px solid seagreen;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  width: 100%;
  margin: 0 auto;
}
.bottom .group {
  border: 1px solid blue;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
}
.bottom h1 {
  width: 100%;
  font-size: 2rem;
  text-align: left;
  padding: 1rem 0;
}
.bottom .para {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.bottom p {
  width: 100%;
  font-size: 1.2rem;
  padding: 1rem 0;
}
.bottom img {
  border: 1px solid red;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}
@media (max-width:500px) {
  .bottom {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .bottom .group {
    width: 100%;
  }
  .bottom .fbtn {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    margin: 1rem;
    padding: 1rem;
    width: 100%;
    color: #f4f4f4;
    background-color: #22283B;
    border-radius: 0.5rem;
  }
}
/*# sourceMappingURL=index.css.map */