@maxWidth: 900px;
@laptopBackgroundColorMinWidth: green;
@phoneBackgroundColor1-MinWidth: orange;
@phoneBackgroundColor2-MinWidth: purple;

.container {
	max-width: @maxWidth;

	width: 100%;
	margin: 0 auto;
	color: @secondary-color;

	header {
		width: 100%;
		height: 100px;
		margin-bottom: 20px;
		display: flex;

		flex-direction: column-reverse;
		align-items: center;

		// @media @phoneMinWidth {
		// 	display: flex;
		// 	flex-direction: row;
		// 	align-items: initial;

		// 	// width: 100%;
		// 	margin-bottom: 20px;
		// 	display: flex;
		// }

		nav {
			width: 100%;
			height: 50%;
			background: @phoneBackgroundColor1-MinWidth;

			.center-content;

			// margin-right: 2%;

			// @media @laptop {
			// 	background: @laptopBackgroundColorMinWidth;
			// }

			// @media @phone {
			// 	background: @phoneBackgroundColor1-MinWidth;

			// 	width: 100%;
			// 	height: 50%;

			// 	margin: 0;
			// }
		}

		.logo {
			width: 20%;
			height: 100%;
			background: @phoneBackgroundColor2-MinWidth;

			.center-content;
			.border-radius(50%);

			// @media @tablet {
			// 	background: @phoneBackgroundColor2-MinWidth;
			// }
		}
	} // header

	.content {
		margin-top: 20px;
		width: 100%;
		height: 420px;
		// margin-bottom: 20px;
		display: flex;
		flex-flow: wrap;
		justify-content: space-evenly;

		@media @tablet {
			height: auto;
		}

		.boxes {
			width: 45%;
			height: 200px;
			background: @primary-color;
			color: white;
			margin-bottom: 20px;
			display: flex;

			.center-content;

			@media @tablet {
				width: 100%;
			}
		}

		.box1 {
			//

			@media @laptop {
				background: @laptopBackgroundColorMinWidth;
			}

			@media @phone {
				background: @phoneBackgroundColor1-MinWidth;
			}
		}

		.box2 {
			//

			@media @tablet {
				background: @phoneBackgroundColor2-MinWidth;
			}
		}

		.box3 {
			//

			@media @tablet {
				background: @phoneBackgroundColor2-MinWidth;
			}
		}

		.box4 {
			//

			@media @laptop {
				background: @laptopBackgroundColorMinWidth;
			}

			@media @phone {
				background: @phoneBackgroundColor1-MinWidth;
			}
		}
	} // .content

	footer {
		width: 100%;
		height: 50px;
		background: @primary-color;

		.center-content;

		@media @phone {
			background: @phoneBackgroundColor1-MinWidth;
		}
	} // footer
} // container
