
@laptop: ~"(max-width: 1100px)";
@tablet: ~"(max-width: 768px)";
@phone: ~"(max-width: 400px)";

.container {
	width: 100%;
	margin: 0 auto;
	color: @secondary-color;
	font-size: 1rem;

}

header {
	width: 100%;
	height: 100px;
	margin-bottom: 20px;
	display: flex;
}

header nav {
	width: 80%;
	height: 100%;
	background: @primary-color;
	margin-right: 2%;
	font-size: 1rem;
	.center-content;
	@media @tablet {
	 background-color: green;
	@media @phone {
		background-color: orange;
	   } 
	}

}

header .logo {
	width: 20%;
	height: 100%;
	background: @primary-color;
	font-size: 1rem;
	.center-content;
	.border-radius(50%); 
	@media @tablet {
		background-color: purple;
	   }
	}


.content {
	margin-top: 20px;
	width: 100%;
	height: 420px;
	margin-bottom: 20px;
	display: flex;
	flex-flow: wrap;
	justify-content: space-evenly;
}

.content .boxes {
	width: 45%;
	height: 200px;
	background: @primary-color;
	margin-bottom: 20px;
	display: flex;
	font-size: 1rem;
	.center-content;
}

.content .box1 {
	// style this at the right time!
	@media @tablet {
		background-color: green; }
		@media @phone {
			background-color: orange;
		   } 
		}
	

.content .box2 {
	@media @tablet {
		background-color: purple;
	   }
	// style this at the right time!
}

.content .box3 {
	@media @tablet {
		background-color: purple;
	   }
	// style this at the right time!
}

.content .box4 {
	@media @tablet {
		background-color: green;
		@media @phone { 
			background-color: orange;
		   } 
	   }
	// style this at the right time!
}

footer {
	width: 100%;
	height: 50px;
	background: @primary-color;
	font-size: 1rem;
	.center-content; } 
	@media @phone { 
		background-color: orange;
	}
//Use the mixin ".center-content" to center the text in nav, .logo, .boxes, and the footer.
//Use the mixin ".border-radius" to make the .logo an oval shape (hint: 50%)////