.container {
	width: 100%;
	max-width: 900px;
	min-width: 300px;
	margin: 0 auto;
	color: @min-white;
	header {
		width: 100%;
		height: 100px;
		margin-bottom: 20px;
		display: flex;
		flex-direction: column-reverse;
		@media @tablet {
			flex-direction: row;
		}
		nav {
			background-color: @min-orange;
			width: 100%;
			height: 50%;
			margin-right: 0;
			.center-content;
			@media @tablet {
				height: 100%;
				margin-right: 2%;				
				background-color: @min-green;
			}
			@media @desktop {				
				background-color: @min-black;
			}
		}
		.logo {
			width: 20%;
			height: 50%;			
			background-color: @min-purple;
			.center-content;
			.border-radius(50%);
			@media @tablet {
				height: 100%;
			}
			@media @laptop {
				background-color: @min-black;
			}			
		}
	}
	.content {
		margin-top: 20px;
		width: 100%;
		height: 100%;
		margin-bottom: 20px;
		display: flex;
		flex-flow: wrap;
		justify-content: space-evenly;
		.boxes {
			width: 100%;
			height: 200px;
			color: @min-white;
			margin-bottom: 20px;
			display: flex;
			.center-content;
			@media @laptop {
				width: 45%;
			}
		}
		.box1 {
			background-color: @min-orange;			
			@media @tablet {
				background-color: @min-green;
			}
			@media @desktop {
				background-color: @min-black;
			}
		}
		
		.box2 {
			background-color: @min-purple;			
			@media @laptop {
				background-color: @min-black;
			}	
		}
		
		.box3 {
			background-color: @min-purple;
			@media @laptop {
				background-color: @min-black;
			}	
		}
		
		.box4 {
			background-color: @min-orange;		
			@media @tablet {
				background-color: @min-green;
			}
			@media @desktop {
				background-color: @min-black;
			}
		}
		}// content
	footer {
		width: 100%;
		height: 50px;
		background-color: @min-orange;	
		.center-content;
		@media @tablet {
			background-color: @min-black;
		}
	}
}
