.custom-btn (@width: 120px, @height: 40px, @background-color: @ebony-clay, @font-color: @sea-shell){
    display: flex;
    justify-content: center;
    align-items: center;
    color: @font-color;
    background-color: @background-color;
    height: @height;
    width: @width;
    font-size: 1.8rem;
    border-radius: 5px;
    text-decoration: none;

    &:hover {
        background-color: @font-color;
        color: @background-color;
        cursor: pointer;
    }
}
