// Mixins Here

.button(@bgcolor: @ebony-clay, @color: @porcelain, @fontSize: 2em, @width:30%, @padding: 2% 4%) {
    background-color: @bgcolor;
    color: @color;
    font-size: @fontSize;
    width: @width;
    padding: @padding;
    border-radius: 5px;
    text-align: center;
}

.flex(@direction:flow,@content:center,@items:center) {
    display: flex;
    flex-direction: @direction;
    justify-content: @content;
    align-content: @content;
    justify-items: @items;
    align-items: @items;
}
