
@media (max-width: 500px){
    body{
        display: flex;
        flex-direction: column;
        max-width: 80%;
        margin: auto auto;

        header .navi{
            border-radius: 2%;
            max-width: 80%;
        }

        .navi nav{
            display: flex;
            .flexer(row,space-evenly);
            align-content: flex-end;
            margin-top: 2%;
            width: 100%;
            
            
            a{
                font-size: 1.6rem;
                text-decoration: none;
                margin: 1% 1%;
                font-family: 'Ubuntu', sans-serif;
                color: @header-font-color;
            }
        }

        .container .intro img{
            width: 100%;
            object-fit: fill;
            border-radius: 10px;
        }
        .container .space-images .blast{

            width: 100%;
        }
        
        .container .space-images .sky{
            display: none;
        }      
        .container .space-images .launch{
            display: none;
        }

        .home .walk{
            display: flex;
            .flexer(column-reverse,center);
            align-items: center;
            width: 100%;
            
            .walk-text{
                direction: flex;
                width: 120%;
                justify-content: center;
                align-items: center;         
            }

            .walk-img{
                width: 120%;
            }

        }
    }

}