@media screen and (max-width: @mobile) {

    body{
        display: flex;
        flex-direction: column;
        max-width: 80%;
        margin: auto auto;

        header .container{
            border-radius: 2%;
            max-width: 80%;
        }

        .intro nav{
            display: flex;
            // .flexer(row,space-evenly);
            // align-content: flex-end;
            // margin-top: 2%;
            // width: 100%;
            
            
            a{
                .styler();
                font-size: 1.6rem;
                margin: 1% 5%;
                color: @header-font-color;
            }
        }

        .container .about .space-image{
            max-width: 100%;
            object-fit: fill;
            border-radius: 10px;

            img{
                max-width: 100%;
            }
        }

        .container .space-images .blast{
            width: 100%;
        }
        
        .container .space-images .sky{
            display: none;
        }      
        .container .space-images .launch{
            display: none;
        }

        .home .walk{
            display: flex;
            .flexer(column-reverse,center);
            align-items: center;
            width: 100%;
            
            .walk-text{
                direction: flex;
                width: 120%;
                justify-content: center;
                align-items: center;         
            }

            .walk-img{
                width: 120%;
            }

        }
    }

}
  