.header{
    margin-left:-746px;
}

.top-image{
    width: 40%;
    height: 203px;
    padding-right: -12px;
    padding-right: -5%;
    margin-left: 0%;
    margin-top: -14px;
}


.first-p{
    line-height: 27px;
    width: 38%;
    margin-left: 1%;
    margin-top: -2%;
    font-size: 15px;
}

#Rockets{
    width: 50%;
    margin: 23px 7px -1px 5px;
        margin-left: 5px;
    border-radius: 20px;
    height: 100%;
    margin-left: -159px;
    margin-top: 22px;

    img:nth-child(2), 
    img:nth-child(3) {
      @media only screen and (max-width: @phone) {
        display: none !important;
      }
    }

}

.visitation{
    margin-left: 47px;
    font-size: 28px;
}

.bottom-content{
    line-height: 27px;
    width: 33%;
    margin-left: 2%;
    margin-top: -2%;
    font-size: 15px;
}

.walk{
    margin-left: 21%;
    font-size: 28px;
    margin-top: 6px;
    margin-left: 95px;

}

.sidebyside{
    display: flex;
    margin-top: -39px;
    margin-left: -273px;
    flex-direction: column-reverse;
}
