// Navigation code here

nav {
  .b_dp();
  .flex-col();
  background-color: @nav-bg;
  border-bottom: 1px solid @nav-border;
  h1{
    .b_fg();
    font-size: 4rem;
    color: @header-font-color;
    padding: 1%
  }
  .navbar{
    .b_rp();
    .flex-row();
    width: 45%;
    margin-bottom: 1.5%;
    padding: 0;
    a{
      .b_o();
      color: @nav-font;
      font-size: 1.5rem;
    }
  }
}

