nav {
  border: 1px dashed orange;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
}
nav a {
  align-content: space-between;
  font-size: 1.6rem;
  text-decoration: none;
}
