header {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    padding-bottom: 20px;
    align-items: center;
    background-color: @nav-bg;
    width: 100%;
    position: sticky;
    top:0;
    background-color:fade(@nav-bg,80%);

    

    h1 {
        font-size: 3.2rem;
        padding-bottom: 20px;
    }

    nav a {
        text-decoration: none;
        font-size: 1.8rem;
        margin-right: 5px;
        margin-left: 5px;
        color: @nav-font;
        padding-right: 20px;
    }
    
    @media @phone {
        nav a {
            font-size: 1.5rem;
        }

    }
}