// Navigation code here
header {
    flex-direction: column;
    .evenly-center;

    h1 {
        padding-top: 20px;
        font-size: 3.5rem;
    }

    nav {
        font-size: 1.3rem;
        padding: 20px 0;
        width: 40%;
        .evenly-center;
        

        a {
            text-decoration: none;
        }
    }
}