// Navigation code here

nav {
	position: sticky;
	top: 0;
	display: flex;
	flex-direction: column;
	background-color: @wild-sand;
	width: 800px;
	padding: 0 0 1%;
	margin: 0 auto; 

	@media @mobile {
		width: 100%;
	}

	h1 {
		color: @river-bend;
		font-size: 4em;
		text-align: center;
		margin: 3% 0 2%;

		@media @mobile {
			font-size: 4em;
		}
	}

	.links {
		width: 50%;
		display: flex;
		justify-content: space-around;
		margin: 0 auto;

		@media @mobile {
			width: 80%;
		}

		a {
		text-decoration: none;
		font-size: 1.7em;
		color: @river-bend;
		}
	}
}