article{
    width: 80%;
    margin-left: 10%;
    img{
        width: 80%;
        height: 80%;
        margin-left: 10%;
    }
    .blog-header{
        text-align: center;
        font-size: 3rem;
    }
    p{

    }
}