// Sign-in Page

.log-in {

    .intro {
  
      margin-top: 15%;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      padding-bottom: 5%;
  
      h2 {
        padding: 15px;
      }
  
      p {
        padding:2% 2%;
      }
  
      img {
        border-radius: 5px;
  
        
          
          @media @mobile {
          width: 98%;
          margin-top: 5%;
          margin-left: 1%;      
        }
    
    }
  }
}  