.form {
    width: 500px;
    background-color: @porcelain;
    .flex(column);
    align-items: center;
    align-content: center;

    h3 {
        padding: 15px;
    }

    p {
        width: 400px;
        padding-bottom: 15px;
    }

    form {
        select {
            width: 200px;
        }
    }
}