
// Sign Up Page Styling
  
  .sign-up-intro {
  
    h2 {
      padding: 15px 0;
    }
  
    p {
      padding: 15px 0;
    }
  
    display: flex;
    flex-direction: column;
    height: 60vh;
    justify-content: space-around;
    align-items: center;
  }
  
  .sign-up-form {
    display: flex;
    flex-direction: column;
    

    .form-name, .form-email {
      display: flex;
      flex-wrap: wrap;
  
      input {
        flex: 1;
        padding-left: 1rem;
        align-self: center; 
        height: 4rem;
      }
      p {
        flex: 1;
        font-size: 2rem;
      }
    }
    .form-often {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      font-size: 2rem;
      p {
        font-size: 2rem;
      }
      .radio {
        font-size: 2rem;
        align-self: ;
      }
    }
  }

  .radio-buttons {
      display: flex;
      justify-content: space-between;
  }

  .sign-up-walk-img {
    @media @phone {
      width: @full-width;
      margin: 20% 10%;
    }
  
    width: @full-width;
    margin: 20% 10%;
  
    img {
      height: auto;
      border-radius: 10px;
    }
  }