* {box-sizing: border-box}

header {
    .header-img {
        width: 100%;
    }
}
.container-main {
max-width: 800px;
width: 95%;
   margin-left: 15px;
  
}

form {
   .center();
   width: 100%;
    // margin-left: 30px;
    margin-bottom: 25px;
 }
.sign-form {
    font-size: @font-size;
}

input {
    font-size: 1.3rem;
}
/* Full-width input fields */
  input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: 1px solid @main-border-color;
  background: white;
  color: black;
}

input[type=text]:focus, input[type=password]:focus {
  outline: none;
}

hr {
  border: 1px solid @main-border-color;
  margin-bottom: 25px;
}

/* Set a style for all buttons */
button {

    background-color: black;
    color: white;
    border-radius: 5px;
    width: 30%;
    height: 30px;
    font-size: @font-size;
    padding-top: 5px;

}

button:hover {
  opacity:1;
}

/* Extra styles for the cancel button */
.cancelbtn {
  padding: 14px 20px;
  
  background-color: black;
    color: white;
    border-radius: 5px;
    width: 30%;
    height: 30px;
    font-size: @font-size;
    // .center();
    padding-top: 5px;
}

/* Float cancel and signup buttons and add an equal width */
.cancelbtn, .signupbtn {
  float: left;
  width: 50%;
}

/* Add padding to container elements */
.container {
  padding: 16px;
}

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

