.home {

    h2 {
        text-align: center;
    }

    form {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
       

        .container {
            width: 50%;
            
            input[type=text], input[type=password] {
                width: 100%;
                padding: 12px 10px;
                margin: 8px 0;
                border: 1px solid darkgray;
            }

            label {
                font-size: 1.6rem;
            }
            
        }

        .img-container {
            
            .avatar {
                margin-top: 10px;
                width: 100%;
                border-radius: 100%;
            }
        }

        button {
            .button();
            margin-bottom: 10px;
            padding-top: 1px;
        }
    }
}