.page-header {
  width: 100%;
  .flex(@direction: column; @align:center);
  background: @nav-bg;
  border-bottom: 2px solid @nav-border;

  .logo {
  .headerFontStyle(4.2rem);
  margin: 15px auto;

    @media @phone {
      font-size: 4rem;
    }
  }
}