.sign_up{
    .intro {
        .earth {
          border-radius: 5px;
          width: 100%;
        }
    
        h2 {
          padding: 15px;
        }
    
        p {
          padding: 0 15px;
        }
    }

    .sign-up {
        background: @wild-sand;
        border-radius: 2.5%;
        margin: 25px auto;
        padding: 50px 5%;
        margin-bottom: 100px;
    
        
        .form {
            .btn {
                #button-styles > .half-btn(40px, @button-bg, @button-font);
                .center();
            }
        }
    }
}

