.sign-in {

  header {
    margin: 20px 0;
    border-bottom: 2px solid @nav-border;
    padding: 20px 0;
    .custom-layout(flex-start, center);

    @media @mobile {
      margin-left: 3%;
    }

    h2 {
      margin-left: 2%;
      padding-top: 19px;
    }
  }

  .form-container {
    border: 1px solid @nav-border;
    border-radius: 9px;
    .center;
    width: 70%;
    margin-top: 50px;
    .space-bottom(50px);
    padding: 50px;
    padding-bottom: 0;
    background-color: @nav-border;

    @media @mobile {
      width: 93%;
      padding: 30px;
      padding-bottom: 0;
    }

    .helmet-icon {
      .custom-layout(center, flex-start);
      .space-bottom;

      img {
        width: 30%;
      }
    }

    .form-group {
      .custom-layout(space-around, stretch);
      flex-direction: column;

      label {
        font-size: 2rem;
        color: @header-font-color;
        .space-bottom(10px);
      }

      input {
        border: 1px solid @main-border-color;
        .space-bottom(30px);
        border-radius: 5px;
        padding: 13px 2%;
        font-size: 1.6rem;
      }

      button {
        .custom-button(100%, 10px, @btn-bg-color, @btn-color);
        .space-bottom;
      }
    }
  }
}