.photo-social {
    width: 50%;
    .flex(column;
    center;
    center);
    h2 {
        font-size: 1.8rem;
        margin-bottom: 20px;
    }
    .social-buttons {
        .flex(row;
        space-between;
        center);
        @media @phone {
            .flex (column;
            space-between;
            center);
            margin-top: 20px;
        }
        i {
            font-size: 3rem;
            color: @accent-color;
            @media @phone {
                margin-top: 50px;
                font-size: 4rem;
            }
        }
    }
    img {
        width: 100%;
        border-radius: 10px;
        margin-bottom: 50px;
        @media @phone {
            display: none;
        }
    }
}