.subscription {
    padding-top: 20px;
    margin-bottom: 20px;

    h2 {
        @media @device-size[phone] {
            font-size: 2rem;
            margin-bottom: 25px;
        }
    }

    form {
        margin-top: 15px;

        label {
            #spacewalkers-sub-form > .form--label();
            @media @device-size[phone] {
                font-size: 1.8rem;
            }
        }

        input[type="text"], input[type="email"], select {
            #spacewalkers-sub-form > .form--textfield();
        }

        textarea {
            #spacewalkers-sub-form > .form--textarea();
        }

        input[type="submit"] {
            #spacewalkers-sub-form > .form--submit-button();
        }
    }
}