// Variables

// Navigation background: #F6F6F6
@navBg: #F6F6F6;
// Navigation font color: #454A59
@navFont: #454A59;
// Navigation border color: #F1F1F1;
@navBorder: #F1F1F1;

// Main background color: #FFFFFF
@mainBg: #FFFFFF;
// Header font color: #23293B
@headFont: #23293B;
// Paragraph font color: #5E6164
@paraFont: #5E6164;
// Border color for main content: #F6F7F8
@mainBorder: #F6F7F8;

// Footer background color: #F4F4F4
@footerBg: #F4F4F4;
// Footer text color: #81848E
@footerText: #81848E;


@stdFont: 1.6rem;