// Variables
@main-color: #f4f4f4;
@secondary-color: #22283B;
@accent-color: #e0e0e0;
@main-content-width: 880px;
@margin: 0 auto;
@paragraph-size: 1.9rem;
@paragraph-line-height: 30px;
@h2-size: 3.5rem;
@link-size: 2rem;