// Variables
// Color assignments
@title-color: @dark-grey;
@border: @medium-grey;
@head-foot-background: @light-grey;

// Colors
@light-grey: rgb(244, 244, 244);
@medium-grey: rgb(222, 226, 230);
@dark-grey: rgb(68, 73, 88);

// Media
@phone: ~'(max-width:500px)';