// Home Content

.about {
  margin-top: 110px;
  @media @fixing{margin-top: 88.3px;}
  @media @phone-down{margin-top: 99.78px;}

  header {

    padding: 10%;
    img {
      border-radius: 10px;
      width: 100%;
      height: auto;
    }
  }
}// home