// Mixins Here

.flexDwn(){
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}

.flexCross(){
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items:center;
    width:100%;
}


.pBtn(){
    @media (max-width:@phone){
        width:100%;
       display:flex;

         }

         button:hover{
             background-color:seagreen;
             color:red;
         }
}

.cBtn(){

    font-size:2rem;
    font-weight:bolder;
    padding:10px 15px;
    border-radius:5px;
    background-color:#23293B;
    color:#fff;
    border:none;

        

   @media (max-width:@phone) {
     width:100%;
    .flexCross();

      }
}