.btn-div {
    color: @porcelain;
    background-color: @btn-bg-color;
    border-color: #e5e5e5;
    font-family: @default-font;
    text-shadow: none;
    cursor: pointer;
    display: inline-block;
    vertical-align: baseline;
    font-size: 1.4rem;
    margin: 0em 0.25em 0em 0em;
    padding: 0.78571429em 1.5em 0.78571429em;
    text-transform: none;
    text-shadow: none;
    font-weight: bold;
    line-height: 1em;
    text-align: center;
    text-decoration: none;
    border-radius: 0.28571429rem;
}

.btn-div:hover
    {
    color: @btn-bg-color;
    background-color: @porcelain;
}