.site-header {
  background: @nav-bg;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}

.logo {
  text-decoration: none;
    background: @nav-bg;
    color: @nav-font;
  font-size: 4rem;
  letter-spacing: 3px;
  padding: 10px;
  font-family: @special-font;
  

}

.site-nav {
    order: 2;
    background: #333;
    width: 100%;
     background: @nav-bg;
  ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: center;
  }
  a {
    color: @nav-font;
    font-family: @default-font;
    text-decoration: none;
    padding: 20px;
    display: inline-block;
  }
}